Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Tag name updated
  doctrine/events.rst
Owners: none

Fixes wrong tag for RouteLoaderInterface registration without autoconfiguration
  routing/custom_route_loader.rst
Owners: none

Missing closing tag for endblock.
  templates.rst
Owners: none

[FrameworkBundle] Deprecate flashbag and attributebag services
  session.rst
Owners: none

Fixes wrong tag for RouteLoaderInterface registration without autoconfiguration
  routing/custom_route_loader.rst
Owners: none

Improved tip message to make it more clear that the index.html takes precedence over the index.php
  setup/symfony_server.rst
Owners: none

fix displaying `empty_data` option for hidden field
  reference/forms/types/hidden.rst
Owners: @xabbuh

fix displaying `empty_data` option for hidden field
  reference/forms/types/hidden.rst
Owners: @xabbuh

Improved PHP-FPM section to list the common patterns to find a front controller
  setup/symfony_server.rst
Owners: none

[Setup] Clarify the Symfony binary and show small PHP built-in command
  setup.rst
  setup/symfony_server.rst
Owners: none

Add tip about accessing removed services in the testing doc
  testing.rst
Owners: none

clarifying how to create a public alias for a test
  testing.rst
Owners: none

Notes added by 'git notes add'
  df/4b2cb97216eef9287daa01718c9a6b5d87c6cd
Owners: none

Tweak
  testing.rst
Owners: none

Add section about Workflows and State Machine validation
  workflow/workflow-and-state-machine.rst
Owners: @lyrixx

Notes added by 'git notes add'
  f9/a4454e3d09f027997a0ba940b40f198854d3d1
Owners: none

Minor reword
  workflow/workflow-and-state-machine.rst
Owners: @lyrixx

Update input.rst
  console/input.rst
Owners: @chalasr

Reword
  console/input.rst
Owners: @chalasr

Shortening Doctrine Note
  form/form_collections.rst
Owners: none

Reword
  form/form_collections.rst
Owners: none

Minor reword
  form/form_collections.rst
Owners: none

Symfony Security Check Command Fix
  setup.rst
Owners: none

Update associations.rst
  doctrine/associations.rst
Owners: none

No longer recommend injecting the service container
  service_container.rst
Owners: none

Document AMPHP HttpClient integration for HTTP/2
  components/http_client.rst
Owners: none

messenger: add multiple transports support documentation
  messenger.rst
Owners: none

fix spacing
  messenger.rst
Owners: none

add failed commands option to specify failed_transport
  messenger.rst
Owners: none

moving mailer transport section
  mailer.rst
Owners: none

[Validator] Fixed `Traverse` constraint reference
  reference/constraints/Traverse.rst
  reference/constraints/Valid.rst
Owners: @xabbuh

Adding bulma theme
  form/form_themes.rst
Owners: none

Update serializer.rst
  components/serializer.rst
Owners: none

[Form] Added explicit `getParent()` call in types inheritance mechanism
  form/create_custom_field_type.rst
Owners: none

Adding bulma theme
  form/form_themes.rst
Owners: none

Tweak
  components/serializer.rst
Owners: none

Document all core response http control directives
  components/http_foundation.rst
  create_framework/http_kernel_httpkernelinterface.rst
  http_cache.rst
Owners: none

Minor reword
  service_container.rst
Owners: none

Fixed the link syntax
  doctrine/associations.rst
Owners: none

Added the missing versionadded directives
  components/http_foundation.rst
  http_cache.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
