Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Notes added by 'git notes add'
  ce/ebd1b7558303fbdf8e71b1fb70c81e2fdb0f6a
Owners: none

[Intl] Improve note about ext-intl.
  components/intl.rst
Owners: none

Minor tweaks
  components/intl.rst
Owners: none

[Testing] Use a better example for Symfony asserts
  testing/functional_tests_assertions.rst
Owners: none

Added reasoning to autowiring in public bundles
  service_container/autowiring.rst
Owners: none

Document pre-conditions for HttpClient asynchronous behavior
  components/http_client.rst
Owners: none

Typo
  notifier.rst
Owners: none

Update link for (No|Admin)Recipient
  notifier.rst
Owners: none

Update micro_kernel_trait.rst
  configuration/micro_kernel_trait.rst
Owners: none

[#12722] Added filename comment to avoid confusion
  configuration/micro_kernel_trait.rst
Owners: none

Update testing.rst
  testing.rst
Owners: none

[#12857] Fix options order and added versionadded directive
  reference/constraints/Country.rst
Owners: @xabbuh

[#13000] Fixed newline
  configuration/front_controllers_and_kernel.rst
Owners: none

Formatting + name steps
  .github/workflows/ci.yaml
Owners: none

Address comments by @localheinzwq
  .github/workflows/ci.yaml
Owners: none

Use Sphinx GithubAction instead of Travis
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
  .travis.yml
Owners: none

Notes added by 'git notes add'
  4a/a2fa05d3577f22f2be5e9c9c482fe1362d9d13
Owners: none

Formatting + name steps
  .github/workflows/ci.yaml
Owners: none

Use GithubAction instead of Travis
  .github/workflows/ci.yaml
  .travis.yml
Owners: none

Address comments by @localheinzwq
  .github/workflows/ci.yaml
Owners: none

Use one workflow file
  .github/workflows/lint.yaml
Owners: none

Notes added by 'git notes add'
  28/96b03de083ce928d9e5445f191d84bfc226da0
Owners: none

Show used version
  .github/workflows/ci.yaml
Owners: none

Remove mention of removed firewall ListenerInterface
  components/security/authentication.rst
  components/security/firewall.rst
Owners: @chalasr

Added choices to message parameters
  reference/constraints/Choice.rst
Owners: @xabbuh

Update service_subscribers_locators.rst
  service_container/service_subscribers_locators.rst
Owners: none

[DomCrawler] Document UriResolver
  components/dom_crawler.rst
Owners: none

Notes added by 'git notes add'
  be/8b2b7a9277499dfad004952df17661b8e333b1
Owners: none

minor. refs #13054
  components/dom_crawler.rst
Owners: none

Fix dead anchor links
  security/password_migration.rst
Owners: @chalasr

minor to fix syntax. #13018
  security/password_migration.rst
Owners: @chalasr

Update file_permissions.rst
  setup/file_permissions.rst
Owners: none

[Notifier] Added the Mattermost and RocketChat integrations
  notifier.rst
Owners: none

Update email.rst
  email.rst
Owners: none

Update monolog_email.rst
  logging/monolog_email.rst
Owners: none

Update symfony_server.rst
  setup/symfony_server.rst
Owners: none

Update email.rst
  email.rst
Owners: none

Update email.rst
  email.rst
Owners: none

Document new feature
  components/cache/datacollector/cachedatacollector.rst
Owners: none

mention RetryableException
  messenger.rst
Owners: none
