Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

remove gender-related terms from HTTP fundamentals diagrams
  _images/http/xkcd-full.png
  _images/http/xkcd-request.png
Owners: none

Update profiler.rst
  profiler.rst
Owners: none

Update simple-example.rst
  frontend/encore/simple-example.rst
Owners: none

Add tip for trusted_proxies
  deployment/proxies.rst
Owners: none

minor. refs #12622
  deployment/proxies.rst
Owners: none

use versionchanged
  translation/templates.rst
Owners: none

Fixed the explanation of the utf8 router option
  reference/configuration/framework.rst
Owners: none

Add some links to objects injected by Symfony in expressions
  components/expression_language/syntax.rst
Owners: none

Fix broken link for multiple messenger buses
  messenger/message-recorder.rst
Owners: none

fix supported installable version formats
  setup.rst
Owners: none

[Monolog] Do not autowire the ElasticsearchLogstashHandler service
  logging/handlers.rst
Owners: none

ContainerAwareEventDispatcher was removed
  components/event_dispatcher.rst
Owners: none

use a lovercase title for the link. refs #12638
  messenger/message-recorder.rst
Owners: none

Replace images by more recent one
  _images/controller/error_pages/errors-in-prod-environment.png
  _images/controller/error_pages/exceptions-in-dev-environment.png
Owners: none

Notes added by 'git notes add'
  99/ac3138cb8737984117d5658289ef67dfeef055
Owners: none

BC promise: only optional arguments can be removed
  contributing/code/bc.rst
Owners: none

Fix typo in lock.rst
  components/lock.rst
Owners: none

Add note about .env.local being ignored in test environment
  configuration.rst
Owners: none

improve sentence re: `content-disposition` header
  components/http_foundation.rst
Owners: none

move reference target to the bottom of the document
  bundles/best_practices.rst
Owners: none

Update MySQL column type definition
  doctrine/pdo_session_storage.rst
Owners: none

Add isMasterRequest method
  reference/events.rst
Owners: none

Change the default mapping type to XML
  doctrine/reverse_engineering.rst
Owners: none

fix typo (backport #12653)
  components/http_foundation.rst
Owners: none

remove additional blank line
  components/expression_language/syntax.rst
Owners: none

[#12637] update after merging up
  components/expression_language/syntax.rst
  routing.rst
Owners: none

[Messenger] Update version constraint for Redis extension
  messenger.rst
Owners: none

Update error_pages.rst
  controller/error_pages.rst
Owners: none

Documented the IPUtils::anonymize method
  components/http_foundation.rst
Owners: none

#12630 Update .env for \"send grid\" recipe change
  mailer.rst
Owners: none

Fixes #12662
  reference/configuration/security.rst
Owners: none

Removed 4.4 versionadded
  components/http_foundation.rst
Owners: none

add alterate to create a lazy loading twig extension
  templating/twig_extension.rst
Owners: none

#12661 Remove outdated service
  security/user_provider.rst
Owners: @chalasr

remove 'command' from execute argument
  console.rst
Owners: @chalasr

Remove deprecation notice block for tagged
  service_container/tags.rst
Owners: none

[Mailer] Removed mention of Let's Encrypt for S/MIME certificates
  mailer.rst
Owners: none

fix reference
  forms.rst
Owners: @xabbuh

Notes added by 'git notes add'
  d9/bd18fba8c566187a0c3572028abf448c79f2e1
Owners: none

Update "upgrading" guide for Symfony5
  setup/upgrade_major.rst
Owners: none
