Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Minor tweaks
  mailer.rst
Owners: none

Removed the versionadded directive
  mailer.rst
Owners: none

Update lock.rst
  components/lock.rst
Owners: none

Remove "mocking" to better reflect the subject.
  testing/database.rst
Owners: none

Minor fix
  testing/database.rst
Owners: none

Make clear when the options min and max are required
  reference/constraints/Length.rst
Owners: @xabbuh

[EventDispatcher] Document event name aliases.
  components/event_dispatcher.rst
  event_dispatcher.rst
Owners: none

Document the new --version option from the Symfony bin
  best_practices/creating-the-project.rst
  setup.rst
  setup/symfony_server.rst
Owners: none

Notes added by 'git notes add'
  90/b5e312e3faa959352f01dde6701ca448b19fae
Owners: none

Update validation.rst
  validation.rst
Owners: none

Minor tweak
  validation.rst
Owners: none

Include the version option at the end
  best_practices/creating-the-project.rst
  setup.rst
  setup/symfony_server.rst
Owners: none

Update groups.rst
  validation/groups.rst
Owners: none

[Encore] Replace "Encore.setPublicPrefix" by "Encore.setPublicPath"
  frontend/encore/faq.rst
Owners: none

Update message_format.rst
  translation/message_format.rst
Owners: none

[Form] Added docs for alpha3 option in CountryType and LanguageType
  reference/forms/types/country.rst
  reference/forms/types/language.rst
  reference/forms/types/options/alpha3.rst.inc
Owners: @xabbuh

Minor reword
  reference/forms/types/country.rst
  reference/forms/types/language.rst
  reference/forms/types/options/alpha3.rst.inc
Owners: @xabbuh

Removed the versionadded directive
  reference/forms/types/options/alpha3.rst.inc
Owners: @xabbuh

Simplified tagged services YAML example
  service_container/tags.rst
Owners: none

[SerializerFixed some links to some classes
  serializer/normalizers.rst
Owners: none

Update guard_authentication.rst
  security/guard_authentication.rst
Owners: @chalasr

Update dic_tags.rst
  reference/dic_tags.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

List CSV encoder's context options
  components/serializer.rst
Owners: none

Added hint for following instructions to install phpunit.
  contributing/code/tests.rst
Owners: none

Changed the ISO Code and example for LanguageType
  reference/forms/types/country.rst
  reference/forms/types/language.rst
  reference/forms/types/options/alpha3.rst.inc
Owners: @xabbuh

Documentation for Bootstrap 4 custom switches
  form/bootstrap4.rst
Owners: none

Moved links at the bottom of the articles
  reference/forms/types/country.rst
  reference/forms/types/language.rst
Owners: @xabbuh

Fix wrong heading for not_compromised_password
  reference/configuration/framework.rst
Owners: none

Change language about storing .env files in the repo
  components/dotenv.rst
Owners: none

Removed sidebar about Statefull data mappers
  form/data_mappers.rst
Owners: none

[Serializer] Document new `cast_primitive_types` context option
  components/serializer.rst
Owners: none

Notes added by 'git notes add'
  72/3ab0aa89e9e5416a2766062622c3ca0d950843
Owners: none

Documented the String component
  _images/components/string/bytes-points-graphemes.png
  components/string.rst
Owners: none

Notes added by 'git notes add'
  22/cb71f18452fbc15886465d32cd2367d875c0cf
Owners: none

Minor tweak
  components/string.rst
Owners: none

Minor fix in the String doc
  components/string.rst
Owners: none

Fix issue #12444 (removing irrelevant note)
  routing.rst
Owners: none

Adapted the HTTPlug integration docs to Async Client
  components/http_client.rst
Owners: none

Complete doc for 4.4 features
  components/http_client.rst
Owners: none
