Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

*Response::create() method is deprecated
  migration.rst
Owners: none

Update mailer.rst
  components/mailer.rst
Owners: none

get/setThrowable
  components/http_kernel.rst
  event_dispatcher.rst
  reference/events.rst
Owners: none

Added note regarding workflow "entered" event being dispatched on creation
  workflow.rst
Owners: @lyrixx

Notes added by 'git notes add'
  05/516097331cac43ff41660b2ade2f0210ee6c4d
Owners: none

Notes added by 'git notes add'
  7e/f72fe8eee600c778e4d68537555328fd1d2a69
Owners: none

Remove old versionadded directives
  components/expression_language/syntax.rst
  components/http_kernel.rst
  security/password_migration.rst
  service_container.rst
  workflow.rst
Owners: @chalasr, @lyrixx

Update lock.rst
  components/lock.rst
Owners: none

Update lock.rst
  components/lock.rst
Owners: none

Update lock.rst
  components/lock.rst
Owners: none

do not use deprecated factory method
  migration.rst
Owners: none

Update setup.rst
  setup.rst
Owners: none

fix a typo in mailer docs (Mutliple -> Multiple)
  mailer.rst
Owners: none

[Form] Documented the choice_self_translation option of LanguageType
  reference/forms/types/language.rst
Owners: @xabbuh

Minor tweak in a security expression explanation
  security/expressions.rst
Owners: @chalasr

Explain the prefix used for expressions in YAML files
  service_container/expression_language.rst
Owners: none

Fixed the minimum Twig version needed for lazy extensions
  templating/twig_extension.rst
Owners: none

Revert "feature #11802 [Process] allow writing "prepared" command line. (Simperfit)"
  components/process.rst
Owners: none

[Cache] Expand the docs about the cache chain
  cache.rst
Owners: none

[Cache] Fixed a minor RST syntax issue
  cache.rst
Owners: none

Update paragraph about portable command lines
  components/process.rst
Owners: none

Update babel.rst
  frontend/encore/babel.rst
Owners: none

Update messenger.rst
  messenger.rst
Owners: none

Fixed DOCtor whitelist
  .doctor-rst.yaml
Owners: none

Update setup.rst
  setup.rst
Owners: none

Removed 4.4 versionadded from the 4.3 docs
  components/cache/adapters/redis_adapter.rst
Owners: none

Revert "Removed 4.4 versionadded from the 4.3 docs"
  components/cache/adapters/redis_adapter.rst
Owners: none

ListenerInterface deprecated since Symfony 4.3
  security/custom_authentication_provider.rst
Owners: @chalasr

ListenerInterface deprecated since Symfony 4.3
  security/custom_authentication_provider.rst
Owners: @chalasr

Update standards.rst
  contributing/code/standards.rst
Owners: none

Updated a link to Debug component
  components/phpunit_bridge.rst
Owners: none

Updated the location of the errors.xml file
  controller/error_pages.rst
Owners: none

Fix 12273 Added new ErrorController
  controller/error_pages.rst
  reference/configuration/framework.rst
  reference/configuration/twig.rst
Owners: none

Notes added by 'git notes add'
  89/1b677ef3f6ec1a1d29c69512994ea6992628d7
Owners: none

Minor tweaks
  controller/error_pages.rst
  reference/configuration/framework.rst
Owners: none

Removed 4.4 versionadded and deprecations
  reference/configuration/framework.rst
  reference/configuration/twig.rst
Owners: none

Scalingo is another PaaS which supports Symfony
  deployment.rst
Owners: none

Mentioned the PHP 7.4 class preloading
  performance.rst
Owners: none

Removed the versionadded directive
  performance.rst
Owners: none

Fix highlighting. Refs #12781
  security/custom_authentication_provider.rst
Owners: @chalasr

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
