Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

minor tweaks
  security/user_provider.rst
Owners: @chalasr

Update testing.rst
  testing.rst
Owners: none

Update testing.rst
  testing.rst
Owners: none

Update testing.rst
  testing.rst
Owners: none

[Validator] Documented the Hostname constraint
  reference/constraints.rst
  reference/constraints/Hostname.rst
  reference/constraints/map.rst.inc
Owners: @xabbuh

Notes added by 'git notes add'
  d0/b800f609c759d46a1800b4213dc63cc620bf0a
Owners: none

[Translation] Document the enabled_locales option
  performance.rst
  reference/configuration/framework.rst
Owners: none

[Validator] Allow to define a reusable set of constraints
  reference/constraints.rst
  reference/constraints/Compound.rst
  reference/constraints/map.rst.inc
  validation/custom_constraint.rst
Owners: @xabbuh

Add KnpUOAuth2ClientBundle as a Guard solution
  security/guard_authentication.rst
Owners: @chalasr

Update setup.rst
  setup.rst
Owners: none

Notes added by 'git notes add'
  de/49f6dd85cc6691f93fb47e45403e02f778a57e
Owners: none

Add Installation headline
  notifier.rst
Owners: none

Update filesystem.rst
  components/filesystem.rst
Owners: none

precised output for absolute_url
  reference/twig_reference.rst
Owners: none

Update asset.rst
  components/asset.rst
Owners: none

Update templates.rst
  templates.rst
Owners: none

[Notifier] Document sinch bridge dsn
  notifier.rst
Owners: none

Correct outdated/incorrect comment in code snippet
  routing.rst
Owners: none

Updated the versionadded directive
  notifier.rst
Owners: none

[Notifier] Add section Disabling Delivery
  notifier.rst
Owners: none

Minor tweak
  notifier.rst
Owners: none

Fixed CSRF check in controller
  controller/csrf_token_validation.rst
Owners: none

Adds exception template variable available in custom error pages
  components/error_handler.rst
  controller/error_pages.rst
Owners: none

Notes added by 'git notes add'
  7e/a412c1105a3cbea76860484e6739790f593ce7
Owners: none

Add XML schema location for container configuration
  routing.rst
Owners: none

[String] Documented the new argument of truncate()
  components/string.rst
Owners: none

[Console] Documented the Command::SUCCESS and Command::FAILURE constants
  console.rst
  console/lockable_trait.rst
Owners: @chalasr

Update installation.rst
  frontend/encore/installation.rst
Owners: none

Minor tweak
  frontend/encore/installation.rst
Owners: none

Misc. wording/grammar changes
  configuration.rst
Owners: none

[Tests] added a note about installing PHPUnit dependencies
  testing.rst
Owners: none

Minor fixes in configuration blocks
  bundles/configuration.rst
  bundles/prepend_extension.rst
  cache.rst
  configuration.rst
  configuration/environments.rst
  configuration/external_parameters.rst
  configuration/using_parameters_in_dic.rst
  console/commands_as_services.rst
  console/input.rst
  controller.rst
  controller/argument_value_resolver.rst
  doctrine.rst
  email.rst
  event_dispatcher.rst
  logging.rst
  routing.rst
  service_container.rst
  translation.rst
  workflow.rst
Owners: @chalasr, @lyrixx

Fixed the Table of Contents of the performance article
  performance.rst
Owners: none

Update mailer.rst
  mailer.rst
Owners: none

[HttpFoundation] Document the Cookie::with*() methods
  components/http_foundation.rst
Owners: none

[Mailer] Document the usage of default_socket_timeout in SMTP
  components/mailer.rst
Owners: none

Minor tweak
  messenger.rst
Owners: none

[Workflow] Document the optional message of setBlocked()
  workflow.rst
Owners: @lyrixx

[Validator] Add a constraint to sequentially validate a set of constraints
  reference/constraints.rst
  reference/constraints/Sequentially.rst
  reference/constraints/map.rst.inc
  validation/sequence_provider.rst
Owners: @xabbuh

Fix broken example
  workflow.rst
Owners: @lyrixx
