Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

[Cache] Fix example for using cache tags with TagAwareCacheInterface
  cache.rst
Owners: none

[Cache] Fix example for using cache tags with TagAwareCacheInterface
  cache.rst
Owners: none

[Cache] Improved the example about cache tags
  cache.rst
Owners: none

Fixed code
  cache.rst
Owners: none

Notes added by 'git notes add'
  19/8049360d8e30763864f0e7d0af4b16f1760cb9
Owners: none

Reword
  components/phpunit_bridge.rst
Owners: none

Removed the versionadded directives
  components/phpunit_bridge.rst
Owners: none

Minor syntax issue
  components/phpunit_bridge.rst
Owners: none

Remove info about the HandlersLocator alias
  components/messenger.rst
Owners: none

Removed a versionadded directive
  service_container/autowiring.rst
Owners: none

Update Timezone.rst
  reference/constraints/Timezone.rst
Owners: @xabbuh

Remove Bundle Location for Translation in Symfony 4+
  translation.rst
Owners: none

Update events.rst
  reference/events.rst
Owners: none

Update unit_testing.rst
  create_framework/unit_testing.rst
Owners: none

Moved \"Best Practices\" to a dedicated article
  _build/redirection_map
  best_practices.rst
  best_practices/business-logic.rst
  best_practices/configuration.rst
  best_practices/controllers.rst
  best_practices/creating-the-project.rst
  best_practices/forms.rst
  best_practices/i18n.rst
  best_practices/index.rst
  best_practices/introduction.rst
  best_practices/map.rst.inc
  best_practices/security.rst
  best_practices/templates.rst
  best_practices/tests.rst
  best_practices/web-assets.rst
  contributing/documentation/standards.rst
  forms.rst
  index.rst
  routing.rst
  templates.rst
  testing.rst
Owners: @xabbuh

Update event_dispatcher.rst
  create_framework/event_dispatcher.rst
Owners: none

Moved the Doctrine Extensions to the main Doctrine article
  _build/redirection_map
  doctrine.rst
  doctrine/common_extensions.rst
Owners: none

Notes added by 'git notes add'
  7f/54d16bd640633e85734c4928cc2b14aa94a7c1
Owners: none

Fix invalid reference to importing JavaScript
  frontend/encore/installation.rst
Owners: none

[Workflow] Removed note about flushing in `entered` event
  workflow.rst
Owners: @lyrixx

Fix typo
  service_container/service_subscribers_locators.rst
Owners: none

Update dependency_injection.rst
  create_framework/dependency_injection.rst
Owners: none

Make clear when the options are effectively required
  reference/constraints/Count.rst
Owners: @xabbuh

Minor reword
  reference/constraints/Count.rst
Owners: @xabbuh

Highlighting possibilty to use FQCN as type value.
  reference/constraints/Type.rst
Owners: @xabbuh

Reword
  reference/constraints/Type.rst
Owners: @xabbuh

Fix double is
  reference/constraints/Type.rst
Owners: @xabbuh

Update options_resolver.rst
  components/options_resolver.rst
Owners: none

Update options_resolver.rst
  components/options_resolver.rst
Owners: none

Update exception message | options_resolver.rst
  components/options_resolver.rst
Owners: none

[Ldap] Add security LdapUser and provider (4.4)
  security/ldap.rst
Owners: @chalasr

Add section about Circular Reference Handler
  serializer.rst
Owners: none

Add missing "to"
  reference/configuration/framework.rst
Owners: none

Remove exception for only-of-type selector
  components/css_selector.rst
Owners: none

Update configuration.rst
  bundles/configuration.rst
Owners: none

Removed the deprecated directive
  security/ldap.rst
Owners: @chalasr

Reword
  components/css_selector.rst
Owners: none

Removed the versionadded directive
  components/css_selector.rst
Owners: none

[Mailer] Add support for multiple mailers
  mailer.rst
Owners: none

Notes added by 'git notes add'
  73/6f4170df1ef18ed72afd6171a22c2c3731bf89
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
