Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Fixed namespace in example
  forms.rst
Owners: @xabbuh

[#12191] Fixed another wrong namespace
  forms.rst
Owners: @xabbuh

fix example
  components/error_renderer.rst
Owners: none

fix service definition
  components/error_renderer.rst
Owners: none

ISSUE-12195: - Added documentation about how to autowire monolog channels.
  bundles/best_practices.rst
  console/commands_as_services.rst
  controller.rst
  logging.rst
  logging/channels_handlers.rst
  quick_tour/the_architecture.rst
  reference/configuration/monolog.rst
  reference/dic_tags.rst
  service_container.rst
  service_container/3.3-di-changes.rst
  service_container/autowiring.rst
Owners: @chalasr

Add stream_max_entries to full redis messenger dsn example
  messenger.rst
Owners: none

Notes added by 'git notes add'
  e9/2d9b8cfb241d147c853ff4e3b4bf4076b97a5b
Owners: none

documenting the ErrorHandler::call method
  components/error_handler.rst
Owners: none

Note when $document_root may be needed instead of $realpath_root.
  setup/web_server_configuration.rst
Owners: none

initial DOCtor-RST setup.
  .doctor-rst.yaml
  .github/workflows/lint.yaml
Owners: none

aAdd the new ImgStub
  components/var_dumper/advanced.rst
Owners: none

Notes added by 'git notes add'
  ef/a57c2f60ef1246a1a804b1be65e2f9e0a3a008
Owners: none

Tweaks #11274
  .doctor-rst.yaml
Owners: none

Tweaks #11274
  .doctor-rst.yaml
Owners: none

Inconsistency for ending the bullet points
  components/phpunit_bridge.rst
Owners: none

Small fixes
  components/process.rst
  components/web_link.rst
Owners: none

Use lower x
  contributing/documentation/format.rst
Owners: none

Use lower x
  contributing/documentation/format.rst
Owners: none

Use Symfony 5 examples
  contributing/documentation/format.rst
Owners: none

test
  .github/workflows/lint.yaml
  components/web_link.rst
Owners: none

Enable DOCtor-RST on pull requests
  .github/workflows/lint.yaml
Owners: none

Consistent bullet point endings
  forms.rst
Owners: @xabbuh

[Messenger] Use new TransportInterface
  messenger/custom-transport.rst
Owners: none

Use Travis CI GithubAction
  .github/workflows/build.yaml
Owners: none

[Process] Document the getLastOutputTime() method.
  components/process.rst
Owners: none

[Messenger] InMemoryTransport ignore acknowledged and rejected messages
  messenger.rst
Owners: none

Use correct versionadded version
  contributing/documentation/format.rst
Owners: none

[HttpClient] tell about ScopingHttpClient::forBaseUri()
  components/http_client.rst
Owners: none

[Mailer][Mime] Remove NamedAddress
  mailer.rst
Owners: none

[Messenger] Adds a note InMemoryTransports will be reset in tests
  messenger.rst
Owners: none

Removed remaining 4.x directives
  forms.rst
  reference/configuration/framework.rst
  translation.rst
Owners: @xabbuh

Avoid assuming things are simple
  introduction/http_fundamentals.rst
Owners: none

Be kind to Newcomers
  .doctor-rst.yaml
Owners: none

Update code block in setup.rst
  setup.rst
Owners: none

Document the changes to checkCredentials()
  security/guard_authentication.rst
Owners: @chalasr

Recommending real message id for shared bundles
  components/translation/usage.rst
Owners: none

Update phpunit_bridge.rst
  components/phpunit_bridge.rst
Owners: none

Add missing versionadded. #12213
  components/process.rst
Owners: none

Remove old versionadded. #12213
  components/process.rst
Owners: none

remove extra `;` from the code sample
  form/dynamic_form_modification.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
