Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

[Security] Explain lazy anonymous mode
  http_cache.rst
  security.rst
  security/form_login.rst
Owners: @chalasr

[FrameworkBundle][Routing] Added new template and redirect routes configuration
  controller/error_pages.rst
  controller/service.rst
  routing.rst
  routing/custom_route_loader.rst
  security.rst
  security/form_login.rst
  security/json_login_setup.rst
  templates.rst
  translation/locale.rst
Owners: @chalasr

[Twig] tweaked first block examples
  templating.rst
Owners: none

tweak #13099
  service_container/service_subscribers_locators.rst
Owners: none

fixup
  service_container/service_subscribers_locators.rst
Owners: none

[DependencyInjection] Fixed public service use case
  service_container.rst
  service_container/service_subscribers_locators.rst
Owners: none

Use valid versionj in maintainer guide. refs #13175
  _build/maintainer_guide.rst
Owners: none

Update form.rst
  components/form.rst
Owners: @xabbuh

Reference method
  components/form.rst
Owners: @xabbuh

Update messenger.rst
  messenger.rst
Owners: none

Update mailer.rst
  mailer.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

Update http_authentication.rst
  testing/http_authentication.rst
Owners: none

[OptionResolver] Document the OptionConfigurator
  components/options_resolver.rst
Owners: none

Notes added by 'git notes add'
  73/e9af753305c4ba9e8b632d61bc0c2f62b627b0
Owners: none

minor. refs #12426
  components/options_resolver.rst
Owners: none

Update copy-files.rst
  frontend/encore/copy-files.rst
Owners: none

Notes added by 'git notes add'
  83/24762b513b9f00131fa0a29654ccb619c8d01b
Owners: none

add note to use the constraint UserPassword
  .12983-suspended
  reference/constraints/UserPassword.rst
Owners: @xabbuh

Remove file (added by accident)
  .12983-suspended
Owners: none

Updated default validation mapping directory
  reference/configuration/framework.rst
Owners: none

Notes added by 'git notes add'
  fc/eaa743dd30cd8cb328c0f0c570fd8634d03222
Owners: none

Fix wording
  components/phpunit_bridge.rst
Owners: none

[Security] clarified the encoding with memory providers
  security.rst
Owners: @chalasr

Add an opcache preload warning (7.4+)
  performance.rst
Owners: none

Update form.rst
  components/form.rst
Owners: @xabbuh

Update templates.rst
  templates.rst
Owners: none

minor. refs #13190
  components/form.rst
Owners: @xabbuh

Update form.rst
  components/form.rst
Owners: @xabbuh

minor. refs #13190
  components/form.rst
Owners: @xabbuh

Update versioning.rst
  frontend/encore/versioning.rst
Owners: none

minor. refs #13186
  components/phpunit_bridge.rst
Owners: none

Move caution plus reword
  security/user_provider.rst
Owners: @chalasr

Move caution plus reword
  security/user_provider.rst
Owners: @chalasr

Update templates.rst
  templates.rst
Owners: none

Fixed wording of "#13188"
  security.rst
Owners: @chalasr

Maybe the login path should be excluded
  security/form_login_setup.rst
Owners: @chalasr

Update deployment.rst
  deployment.rst
Owners: none

remove link to the already deleted propel1 bridge
  form/type_guesser.rst
Owners: none
