Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Include default_path in twig configuration examples
  mailer.rst
Owners: none

add priority option to annotated routes
  routing.rst
Owners: none

Notes added by 'git notes add'
  e0/b177e11fe204afef3704bd652fbd8a749882a9
Owners: none

Remove the TwigBundle\ExceptionController mention and extending doc
  controller/error_pages.rst
Owners: none

Update string.rst
  components/string.rst
Owners: none

Update workflow.rst
  components/workflow.rst
Owners: @lyrixx

minor. refs #13224
  components/http_foundation.rst
Owners: none

speedup sphinx build/linting with caching doctrees and pip cache
  .github/workflows/ci.yaml
Owners: none

Notes added by 'git notes add'
  2b/b9264b51a9f65b8bdc3733fe8207f85de4e5b5
Owners: none

Notes added by 'git notes add'
  b7/8e05a75d5e677015ccae842d6c1b9728653480
Owners: none

Clarified the three main types of exceptions thrown in HttpClient
  components/http_client.rst
Owners: none

[Mercure] update example with deprecated code
  mercure.rst
Owners: none

Fixed wrongly resolved merge conflict
  service_container.rst
Owners: none

Fixed wrongly resolved merge conflict
  service_container.rst
Owners: none

[Validator] Fix list in Sequentially doc
  reference/constraints/Sequentially.rst
Owners: @xabbuh

Update deployment.rst
  deployment.rst
Owners: none

Update deployment.rst
  deployment.rst
Owners: none

[Validator] Fix title in sequence_provider.rst
  validation/sequence_provider.rst
Owners: none

[MercureBundle] Use PublisherInterface
  mercure.rst
Owners: none

Fix copy/paste error
  security/guard_authentication.rst
Owners: @chalasr

Fixed CoverageListener usage with custom SUT solver
  components/phpunit_bridge.rst
Owners: none

Update console.rst
  console.rst
Owners: @chalasr

Remove colon
  components/http_foundation.rst
Owners: none

Misc wording/grammar improvements
  cache.rst
Owners: none

Update return statement for getUser …
  security/guard_authentication.rst
Owners: @chalasr

Update workflow.rst
  workflow.rst
Owners: @lyrixx

Update void return in example
  session.rst
Owners: none

Document renderView() method
  templates.rst
Owners: none

:alien: Updated links to Bootstrap docs
  form/bootstrap4.rst
  form/form_customization.rst
Owners: none

fix: validate signature
  validation/groups.rst
Owners: none

fix Mercure PublisherStub should be implement PublisherInterface
  mercure.rst
Owners: none

fix grammars
  routing.rst
Owners: none

Document RenderView method
  templates.rst
Owners: none

Update string.rst
  components/string.rst
Owners: none

Correct path to action when redirecting from route
  routing.rst
Owners: none

cache doctor rst
  .github/workflows/ci.yaml
Owners: none

Notes added by 'git notes add'
  0b/ad48dbdf28b563c317310ba417d6c250cc1f2a
Owners: none

[DomCrawler] Added nextUntil and previousUntil
  components/dom_crawler.rst
Owners: none

Factorisation in doctrine.rst
  doctrine.rst
Owners: none

Object factorisation
  logging.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
