Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

[Security] renamed memory provider
  security.rst
  security/multiple_user_providers.rst
Owners: @chalasr

Add documentation for RFC 8674 support
  components/http_foundation.rst
Owners: none

Replace deprecated ObjectManager
  doctrine/event_listeners_subscribers.rst
  doctrine/mapping_model_classes.rst
  form/data_transformers.rst
  form/unit_testing.rst
  reference/forms/types/entity.rst
  service_container/parent_services.rst
  testing/database.rst
Owners: @xabbuh

Notes added by 'git notes add'
  c8/028d1cf9d2ebe9d42486fc1c1490e4571f1c22
Owners: none

Mention region parameter for Mailgun mailer too
  mailer.rst
Owners: none

Fix typo
  components/http_client.rst
Owners: none

Merge branch '3.4' into 4.4
  doctrine.rst
  doctrine/events.rst
  form/data_transformers.rst
  form/unit_testing.rst
  reference/forms/types/entity.rst
  security.rst
  security/custom_authentication_provider.rst
  security/force_https.rst
  security/guard_authentication.rst
  security/json_login_setup.rst
  security/ldap.rst
  security/remember_me.rst
  security/user_checkers.rst
  service_container/parent_services.rst
  testing/database.rst
Owners: @xabbuh, @chalasr

[Security] use lazy anonymous
  security/form_login.rst
  security/guard_authentication.rst
  security/json_login_setup.rst
  security/multiple_guard_authenticators.rst
Owners: @chalasr

Add note about final classes
  service_container/lazy_services.rst
Owners: none

Tweaks
  components/http_foundation.rst
Owners: none

Remove configuration block
  service_container/service_decoration.rst
Owners: none

Update foundation version
  form/form_themes.rst
Owners: none

fixing typo
  frontend/encore/simple-example.rst
Owners: none

Minor tweak
  reference/twig_reference.rst
Owners: none

Tweak
  reference/configuration/security.rst
Owners: none

[Messenger] Note about serializer
  messenger.rst
Owners: none

Minor tweak
  messenger.rst
Owners: none

[Process] Documented the getStartTime() method
  components/process.rst
Owners: none

[Form] Mentioned the form theme for Foundation 6
  form/form_themes.rst
Owners: none

Use caution directive and remove !
  service_container/lazy_services.rst
Owners: none

fix: minor array fix/adjustment.
  doctrine/multiple_entity_managers.rst
Owners: none

[Security] Added the missing versionadded directive
  security.rst
Owners: @chalasr

Removed an unneeded versionadded directive
  security.rst
Owners: @chalasr

Use valid version in README
  README.markdown
Owners: none

Update serializer.rst
  components/serializer.rst
Owners: none

Update testing.rst
  testing.rst
Owners: none

Update browser_kit.rst
  components/browser_kit.rst
Owners: none

Reword
  service_container/lazy_services.rst
Owners: none

Link to final keyword in php docs
  service_container/lazy_services.rst
Owners: none

[Form] minor fixes in ChoiceType options
  reference/forms/types/choice.rst
  reference/forms/types/options/choice_attr.rst.inc
  reference/forms/types/options/choice_label.rst.inc
  reference/forms/types/options/choice_name.rst.inc
  reference/forms/types/options/choice_value.rst.inc
  reference/forms/types/options/group_by.rst.inc
  reference/forms/types/options/preferred_choices.rst.inc
Owners: @xabbuh

Use valid version in maintainer guide
  _build/maintainer_guide.rst
Owners: none

Add note about final classes
  service_container/lazy_services.rst
Owners: none

Fix customize notification example
  notifier.rst
Owners: none

Revert "Update serializer.rst"
  components/serializer.rst
Owners: none

[Validator] Added the missing PHP format in a code example
  validation/custom_constraint.rst
Owners: none

Remove AppBundle form path and namespace. refs #13178
  validation/custom_constraint.rst
Owners: none

Notes added by 'git notes add'
  66/a66ffa49789719f5987047737978b126144c43
Owners: none

Update frontend.rst
  frontend.rst
Owners: none

[Templating] added the `private` parameter in the TemplateController example
  templates.rst
Owners: none

fixed cs
  templates.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
