Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Update voters.rst
  security/voters.rst
Owners: @chalasr

Reword
  templates.rst
Owners: none

Updatd all security examples to use the new config XSD
  configuration/env_var_processors.rst
  reference/configuration/security.rst
  security.rst
  security/access_control.rst
  security/auth_providers.rst
  security/custom_authentication_provider.rst
  security/firewall_restriction.rst
  security/force_https.rst
  security/form_login.rst
  security/form_login_setup.rst
  security/guard_authentication.rst
  security/impersonating_user.rst
  security/json_login_setup.rst
  security/ldap.rst
  security/multiple_guard_authenticators.rst
  security/named_encoders.rst
  security/password_migration.rst
  security/remember_me.rst
  security/user_checkers.rst
  security/user_provider.rst
  security/voters.rst
  testing/http_authentication.rst
Owners: @chalasr

Remove overridefile;
  docker-compose.override.yaml
Owners: none

Remove the need for CURRENT_ID.
  contributing/documentation/overview.rst
  docker-compose.yaml
Owners: none

using slugger for file uploading, instead of long transliterator code
  controller/upload_file.rst
Owners: none

document the reference_date option
  reference/forms/types/time.rst
Owners: @xabbuh

Added the versionadded directive
  reference/forms/types/time.rst
Owners: @xabbuh

Removed the versionadded directive
  reference/forms/types/time.rst
Owners: @xabbuh

derive view_timezone from model_timezone
  reference/forms/types/time.rst
Owners: @xabbuh

[Validator] Add description for AtLeastOne constraint
  reference/constraints.rst
  reference/constraints/AtLeastOneOf.rst
  reference/constraints/map.rst.inc
Owners: @xabbuh

Minor tweaks
  reference/constraints/AtLeastOneOf.rst
Owners: @xabbuh

Notes added by 'git notes add'
  14/93ced30e013385d8249e29209a80faa0a51da2
Owners: none

Replace ExceptionListener uses with ErrorListener
  create_framework/dependency_injection.rst
  create_framework/http_kernel_httpkernel_class.rst
Owners: none

Notes added by 'git notes add'
  d0/de558fd3fbbea88f5a4510831f7e342d68546d
Owners: none

Replace ExceptionListener uses with ErrorListener
  create_framework/dependency_injection.rst
  create_framework/http_kernel_httpkernel_class.rst
Owners: none

[Form] added the new `ChoiceList` class to configure `ChoiceType` options
  reference/forms/types/choice.rst
  reference/forms/types/options/choice_attr.rst.inc
  reference/forms/types/options/choice_label.rst.inc
  reference/forms/types/options/choice_loader.rst.inc
  reference/forms/types/options/choice_name.rst.inc
  reference/forms/types/options/choice_value.rst.inc
  reference/forms/types/options/group_by.rst.inc
  reference/forms/types/options/preferred_choices.rst.inc
Owners: @xabbuh

Tweak
  reference/forms/types/choice.rst
Owners: @xabbuh

Minor grammar fix
  reference/forms/types/options/choice_loader.rst.inc
Owners: @xabbuh

Update property_info.rst
  components/property_info.rst
Owners: @dunglas

Update http_client.rst
  components/http_client.rst
Owners: none

[Form] Improved the explanation of choice_self_translation
  reference/forms/types/language.rst
Owners: @xabbuh

Fix $slugger call
  controller/upload_file.rst
Owners: none

Notes added by 'git notes add'
  96/9459f6d1b9cb68704b76cf740e0c57df04d0fd
Owners: none

Typo sent instead of send
  notifier/texters.rst
Owners: none

Explaining default logout path
  security.rst
Owners: @chalasr

Update security.rst
  security.rst
Owners: @chalasr

Make sure one can copy NPM command
  frontend/encore/installation.rst
Owners: none

Notes added by 'git notes add'
  3e/6ea42824800cb5c92a2e3b4c5a1c70d04b96b5
Owners: none

Add note about special handling of 'name' argument
  components/config/definition.rst
Owners: none

Minor tweaks
  components/config/definition.rst
Owners: none

Adding `anonymous`
  reference/configuration/security.rst
Owners: none

Minor tweak
  reference/configuration/security.rst
Owners: none

[Translation] Documented the debug:translation exit codes
  translation/debug.rst
Owners: none

Add clear description of `resolve` env processor
  configuration/env_var_processors.rst
Owners: none

Reword
  configuration/env_var_processors.rst
Owners: none

Just ignore what prevents circular references for the build. Leave the rest be.
  _build/Makefile
Owners: none

Removed Routing component docs
  _build/redirection_map
  components/config/resources.rst
  components/http_kernel.rst
  components/routing.rst
  create_framework/routing.rst
  introduction/from_flat_php_to_symfony.rst
Owners: none

Mention the link script --copy option
  contributing/code/pull_requests.rst
Owners: none

Routing - remove extra space in XML inline example
  routing.rst
Owners: none
