Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Notes added by 'git notes add'
  a1/cbfef74cdcf6c5557c92d7ad95c46af1f61f85
Owners: none

fixing that exchange then name is needed
  messenger.rst
Owners: none

setup.rst
  setup.rst
Owners: none

Update console.rst
  console.rst
Owners: @chalasr

[Form] Added the attr_row option to all form types
  reference/forms/types/birthday.rst
  reference/forms/types/button.rst
  reference/forms/types/checkbox.rst
  reference/forms/types/choice.rst
  reference/forms/types/collection.rst
  reference/forms/types/color.rst
  reference/forms/types/country.rst
  reference/forms/types/currency.rst
  reference/forms/types/date.rst
  reference/forms/types/dateinterval.rst
  reference/forms/types/datetime.rst
  reference/forms/types/email.rst
  reference/forms/types/entity.rst
  reference/forms/types/file.rst
  reference/forms/types/form.rst
  reference/forms/types/hidden.rst
  reference/forms/types/integer.rst
  reference/forms/types/language.rst
  reference/forms/types/locale.rst
  reference/forms/types/money.rst
  reference/forms/types/number.rst
  reference/forms/types/options/attr.rst.inc
  reference/forms/types/options/row_attr.rst.inc
  reference/forms/types/password.rst
  reference/forms/types/percent.rst
  reference/forms/types/radio.rst
  reference/forms/types/range.rst
  reference/forms/types/repeated.rst
  reference/forms/types/reset.rst
  reference/forms/types/search.rst
  reference/forms/types/submit.rst
  reference/forms/types/tel.rst
  reference/forms/types/text.rst
  reference/forms/types/textarea.rst
  reference/forms/types/time.rst
  reference/forms/types/timezone.rst
  reference/forms/types/url.rst
Owners: @xabbuh

Fixed some RST issues in the recently reworded Templates article
  templates.rst
Owners: none

Removed unneeded versionadded directives for 5.0
  components/mailer.rst
  components/validator/resources.rst
  reference/constraints/File.rst
  reference/forms/types/options/row_attr.rst.inc
Owners: @xabbuh

Remove deprecated directives in 5.0 docs
  templates.rst
Owners: none

Mentioned the new mailer assert methods for tests
  testing/functional_tests_assertions.rst
Owners: none

Correct minimum PHP version
  setup.rst
Owners: none

Fixed a wrong reference
  templating/PHP.rst
Owners: none

another fix to make amqp messages go to a separate queue
  messenger.rst
Owners: none

syntax
  messenger.rst
Owners: none

Fix typo in configuration.rst
  configuration.rst
Owners: none

rename SmtpEnvelope to Envelope
  components/mailer.rst
Owners: none

another fix to make amqp messages go to a separate queue
  messenger.rst
Owners: none

Multiple entity managers and shared entities management
  doctrine/multiple_entity_managers.rst
Owners: none

[Doctrine] Reword the intro of the main article
  doctrine.rst
Owners: none

[Mailer] Better explain the load-balancing options
  components/mailer.rst
Owners: none

Notes added by 'git notes add'
  de/1f9a8786d4372bf31068235fe2920bd2e7a7a9
Owners: none

Move to the new DSN format for Mailer
  components/mailer.rst
  mailer.rst
Owners: none

Minor tweaks
  components/mailer.rst
Owners: none

Fixed some explanations in the mailer component
  components/mailer.rst
Owners: none

Added a caution message about unit testing form types
  form/unit_testing.rst
Owners: none

Mention the getParameter() helper in the configuration article
  configuration.rst
Owners: none

[Doctrine] Put all docs about testing databases in a single article
  _build/redirection_map
  configuration.rst
  doctrine.rst
  testing/database.rst
  testing/doctrine.rst
Owners: none

Removed the cache.adapter.array mention in 3.4 docs
  cache.rst
Owners: none

Notes added by 'git notes add'
  d2/ae20d20afcbd98c82328f83ea0f8c651211441
Owners: none

Minor tweaks
  logging/handlers.rst
Owners: none

Removed the versionadded directive
  logging/handlers.rst
Owners: none

Added documentation for --sort option in translation:update command
  translation.rst
Owners: none

Minor improvement for the docs about the translation:update command
  translation.rst
Owners: none

Reword
  reference/configuration/framework.rst
Owners: none

Removed the versionadded directive
  reference/configuration/framework.rst
Owners: none

[HttpClient] Add the buffer option to 4.3 too
  reference/configuration/framework.rst
Owners: none

Minor reword
  components/dom_crawler.rst
Owners: none

[FrameworkBundle] Document the translator cache_dir option
  reference/configuration/framework.rst
Owners: none

Mentioned that round-robin mailers require Messenger integration
  components/mailer.rst
Owners: none

Removed the versionadded directive
  reference/configuration/framework.rst
Owners: none

[Routing] Better explain the config needed for routing annotations
  routing.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
