Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

[Messenger] Minor tweaks for the main Messenger article
  messenger.rst
Owners: none

[Mailer] Minor tweaks in the mailer docs
  mailer.rst
Owners: none

Fixed method names when using the method directive
  components/options_resolver.rst
  components/property_info.rst
Owners: @dunglas

Tweaked the PropertyAccess doc
  components/property_access.rst
Owners: none

[PropertyAccess] Update the method directives
  components/property_access.rst
Owners: none

[ErrorHandler] Simplified docs
  components/error_handler.rst
Owners: none

[Monolog] Add a caution note about Symfony Mailer and Monolog
  logging/monolog_email.rst
Owners: none

[Routing] Documented the option to exclude patterns
  routing.rst
Owners: none

[Validation] Mention the option to pass stringable objects
  validation/custom_constraint.rst
Owners: none

Use right option in composer update
  setup/_update_dep_errors.rst.inc
Owners: none

Update database.rst
  testing/database.rst
Owners: none

Added the docs for the UUID polyfill
  components/polyfill_uuid.rst
Owners: none

Notes added by 'git notes add'
  73/2b58c6c6861dd8cc7be42f4051fe8f048f183d
Owners: none

Add a note about voters with access_control
  security/access_control.rst
Owners: @chalasr

[Routing] Removed old versionadded directive
  routing.rst
Owners: none

[Validator] Removed old versionadded directive
  validation/custom_constraint.rst
Owners: none

twig dicts in form_customization.rst end in } }
  form/form_customization.rst
Owners: none

Update references to 4.4 version
  setup/upgrade_minor.rst
Owners: none

Update configuration.rst
  configuration.rst
Owners: none

Minor fix
  setup/upgrade_minor.rst
Owners: none

[Performance] Document the container.dumper.inline_factories parameter
  performance.rst
Owners: none

Notes added by 'git notes add'
  39/3e38e69667cff38340217a915322d6742127d1
Owners: none

Minor tweaks
  components/process.rst
Owners: none

Update custom-transport.rst
  messenger/custom-transport.rst
Owners: none

Fix Warning: empty password message
  security/form_login_setup.rst
Owners: @chalasr

Fix mailer example by changing type hint to TransportInterface
  mailer.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

Update routing.rst - Fix wrong XML
  routing.rst
Owners: none

Make custom routers compatible with the LoaderInterface
  routing/custom_route_loader.rst
Owners: none

Update custom_route_loader.rst | Fix wrong tag
  routing/custom_route_loader.rst
Owners: none

add notifier.rst
  components/notifier.rst
Owners: none

Update argument_value_resolver.rst
  controller/argument_value_resolver.rst
Owners: none

Update password_migration.rst
  security/password_migration.rst
Owners: @chalasr

Update security.rst
  security.rst
Owners: @chalasr

Update guard_authentication.rst
  security/guard_authentication.rst
Owners: @chalasr

remove old versionadded directive
  performance.rst
Owners: none

Update Valid.rst
  reference/constraints/Valid.rst
Owners: @xabbuh

Removed Translation component documentation
  _build/redirection_map
  components/form.rst
  components/translation.rst
  components/translation/custom_formats.rst
  components/translation/custom_message_formatter.rst
  components/translation/usage.rst
  introduction/from_flat_php_to_symfony.rst
  reference/configuration/framework.rst
  reference/dic_tags.rst
  translation.rst
  translation/xliff.rst
Owners: @xabbuh

Document PasswordAuthenticatedInterface
  security/password_migration.rst
Owners: @chalasr

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
