Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Updated the Welcome Page for Symfony 4.4
  _images/quick_tour/no_routes_page.png
Owners: none

Added TLS configuration example to MAILER_DSN
  mailer.rst
Owners: none

Added namespace for example controller
  page_creation.rst
Owners: none

[Mailer] Address::fromString() is not available in 4.3
  mailer.rst
Owners: none

[Mailer][Mime] NamedAddress was removed in 4.4
  mailer.rst
Owners: none

Escape backslash before string termination
  service_container/configurators.rst
Owners: none

estored the Address::fromString() example
  mailer.rst
Owners: none

Replace GetResponseEvent with RequestEvent
  security/form_login_setup.rst
Owners: @chalasr

Add docs about mailcatcher and Docker
  setup/symfony_server.rst
Owners: none

Usage example for Filesystem::exists optional second argument to check file/directory type
  components/filesystem.rst
Owners: none

Usage example for Filesystem::exists optional second argument to check file/directory type
  components/filesystem.rst
Owners: none

Add the secret documentation
  best_practices.rst
  configuration/env_var_processors.rst
  configuration/secrets.rst
  doctrine/pdo_session_storage.rst
Owners: none

Explain the usage of EchoOutput
  components/console/output_echo.rst
Owners: @chalasr

fix typo
  components/phpunit_bridge.rst
Owners: none

Removed the Action suffix in a controller method name
  forms.rst
Owners: @xabbuh

Update XML snippet in "Define Services with a Custom Tag" section
  service_container/tags.rst
Owners: none

Add Product dependency in fixtures example code
  testing/database.rst
Owners: none

Add HTTPS to a URL
  setup.rst
Owners: none

Notes added by 'git notes add'
  94/effa4548ffb136327bae80993f36803c6f795f
Owners: none

Minor fix
  routing.rst
Owners: none

Add an example how to adjust ts-loader settings
  frontend/encore/typescript.rst
Owners: none

Notes added by 'git notes add'
  08/c23c054acb721da73dd1651bdd844fdb228d6c
Owners: none

Minor tweak
  frontend/encore/typescript.rst
Owners: none

Improve XML readability for translations
  translation/message_format.rst
Owners: none

Delete apostrophe in custom-transport.rst
  messenger/custom-transport.rst
Owners: none

Fix construction of SmtpTransport in Mailer docs
  components/mailer.rst
Owners: none

Fix Doctrine Entity Listeners event class
  doctrine/events.rst
Owners: none

MoneyType: explain why the divisor option is useful
  reference/forms/types/money.rst
Owners: @xabbuh

Changing my e-mail
  contributing/code_of_conduct/care_team.rst
Owners: none

Documented $response->getInfo('canceled')
  components/http_client.rst
Owners: none

Notes added by 'git notes add'
  c7/ecd24bde3d8f8e07cdffff7b5008d86335107c
Owners: none

Add versionadded directive. refs #12525
  components/http_client.rst
Owners: none

Removed old versionadded. refs #12525
  components/http_client.rst
Owners: none

Replace deprecated configuration key
  workflow.rst
Owners: @lyrixx

Notes added by 'git notes add'
  07/4453c0d3a6fd367ea75baed24b84825f67b622
Owners: none

Edit comment
  service_container/parameters.rst
Owners: none

Update templates.rst
  templates.rst
Owners: none

Fix a few misprints
  frontend/encore/simple-example.rst
Owners: none

Remove assumption about why people read the documentation
  contributing/documentation/standards.rst
Owners: none

Update deployment.rst
  deployment.rst
Owners: none
