Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Update messenger.rst
  components/messenger.rst
Owners: none

Update multiple services example
  service_container.rst
Owners: none

Notes added by 'git notes add'
  5c/48d0815b674af1ab3458a61bd4603d989a33bb
Owners: none

LoginFormAuthenticator example updated
  security/form_login_setup.rst
Owners: @chalasr

Added documentation for __toString feature in StopWatch event
  components/stopwatch.rst
Owners: none

Notes added by 'git notes add'
  bf/76aba5e0da06de0c3f37cc5f777efa2777e5bb
Owners: none

Reword
  components/stopwatch.rst
Owners: none

Minor reword
  testing.rst
Owners: none

[Testing] Documented the changes in MailerAssertionsTrait
  testing/functional_tests_assertions.rst
Owners: none

Update Associations with fix code-block example
  doctrine/associations.rst
Owners: none

Notes added by 'git notes add'
  d2/b37f97fd8e01ffcc73c00f0dcc5e281a04aeb5
Owners: none

[FIX] Custom pool
  cache.rst
Owners: none

Notes added by 'git notes add'
  9d/9142f7331f4d874af574b1c71236e48e7b1ce8
Owners: none

Reword
  cache.rst
Owners: none

Add missing prefix/xxxer
  components/serializer.rst
Owners: none

Change ExceptionListener to ErrorListener
  create_framework/http_kernel_httpkernel_class.rst
Owners: none

[Cache] fixed a bad merge
  cache.rst
Owners: none

Documented the --deprecations option of the debug:container component
  components/phpunit_bridge.rst
Owners: none

Remove caution section about bind scalar controller arguments
  controller.rst
Owners: none

[Form] Add description of label_html option
  reference/configuration/framework.rst
  reference/forms/types/button.rst
  reference/forms/types/form.rst
  reference/forms/types/options/label_html.rst.inc
Owners: @xabbuh

Added the missing versionadded directive
  reference/forms/types/options/label_html.rst.inc
Owners: @xabbuh

Update validator.rst
  components/validator.rst
Owners: @xabbuh

[Form] Better explicit cloning with "by_reference" option
  reference/forms/types/options/by_reference.rst.inc
Owners: @xabbuh

fixes symfony/symfony-docs#13101
  components/phpunit_bridge.rst
Owners: none

fixes symfony/symfony-docs#12961
  testing/insulating_clients.rst
Owners: none

[PhpUnitBridge] Deprecate the expectedDeprecation annotation
  components/phpunit_bridge.rst
Owners: none

Improved the HTTPCache examples mentioning s-maxage
  http_cache.rst
  http_cache/esi.rst
  http_cache/expiration.rst
Owners: none

Remove redundant "by default" in autowiring.rst
  service_container/autowiring.rst
Owners: none

Minor tweaks
  reference/forms/types/percent.rst
Owners: @xabbuh

consider "allowEmptyString" option in example
  reference/constraints/Length.rst
Owners: @xabbuh

dependencies with Login Form Authenticator doc
  security/form_login_setup.rst
Owners: @chalasr

[Routing] added missing "version-added" for i18n routes
  routing.rst
Owners: none

Fixed the previous merge
  routing.rst
Owners: none

Removed the versionadded directive
  routing.rst
Owners: none

Update calls.rst
  service_container/calls.rst
Owners: none

Change code example for custom header when using a reverse proxy
  deployment/proxies.rst
Owners: none

Make it more obvious what the $handler is (refers to the next item in the docs)
  components/messenger.rst
Owners: none

Notes added by 'git notes add'
  23/09998f236f56f7759e23c4a890e841d8dc8976
Owners: none

Update form_login_setup.rst
  security/form_login_setup.rst
Owners: @chalasr

Made the constant private
  security/form_login_setup.rst
Owners: @chalasr
