Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Updating advanced config documentation for Encore
  frontend/encore/advanced-config.rst
Owners: none

Error renderer component is abadoned.
  components/error_handler.rst
Owners: none

adding section about datetime prefix in EnvVarProcessor
  configuration/env_var_processors.rst
Owners: none

Add Blackfire Docker support for the local web server
  setup/symfony_server.rst
Owners: none

Add documentation for exponential format number
  components/expression_language/syntax.rst
Owners: none

add use statement
  components/mailer.rst
Owners: none

uppercase
  setup.rst
Owners: none

Add versionadded in file
  components/expression_language/syntax.rst
Owners: none

Fix 5.0 event get/setThrowable
  components/http_kernel.rst
  event_dispatcher.rst
  reference/events.rst
Owners: none

fix BrowserKit Client to AbstractBrowser rename
  components/browser_kit.rst
  testing.rst
Owners: none

fix TraceableEventDispatcherInterface removed in 5.0
  components/event_dispatcher/traceable_dispatcher.rst
Owners: none

Removed simple_form and simple_pre_auth
  security/auth_providers.rst
Owners: @chalasr

Changing wording
  frontend/encore/advanced-config.rst
Owners: none

Changed names of Intl classes in form types docs
  reference/forms/types/country.rst
  reference/forms/types/currency.rst
  reference/forms/types/language.rst
  reference/forms/types/locale.rst
Owners: @xabbuh

Notes added by 'git notes add'
  03/f6f1f7e56068be9c0a664176622dd3269e445a
Owners: none

Add documantation for pre render events
  _build/redirection_map
  reference/configuration/twig.rst
  templates.rst
  templating/event_dispatcher.rst
Owners: none

Add documantation for pre render events
  _build/redirection_map
  reference/configuration/twig.rst
  templates.rst
  templating/event_dispatcher.rst
Owners: none

fix the code block
  templating/event_dispatcher.rst
Owners: none

fix the code block
  templating/event_dispatcher.rst
Owners: none

fix BrowserKit Client to AbstractBrowser rename
  components/browser_kit.rst
Owners: none

Fix documentation for PhpUnitBridge regex configuration
  components/phpunit_bridge.rst
Owners: none

Fix for lint
  templating/event_dispatcher.rst
Owners: none

Fix for lint
  templating/event_dispatcher.rst
Owners: none

Fix lint to shorthand
  templating/event_dispatcher.rst
Owners: none

Fix lint to shorthand
  templating/event_dispatcher.rst
Owners: none

Remove references to the Twig extensions repo
  reference/dic_tags.rst
  reference/twig_reference.rst
Owners: none

[DependencyInjection] Bind tagged services
  service_container.rst
Owners: none

Tweak the IsTrue validation docs
  reference/constraints/IsTrue.rst
Owners: @xabbuh

[minor] remove usage of Kernel::$rootDir from docs
  reference/configuration/kernel.rst
Owners: none

Removed constructor parameters from AuthenticationTrustResolver
  components/security/authorization.rst
Owners: @chalasr

Fixed a merge conflict
  reference/twig_reference.rst
Owners: none

Notes added by 'git notes add'
  d3/c6d2c331d99c805ad9d45c423af16a5554a767
Owners: none

Added article on password migrations
  security.rst
  security/password_migration.rst
Owners: @chalasr

Small typo in workflow.rst
  workflow.rst
Owners: @lyrixx

Update setup.rst
  setup.rst
Owners: none

Update impersonating_user.rst
  security/impersonating_user.rst
Owners: @chalasr

add versionadded directive. refs #12741
  service_container.rst
Owners: none

minor
  service_container.rst
Owners: none

Update parent_services.rst
  service_container/parent_services.rst
Owners: none

Notes added by 'git notes add'
  09/aee362520be8bbdb90e08a924372942c93c507
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
