Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Add @a2lix/symfony-collection solution
  form/form_collections.rst
Owners: none

Reword
  form/form_collections.rst
Owners: none

[DependencyInjection] Add documentation for service locator changes
  service_container/service_subscribers_locators.rst
Owners: none

Reword
  service_container/service_subscribers_locators.rst
Owners: none

Notes added by 'git notes add'
  de/28f4c3111fc120408b8680f42559df0b452707
Owners: none

Minor tweak
  service_container/service_subscribers_locators.rst
Owners: none

Removed versionadded directives
  service_container/service_subscribers_locators.rst
Owners: none

Add explanation about prefix decision
  bundles/best_practices.rst
Owners: none

Notes added by 'git notes add'
  03/da81663c65fe2e6799fb5f0306f5964c275eb8
Owners: none

Minor reword
  bundles/best_practices.rst
Owners: none

Add real-world example to separate flags and value
  components/process.rst
Owners: none

Notes added by 'git notes add'
  5a/3c1f659c52aa7044603191d895cc16038fab86
Owners: none

fix build
  service_container/service_subscribers_locators.rst
Owners: none

Notes added by 'git notes add'
  f1/388a6d78614d98e28567a26ab9d9558bd6b0ba
Owners: none

document the validate option
  reference/forms/types/submit.rst
Owners: @xabbuh

Reword
  components/translation/custom_message_formatter.rst
  reference/configuration/framework.rst
Owners: none

Update debug.rst
  translation/debug.rst
Owners: none

Notes added by 'git notes add'
  b0/5009de7ea751fb181c3a4628d759ccc12a26cd
Owners: none

[DependencyInjection] Doc for Allow to choose an index for service locator collection
  service_container/service_subscribers_locators.rst
Owners: none

Notes added by 'git notes add'
  86/0cf3e6d3a59e486d44adb4e0c1622a6544f69f
Owners: none

Reword
  service_container/service_subscribers_locators.rst
Owners: none

Removed the versionadded directive
  reference/forms/types/submit.rst
Owners: @xabbuh

Explain Symfony packs
  best_practices/business-logic.rst
  doctrine.rst
  doctrine/dbal.rst
  page_creation.rst
  profiler.rst
  quick_tour/flex_recipes.rst
  serializer.rst
  setup.rst
  setup/web_server_configuration.rst
  testing.rst
Owners: none

Minor tweak
  setup.rst
Owners: none

[REFACTOR] Messenger - Serializer groups
  components/messenger.rst
Owners: none

Minor tweak
  components/messenger.rst
Owners: none

[Workflow] Fixes the examples related to metadata
  workflow.rst
Owners: @lyrixx

Fixed RST issues
  service_container/service_subscribers_locators.rst
Owners: none

Mentioned the toStream() method
  components/http_client.rst
Owners: none

Tweaks
  components/http_client.rst
Owners: none

Tweaks
  components/http_client.rst
Owners: none

Removed the versionadded directive
  components/http_client.rst
Owners: none

Improved documentation about access controls
  configuration/external_parameters.rst
  security.rst
  security/access_control.rst
  security/api_key_authentication.rst
  security/force_https.rst
  security/form_login_setup.rst
  security/multiple_guard_authenticators.rst
  security/voters.rst
Owners: @chalasr

Notes added by 'git notes add'
  a9/f0078ad2d9c314a5fcda1dd97d984628c72092
Owners: none

Inform about how to use new DateTime() when Clock Mocking
  components/phpunit_bridge.rst
Owners: none

Minor reword
  components/phpunit_bridge.rst
Owners: none

[Cache] Rewrod a phrase to remove the "basic" word
  cache.rst
Owners: none

Fixed minor issues
  security/access_control.rst
  security/form_login_setup.rst
Owners: @chalasr

Deprecated the component
  components/debug.rst
Owners: none

Update validation.rst
  validation.rst
Owners: none
