Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

[Messenger] Added an implementation to the TransportInterface
  messenger/custom-transport.rst
Owners: none

Notes added by 'git notes add'
  9f/3fcac2211f21d6383abcc33f3784f7799c85f4
Owners: none

Notes added by 'git notes add'
  d2/164231d88f3de1bc13ef130874bc59c1f59631
Owners: none

[#12336] fix a minor typo
  routing.rst
Owners: none

Add note on Apache issue with FallbackResource
  setup/web_server_configuration.rst
Owners: none

Notes added by 'git notes add'
  7a/a306ba40697ddaacfa07bad8685261f263a4f3
Owners: none

Minor fix
  setup/web_server_configuration.rst
Owners: none

[SwiftMailer Spool] Fix double negative
  email/spool.rst
Owners: none

Tweak the version constraints when installing 3.4 components
  components/asset.rst
  components/browser_kit.rst
  components/cache.rst
  components/class_loader.rst
  components/config.rst
  components/console.rst
  components/css_selector.rst
  components/debug.rst
  components/dependency_injection.rst
  components/dom_crawler.rst
  components/dotenv.rst
  components/event_dispatcher.rst
  components/expression_language.rst
  components/filesystem.rst
  components/finder.rst
  components/form.rst
  components/http_foundation.rst
  components/http_kernel.rst
  components/intl.rst
  components/ldap.rst
  components/lock.rst
  components/options_resolver.rst
  components/process.rst
  components/property_access.rst
  components/property_info.rst
  components/routing.rst
  components/security.rst
  components/serializer.rst
  components/stopwatch.rst
  components/templating.rst
  components/translation.rst
  components/using_components.rst
  components/validator.rst
  components/var_dumper.rst
  components/web_link.rst
  components/workflow.rst
  components/yaml.rst
Owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Notes added by 'git notes add'
  f5/9f790cfa36c2256ee54ff044f24c2965ed29f2
Owners: none

Minor reword
  email/spool.rst
Owners: none

[Mercure] Added authorization and testing tips
  mercure.rst
Owners: none

Notes added by 'git notes add'
  68/f4ce4d4db1e7a7fd8f8617a5b6dd31e532f9a5
Owners: none

Minor tweaks
  mercure.rst
Owners: none

Some rewords for the ErrorHandler and ErrorRenderer components
  components/debug.rst
  components/error_handler.rst
  components/error_renderer.rst
  configuration/front_controllers_and_kernel.rst
Owners: none

Notes added by 'git notes add'
  e8/bb182961c706de1cb32fedd6eb4ed594eeebf2
Owners: none

Minor reword
  best_practices/controllers.rst
Owners: none

Update the code related to controllers in events
  event_dispatcher/before_after_filters.rst
Owners: none

Notes added by 'git notes add'
  bd/aad9dd2082f5695cdf343e11c6fe0f38d9552a
Owners: none

Corrected wrong class used in \"Locating Resources\"
  components/http_kernel.rst
Owners: none

Notes added by 'git notes add'
  19/f9510b05b8d04244e05bc663999a2bf6abfe6d
Owners: none

Simplified a code example
  components/http_kernel.rst
Owners: none

Update multiple_buttons.rst
  form/multiple_buttons.rst
Owners: none

Notes added by 'git notes add'
  0d/937dbd230bc35d861cafd932700d16c77e0250
Owners: none

Minor reword
  form/multiple_buttons.rst
Owners: none

Update setup.rst
  setup.rst
Owners: none

Simplified the mailer docs about a global from address
  mailer.rst
Owners: none

Reworded the docs about Doctrine events
  _build/redirection_map
  controller/upload_file.rst
  doctrine.rst
  doctrine/common_extensions.rst
  doctrine/event_listeners_subscribers.rst
  doctrine/events.rst
  doctrine/lifecycle_callbacks.rst
  reference/dic_tags.rst
Owners: none

Notes added by 'git notes add'
  a4/476ce300ea4134d1300c8f7e26714b8c162b11
Owners: none

Additional help with Real-Time Output
  components/process.rst
Owners: none

Minor reword
  components/process.rst
Owners: none

Removed the symfony/security component
  components/security.rst
Owners: @chalasr

Removed the article about the registration form
  doctrine/registration_form.rst
  forms.rst
Owners: @xabbuh

Minor tweak
  doctrine/registration_form.rst
Owners: none

Fixed a syntax issue
  doctrine/events.rst
Owners: none

Update dama/doctrine-test-bundle docs
  testing/database.rst
Owners: none

add FallbackResource alternative for assets/bundles in nginx
  setup/web_server_configuration.rst
Owners: none

Notes added by 'git notes add'
  8c/e7be44a0b9f0b97dca68e9cc139d5a0690bf09
Owners: none

Minor tweak
  setup/web_server_configuration.rst
Owners: none

Fixed the order of Doctrine middleware in Messenger component
  messenger.rst
Owners: none
