Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

[Security] Minor tweak in the impersonation explanation
  security/impersonating_user.rst
Owners: @chalasr

Notes added by 'git notes add'
  19/f2aa2fcabc51433d43c4d1bcfed6520c7ad213
Owners: none

[Doctrine] Don't mention invokable listeners in 4.3
  doctrine/events.rst
Owners: none

Update doctrine.rst
  doctrine.rst
Owners: none

[mercure] compatibility with v0.8
  components/mercure.rst
  mercure.rst
Owners: none

Add WeekType Documentation
  reference/forms/types.rst
  reference/forms/types/map.rst.inc
  reference/forms/types/options/weeks.rst.inc
  reference/forms/types/week.rst
Owners: @xabbuh

[Console] Update some method names
  components/console/helpers/progressbar.rst
Owners: @chalasr

access_control.rst: query string is ignored
  security/access_control.rst
Owners: @chalasr

Update mercure.rst
  mercure.rst
Owners: none

[#12464] Minor changes
  form/bootstrap4.rst
Owners: none

Documented the new REMOTE_ADDR option
  deployment/proxies.rst
Owners: none

Explain how to add `from_transport` on `messenger.message_handler` tag
  messenger.rst
Owners: none

[#12231] Explicitly name the options that can be configured through tags
  messenger.rst
Owners: none

Notes added by 'git notes add'
  c2/f93efece10f784512af94c8a6fc9a2725e5bc9
Owners: none

[#12584] Small tweaks
  reference/forms/types/week.rst
Owners: @xabbuh

Notes added by 'git notes add'
  3e/f26b47ed22c37ff3d37e72ae325a3244b626ce
Owners: none

Revert "bug #12600 [Doctrine] Don't mention invokable listeners in 4.3 (javiereguiluz)"
  doctrine/events.rst
Owners: none

[#12600] Added versionadded for invokable listeners
  doctrine/events.rst
Owners: none

[#12605] Transformed GET parameter notice to caution
  security/access_control.rst
Owners: @chalasr

include xml and php examples
  security.rst
Owners: @chalasr

Update security.rst
  security.rst
Owners: @chalasr

Revert "minor #12371 [Security] Deprecated using more than one role in access_control rules (javiereguiluz)"
  security/access_control.rst
Owners: @chalasr

[#12538] Changed AND to OR
  security.rst
Owners: @chalasr

Make DOCtor happy
  messenger.rst
Owners: none

Removed 4.4 versionaddeds
  deployment/proxies.rst
  doctrine/events.rst
  form/bootstrap4.rst
  messenger.rst
  reference/forms/types/week.rst
Owners: @xabbuh

Update guard_authentication.rst to
  security/guard_authentication.rst
Owners: @chalasr

fix some more typos
  components/property_access.rst
  configuration/micro_kernel_trait.rst
Owners: none

Update best_practices.rst
  best_practices.rst
Owners: none

Notes added by 'git notes add'
  27/1316940d5e4c41664e7bc55cbb909b16ad7255
Owners: none

fix linelength. refs #12617
  best_practices.rst
Owners: none

Tell user about installing twig
  page_creation.rst
Owners: none

Update doctrine.rst
  doctrine.rst
Owners: none

Simply update the ESI initial specs date (dated 2001)
  http_cache/esi.rst
Owners: none

Update documentation for MercureBundle: add enable_profiler option
  _images/mercure/panel.png
  mercure.rst
Owners: none

Notes added by 'git notes add'
  0a/654927abb28f8dec3d1f1f27a0f7032afd12dd
Owners: none

fixes versionadded directive. refs #12598
  .doctor-rst.yaml
  mercure.rst
Owners: none

Update configuration.rst
  configuration.rst
Owners: none

Update input.rst
  console/input.rst
Owners: @chalasr

Update messenger.rst
  messenger.rst
Owners: none

fix some issues
  components/class_loader/class_loader.rst
  contributing/code/conventions.rst
  contributing/code/maintenance.rst
  form/type_guesser.rst
  reference/dic_tags.rst
  translation/debug.rst
Owners: none
