Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

add snippet for extend base template
  page_creation.rst
Owners: none

Fixed a wrong reference
  templating/hinclude.rst
Owners: none

[DependencyInjection] Reworded the article about factories
  service_container/factories.rst
Owners: none

some spelling updates
  contributing/documentation/overview.rst
  create_framework/introduction.rst
  setup/built_in_web_server.rst
Owners: none

Fix code example for definitionList.
  console/style.rst
Owners: @chalasr

[Validator] added alpha3 option to country constraint
  reference/constraints/Country.rst
Owners: @xabbuh

[Mercure] Update depreciation lcobucci/jwt
  mercure.rst
Owners: none

Fix a minor code mistake
  components/string.rst
Owners: none

Remove recommandation
  setup/symfony_server.rst
Owners: none

Update workflow.rst
  workflow.rst
Owners: @lyrixx

Fix link syntax in hinclude.rst
  templating/hinclude.rst
Owners: none

Backported #12892 changes to 3.4
  setup/symfony_server.rst
Owners: none

Update process.rst
  components/process.rst
Owners: none

[Serializer] Remove note about CsvEncoder as_collection flag
  components/serializer.rst
Owners: none

remove getPublicDir() documentation
  bundles.rst
Owners: none

[FIX] Custom pool
  cache.rst
Owners: none

Update extending.rst
  components/expression_language/extending.rst
Owners: none

Hint for generating container preload file
  performance.rst
Owners: none

[Messenger] Redis example with Unix Socket
  messenger.rst
Owners: none

[Testing] add shutdown to KernelTestCase example
  testing/database.rst
Owners: none

[FrameworkBundle] Template Controller should accept extra arguments fix #12929
  templates.rst
Owners: none

[Messenger] Add an example for messenger:failed:remove with several ids
  messenger.rst
Owners: none

Fix dama/doctrine-test-bundle docs
  testing/database.rst
Owners: none

Update setup.rst
  setup.rst
Owners: none

Notes added by 'git notes add'
  65/53a2cfa668744379fff6c2ca6de1e0bc0471cf
Owners: none

Added the versionadded directive
  templates.rst
Owners: none

[Notifier] Added a placeholder article for the component docs
  components/notifier.rst
Owners: none

Removed the versionadded directive
  components/notifier.rst
Owners: none

Update data_transformers.rst
  form/data_transformers.rst
Owners: none

Update workflow-and-state-machine.rst
  workflow/workflow-and-state-machine.rst
Owners: @lyrixx

Minor tweak
  performance.rst
Owners: none

Fix lock.invoice.retry_till_save.store decoration
  reference/configuration/framework.rst
Owners: none

Fixes unclear sentence in finder.rst
  components/finder.rst
Owners: none

Notes added by 'git notes add'
  3e/8fcc32751a257b1b1483ed9458e904dfb5ac69
Owners: none

Possible suggestions to getData() returned use.
  controller/upload_file.rst
Owners: none

Use the get method instead of using the array
  controller/upload_file.rst
Owners: none

Update example to use tagged_locator helper function
  service_container/service_subscribers_locators.rst
Owners: none

adding the * to .xml in the Conf Env
  configuration.rst
Owners: none

[workflow] Added a way to not fire the announce event
  workflow.rst
Owners: @lyrixx

Added the versionadded directive
  workflow.rst
Owners: @lyrixx
