Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Add missing TOKEN to DSN‘s
  notifier.rst
Owners: none

Update serializer.rst
  components/serializer.rst
Owners: none

[String] Documented the s() function
  components/string.rst
Owners: none

Remove experimental status from String component
  components/string.rst
Owners: none

Notes added by 'git notes add'
  b3/100f24565fc42795701c26fdc33215097dc83e
Owners: none

[String] Fix s() namespace
  components/string.rst
Owners: none

[String] Fix quotes
  components/string.rst
Owners: none

[Messenger] Transports in separate packages
  messenger.rst
Owners: none

Minor tweak
  messenger.rst
Owners: none

[Mailer] Round Robin now selectes the first transport randomly
  components/mailer.rst
Owners: none

Fix some typos
  components/lock.rst
  controller/upload_file.rst
Owners: none

Update serializer.rst
  components/serializer.rst
Owners: none

Update serializer.rst
  components/serializer.rst
Owners: none

Update serializer.rst
  components/serializer.rst
Owners: none

Update http_foundation.rst
  components/http_foundation.rst
Owners: none

[Notifier] Added OvhCloud integration
  notifier.rst
Owners: none

Add "Handling decorations on non existent service"
  service_container/service_decoration.rst
Owners: none

Fix some paths
  routing.rst
Owners: none

Try to make the exception handling more clear
  components/http_client.rst
Owners: none

Add tip for different route in Demo Application
  page_creation.rst
Owners: none

Update mailer.rst
  mailer.rst
Owners: none

Update twig.rst
  reference/configuration/twig.rst
Owners: none

Notes added by 'git notes add'
  10/747a8657cd2b737f6071300c64491a36ac2c81
Owners: none

[HttpClient] better explain how to deal with exceptions
  components/http_client.rst
Owners: none

Add doc for rounding_mode
  reference/forms/types/percent.rst
Owners: @xabbuh

Update mailer.rst
  mailer.rst
Owners: none

Update controller.rst
  controller.rst
Owners: none

Update mailer.rst
  mailer.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

Update templates.rst
  templates.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

Notes added by 'git notes add'
  5f/791ca2643d46afe74aed13f66f361ed5d460f6
Owners: none

Minor fix
  components/http_client.rst
Owners: none

Update service_container.rst
  frontend/custom_version_strategy.rst
  profiler/data_collector.rst
  reference/dic_tags.rst
  security/custom_authentication_provider.rst
  serializer.rst
  service_container.rst
  service_container/alias_private.rst
  service_container/autowiring.rst
  service_container/import.rst
  service_container/parent_services.rst
  service_container/service_decoration.rst
  service_container/tags.rst
Owners: @chalasr

Notes added by 'git notes add'
  42/7da62b13440da955e357c432a9709e67c31a25
Owners: none

[3.4] patch for dependency injection in controllers
  controller.rst
Owners: none

Remove old versionadded directive
  service_container/service_decoration.rst
Owners: none

Adjusts description of the csrf_token extension
  reference/twig_reference.rst
Owners: none

Adjusts description of the `csrf_token_id` option
  reference/configuration/security.rst
Owners: none

[Security] Various minor fixes in XML config
  security/custom_authentication_provider.rst
  security/entity_provider.rst
  security/force_https.rst
  security/guard_authentication.rst
  security/json_login_setup.rst
  security/ldap.rst
  security/multiple_guard_authenticators.rst
  security/multiple_user_providers.rst
  security/remember_me.rst
  security/user_checkers.rst
Owners: @chalasr
