Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Update routing.rst
  components/routing.rst
Owners: none

Update routing.rst
  components/routing.rst
Owners: none

Adding a sample tsconfig file to the Encore documentation page
  frontend/encore/typescript.rst
Owners: none

Notes added by 'git notes add'
  c6/f402b9fb904a3e406d52a05a420affe1ffb397
Owners: none

Clarify target path functionality
  security/form_login_setup.rst
Owners: @chalasr

[Messenger] `get()` usage
  components/messenger.rst
Owners: none

Minor fix
  components/messenger.rst
Owners: none

[Logger] [Processor] additional info on processor
  logging/processors.rst
Owners: none

Notes added by 'git notes add'
  42/6784ede53423d491ba5c9ec24f23f68f077cdd
Owners: none

Minor reword
  logging/processors.rst
Owners: none

Update api_key_authentication.rst
  security/api_key_authentication.rst
Owners: @chalasr

Adding instructions to prevent CORS errors
  frontend/encore/dev-server.rst
Owners: none

Notes added by 'git notes add'
  ea/a24a5279cd6f17b146e47b2383c4ada6ebbb6f
Owners: none

Reword
  frontend/encore/dev-server.rst
Owners: none

Notes added by 'git notes add'
  20/cfcf0bfb08ed602aef08ab54805914dc6e0379
Owners: none

Tweaks
  components/serializer.rst
  serializer.rst
Owners: none

Removed the versionadded directives
  components/serializer.rst
  serializer.rst
Owners: none

Add flock:// option to framework lock configuration reference
  reference/configuration/framework.rst
Owners: none

Removed the versionadded directive
  reference/configuration/framework.rst
Owners: none

[Ldap] Documented the deprecation related to query_string
  security/ldap.rst
Owners: @chalasr

Notes added by 'git notes add'
  b6/ecca987ea68d944b2c9b9e359ed476efa1964a
Owners: none

Removed the deprecated directive
  security/ldap.rst
Owners: @chalasr

Reword
  bundles/best_practices.rst
  console/commands_as_services.rst
  controller.rst
  logging.rst
  logging/channels_handlers.rst
  quick_tour/the_architecture.rst
  reference/configuration/monolog.rst
  reference/dic_tags.rst
  service_container.rst
  service_container/3.3-di-changes.rst
Owners: @chalasr

Notes added by 'git notes add'
  77/ff125180badc51f041160401b2fe1dd5cb98bb
Owners: none

Minor fixes
  reference/configuration/framework.rst
  reference/forms/types/collection.rst
Owners: @xabbuh

Reword
  components/console/helpers/progressbar.rst
Owners: @chalasr

Removed the versionadded directives
  components/console/helpers/progressbar.rst
Owners: @chalasr

[DependencyInjection] Fluent PHP DI Documentation
  components/dependency_injection.rst
  service_container.rst
  service_container/3.3-di-changes.rst
  service_container/alias_private.rst
  service_container/autowiring.rst
  service_container/calls.rst
  service_container/configurators.rst
  service_container/expression_language.rst
  service_container/factories.rst
  service_container/import.rst
  service_container/injection_types.rst
  service_container/lazy_services.rst
  service_container/optional_dependencies.rst
  service_container/parent_services.rst
  service_container/service_decoration.rst
  service_container/service_subscribers_locators.rst
  service_container/shared.rst
  service_container/synthetic_services.rst
  service_container/tags.rst
Owners: none

Add more information about Docker and the local web server
  setup/symfony_server.rst
Owners: none

[#10824] Fixed issues found by DOCtor
  service_container/3.3-di-changes.rst
  service_container/alias_private.rst
  service_container/parent_services.rst
Owners: none

[#10824] Applied some of @HeahDudes comments and added missing comments
  components/dependency_injection.rst
  service_container.rst
  service_container/3.3-di-changes.rst
  service_container/alias_private.rst
  service_container/autowiring.rst
  service_container/calls.rst
  service_container/configurators.rst
  service_container/expression_language.rst
  service_container/factories.rst
  service_container/import.rst
  service_container/injection_types.rst
  service_container/lazy_services.rst
  service_container/optional_dependencies.rst
  service_container/parent_services.rst
  service_container/service_decoration.rst
  service_container/service_subscribers_locators.rst
  service_container/shared.rst
  service_container/synthetic_services.rst
  service_container/tags.rst
Owners: none

Documented the DomCrawler option to normalize white spaces
  components/dom_crawler.rst
  testing.rst
Owners: none

Fixed some RST syntax issues
  components/console/helpers/progressbar.rst
Owners: @chalasr

Fixed typo
  doctrine/events.rst
Owners: none

Fixes broken links to source code on github.com
  controller/service.rst
Owners: none

Updated some links
  controller/service.rst
Owners: none

Updated some links
  controller/service.rst
Owners: none

Updated some links
  controller/service.rst
Owners: none

Minor reword
  components/dom_crawler.rst
  testing.rst
Owners: none

Removed the versionadded directives
  components/dom_crawler.rst
  testing.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
