Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

#12633 Update \"upgrading\" guide for Symfony5
  setup/upgrade_major.rst
Owners: none

Fixed duplicated text
  setup/upgrade_major.rst
Owners: none

Change 4 to 5
  setup/upgrade_patch.rst
Owners: none

Update routing.rst
  routing.rst
Owners: none

[#12646] Minor sentence and standard fix
  routing.rst
Owners: none

Change 4 to 5 in anticipation of future patch
  setup/upgrade_patch.rst
Owners: none

[#10991] Removed redundant 'in order to'
  service_container/calls.rst
Owners: none

Removed 4.x version added directives
  service_container/calls.rst
  service_container/injection_types.rst
Owners: none

fix typo
  setup/upgrade_major.rst
Owners: none

Add documentation: unit tests of custom validator
  form/unit_testing.rst
  validation/unit_testing.rst
Owners: none

[Transalation] Document range translation using the ICU MessageFormat
  translation/message_format.rst
Owners: none

Revert "[Transalation] Document range translation using the ICU MessageFormat"
  translation/message_format.rst
Owners: none

[#12400] Added tip about ranges in the new ICU message format
  translation/message_format.rst
Owners: none

Update doctrine.rst
  reference/configuration/doctrine.rst
Owners: none

[#12393] Rewrote the sentence a bit
  reference/configuration/doctrine.rst
Owners: none

[#12636] Link to PHP.net's UTF-8 docs
  reference/configuration/framework.rst
Owners: none

Show how to retrieve workflow in a class
  workflow.rst
Owners: @lyrixx

[#12545] Slightly improved the title
  workflow.rst
Owners: @lyrixx

WIP Notifer Page
  notifier.rst
Owners: none

Replace tagged with tagged_iterator for service tagging PHP example
  service_container/tags.rst
Owners: none

[Routing] [FrameworkBundle] Added --sort to debug:router
  routing.rst
Owners: none

Update phpunit_bridge.rst
  components/phpunit_bridge.rst
Owners: none

fix doctrine page
  doctrine.rst
Owners: none

Removed the Debug component
  _build/redirection_map
  components/class_loader.rst
  components/class_loader/debug_class_loader.rst
  components/debug.rst
  configuration/front_controllers_and_kernel.rst
Owners: none

Updated docs referencing MicroKernelTrait::configureRoutes()
  configuration/front_controllers_and_kernel.rst
  configuration/micro_kernel_trait.rst
  setup/flex.rst
Owners: none

Fixed code sample style
  routing.rst
Owners: none

Added versionadded paragraphs
  configuration/front_controllers_and_kernel.rst
  configuration/micro_kernel_trait.rst
Owners: none

Set PHP Version requirement to 7.2.5
  setup.rst
Owners: none

Fix filename
  session/locale_sticky_session.rst
Owners: none

Add doc for priority method for tagged iterator services
  service_container/tags.rst
Owners: none

remove odd looking semicolons from main menu links
  security.rst
Owners: @chalasr

Add container.hot_path to built-in service tags
  reference/dic_tags.rst
Owners: none

Notes added by 'git notes add'
  61/6f243f7787f17941afb57b315d2a7b13a21b39
Owners: none

Notes added by 'git notes add'
  88/56e2035ea46314cc9aeaf8cfec1472fc156a69
Owners: none

minor. refs #12684
  reference/dic_tags.rst
Owners: none

removed old versionadded. refs #12684
  reference/dic_tags.rst
Owners: none

Follow up to remove the debug component
  components/phpunit_bridge.rst
Owners: none

Remove ErrorRenderer reference everywhere
  components/error_handler.rst
  components/error_renderer.rst
  components/http_kernel.rst
  controller/error_pages.rst
  create_framework/http_kernel_httpkernel_class.rst
Owners: none

[ExpressionLanguage] Fix extending documentation
  components/expression_language/extending.rst
Owners: none

Removed merge conflict
  _build/redirection_map
Owners: none
