Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

[Console] Updated section 'Building a single Command Application' with the new 'SingleCommandApplication'
  components/console/single_command_tool.rst
Owners: @chalasr

minor. refs #12917
  components/console/single_command_tool.rst
Owners: @chalasr

Move method and class
  components/console/single_command_tool.rst
  components/options_resolver.rst
  components/routing.rst
  components/security/authentication.rst
  reference/constraints/File.rst
  validation.rst
  workflow.rst
Owners: @chalasr, @xabbuh, @lyrixx

Update extending.rst
  components/expression_language/extending.rst
Owners: none

minor
  components/console/helpers/progressbar.rst
Owners: @chalasr

Update DSN needed to create NullTransport
  components/mailer.rst
Owners: none

Update DSN needed to create NullTransport
  mailer.rst
Owners: none

Update input.rst
  console/input.rst
Owners: @chalasr

Fix Typo
  reference/forms/types/options/label_format.rst.inc
Owners: @xabbuh

[FrameworkBundle] Mention that setting router.utf8 is now mandatory
  reference/configuration/framework.rst
Owners: none

Fixed an RST syntax issue
  reference/constraints/File.rst
Owners: @xabbuh

[Yaml] Documented the yaml-lint binary
  translation/lint.rst
Owners: none

Added notes about multiplexing responses that contain ones with 4xx/5xx status codes and about handling timeout in the same case
  components/http_client.rst
Owners: none

Update data_transformers.rst
  form/data_transformers.rst
Owners: none

Add the secret documentation
  best_practices.rst
  configuration/env_var_processors.rst
  configuration/secrets.rst
  doctrine/pdo_session_storage.rst
Owners: none

finishing the secrets documentation
  best_practices.rst
  configuration.rst
  configuration/env_var_processors.rst
  configuration/secrets.rst
  doctrine/pdo_session_storage.rst
Owners: none

[Mailer] Fix interface use in one example
  mailer.rst
Owners: none

Slack notifier actions documentation
  components/notifier.rst
Owners: none

Reorder the use statements alphabetically
  components/notifier.rst
Owners: none

Update controller/upload_file.rst
  controller/upload_file.rst
Owners: none

Update lock.rst
  components/lock.rst
Owners: none

Fix invalid variable name
  workflow.rst
Owners: @lyrixx

Reversed the variable name fix
  workflow.rst
Owners: @lyrixx

The example shortcut was in the wrong location
  messenger.rst
Owners: none

tweaking the password upgrading functionality
  security/password_migration.rst
Owners: @chalasr

Minor tweak
  security/password_migration.rst
Owners: @chalasr

Remove usages of transChoice() method for Symfony 5.0
  components/form.rst
  components/translation.rst
  components/translation/usage.rst
Owners: @xabbuh

Notes added by 'git notes add'
  21/46961553b18c2715a923b659f440eab7eea463
Owners: none

Move sidebar into a real section
  translation.rst
Owners: none

Improve help for app behind Cloudfront proxy
  deployment/proxies.rst
Owners: none

Fix Cloudfront trusted proxy library link
  deployment/proxies.rst
Owners: none

fix rst lint
  deployment/proxies.rst
Owners: none

Fixed typo
  reference/twig_reference.rst
Owners: none

Update service_container.rst
  service_container.rst
Owners: none

Updated the intro of the Twig extensions article
  templating/twig_extension.rst
Owners: none

Start the Notifier Component documentation
  components/notifier.rst
Owners: none

Add Canonicalize option to Locale Constraint
  reference/constraints/Locale.rst
Owners: @xabbuh

Update reference/constraints/Locale.rst
  reference/constraints/Locale.rst
Owners: @xabbuh

Update reference/constraints/Locale.rst
  reference/constraints/Locale.rst
Owners: @xabbuh

Update Locale.rst
  reference/constraints/Locale.rst
Owners: @xabbuh
