Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Minor
  form/form_collections.rst
Owners: none

Removed AppBundle from code samples
  form/form_collections.rst
Owners: none

Changed templates directory in code samples
  form/form_collections.rst
Owners: none

Added routing annotation to Controller in code sample
  form/form_collections.rst
Owners: none

Fixing controller in code sample
  form/form_collections.rst
Owners: none

Minor
  form/form_collections.rst
Owners: none

Removing the tests for PHP 7.0
  bundles/best_practices.rst
Owners: none

Minor
  form/form_collections.rst
Owners: none

Minor
  form/form_collections.rst
Owners: none

Update form_collections.rst
  form/form_collections.rst
Owners: none

Added persist to sample code
  form/form_collections.rst
Owners: none

Added a new section to explain how to pass options to forms
  forms.rst
Owners: @xabbuh

Document the validator's switch to PSR-6.
  components/validator/resources.rst
Owners: @xabbuh

Add docs for DateTimeZoneNormalizer
  components/serializer.rst
  serializer.rst
Owners: none

Be more explicit about the use of regular expressions in access_control
  security.rst
Owners: @chalasr

Notes added by 'git notes add'
  c4/9a38b9224f66e3d888a7db4db696c155b023ef
Owners: none

Tweaked the explanation about the is_fully_authenticated() function
  security/expressions.rst
Owners: @chalasr

Minor tweak
  validation.rst
Owners: none

bc.rst
  contributing/code/bc.rst
Owners: none

Stopwatch: remove the component docs and integrate into framework docs
  _build/redirection_map
  components/stopwatch.rst
  page_creation.rst
  performance.rst
  profiler.rst
  reference/twig_reference.rst
Owners: none

Fixed some references
  components/phpunit_bridge.rst
  profiler.rst
Owners: none

Expected scalar type, got array
  workflow.rst
Owners: @lyrixx

[Console] Added SymfonyStyle::definitionList() and SymfonyStyle::horizontalTable()
  console/style.rst
Owners: @chalasr

Notes added by 'git notes add'
  97/d21a82ecf04a9238b110f8381051934f027263
Owners: none

Minor tweaks
  console/style.rst
Owners: @chalasr

Removed the versionadded directives
  console/style.rst
Owners: @chalasr

Notes added by 'git notes add'
  16/4ce4011d00d762dfd79ccbc9c693f858e5f926
Owners: none

Removed non working link
  validation.rst
Owners: none

Removed more namespace shortcuts
  contributing/documentation/format.rst
  create_framework/http_foundation.rst
  validation.rst
Owners: none

[Monolog] Added documentation about ElasticsearchLogstashHandler
  logging.rst
  logging/handlers.rst
Owners: none

Mentioned the automatic set of \"accept\" based on \"mimeTypes\"
  reference/constraints/File.rst
Owners: @xabbuh

Notes added by 'git notes add'
  6e/ada5b41f1a90ff2bf45417b2a10470cd676c96
Owners: none

Minor typo
  reference/constraints/File.rst
Owners: @xabbuh

[Mailer] Change DSN syntax
  components/mailer.rst
Owners: none

Reworded all the docs related to templates and Twig
  _build/redirection_map
  components/http_foundation.rst
  components/templating.rst
  configuration/front_controllers_and_kernel.rst
  controller.rst
  event_dispatcher.rst
  getting_started/index.rst
  http_cache/esi.rst
  introduction/from_flat_php_to_symfony.rst
  mailer.rst
  page_creation.rst
  reference/configuration/twig.rst
  reference/twig_reference.rst
  routing.rst
  security.rst
  templates.rst
  templating.rst
  templating/PHP.rst
  templating/app_variable.rst
  templating/debug.rst
  templating/embedding_controllers.rst
  templating/escaping.rst
  templating/formats.rst
  templating/global_variables.rst
  templating/hinclude.rst
  templating/inheritance.rst
  templating/namespaced_paths.rst
  templating/render_without_controller.rst
  templating/syntax.rst
  templating/twig_extension.rst
Owners: @chalasr

Notes added by 'git notes add'
  3c/e905a3430f71b70f65b61fb8daca6fe8ab8be8
Owners: none

[TwigBridge] Documented the new lint:twig behavior when passing no arguments
  templates.rst
Owners: none

Minor tweaks
  components/mailer.rst
Owners: none

Removed the versionadded
  templates.rst
Owners: none

Improved the docs about automatic proxy in Symfony server
  setup/symfony_server.rst
Owners: none
