Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Fix compiler pass phase when extensions that implements CompilerPassInterface are executed
  components/dependency_injection/compilation.rst
Owners: none

Fix typo in notifier component
  components/notifier.rst
Owners: none

tweaks thanks to review
  configuration/secrets.rst
Owners: none

Updated link
  messenger.rst
Owners: none

Adding details about recipe upgrade system and upgrade improvements
  setup.rst
  setup/_update_dep_errors.rst.inc
  setup/upgrade_major.rst
  setup/upgrade_minor.rst
Owners: none

Notes added by 'git notes add'
  87/c271edfec45c08e5458e839f364a54dda25adb
Owners: none

Removed unused imports in TaskController
  forms.rst
Owners: @xabbuh

Fix doc issues
  components/notifier.rst
Owners: none

Updated import order to be alphabetic
  forms.rst
Owners: @xabbuh

Added the versionadded directive
  messenger.rst
Owners: none

Fix build. Refs #12959
  .doctor-rst.yaml
Owners: none

Notes added by 'git notes add'
  27/4105c0327d00cbc0472c1768291e6dfd819a44
Owners: none

Update authorization.rst
  components/security/authorization.rst
Owners: @chalasr

[Security] Fixed the name of a method
  components/security/authorization.rst
Owners: @chalasr

Updated imports in TaskController when using TaskType
  forms.rst
Owners: @xabbuh

Update broken links
  configuration/front_controllers_and_kernel.rst
Owners: none

expires method not defined anymore in Response.php
  components/http_foundation.rst
Owners: none

composer issue for prefer-lowest has been fixed
  bundles/best_practices.rst
Owners: none

[Messenger] Document Redis TLS support
  messenger.rst
Owners: none

Remove old versionadded
  configuration.rst
  configuration/secrets.rst
Owners: none

Update compiler_passes.rst
  service_container/compiler_passes.rst
Owners: none

[Mailer] add ability to disable the TLS peer verification via DSN
  components/mailer.rst
Owners: none

Reword
  components/mailer.rst
Owners: none

Workflow: align Example for property access with implementation of Me…
  workflow.rst
Owners: @lyrixx

Notes added by 'git notes add'
  a4/cce1e291c8ca0fa80d2ac61e3403e156f3aa75
Owners: none

[Translation] Added tip about the incompatibility of % character
  translation/message_format.rst
Owners: none

Minor. refs #12949
  translation/message_format.rst
Owners: none

Minor
  translation/message_format.rst
Owners: none

fix XML config example
  messenger.rst
Owners: none

Promote usage of a single translation domain
  bundles/override.rst
  translation.rst
  validation/translations.rst
Owners: none

[mailer] add tag and metadata docs
  mailer.rst
Owners: none

[#12861] Tweak translation articles for 4.3 component changes
  translation.rst
  translation/xliff.rst
Owners: none

[#12861] Tweaked translation docs for 4.4 component changes
  translation.rst
Owners: none

Removed leftover 3.4 versionadded directive
  translation/xliff.rst
Owners: none

Added the other two removed component articles to the redirection map
  _build/redirection_map
Owners: none

Update Locale.rst
  reference/constraints/Locale.rst
Owners: @xabbuh

Update reference/constraints/Locale.rst
  reference/constraints/Locale.rst
Owners: @xabbuh

Fixed example for very verbose progress bar
  components/console/helpers/progressbar.rst
Owners: @chalasr

Update controller.rst
  controller.rst
Owners: none

Fixed missing reference error
  translation/message_format.rst
Owners: none
