Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Fixed deadlink to Translation components docs
  workflow.rst
Owners: @lyrixx

Reorder the use statements alphabetically
  components/notifier.rst
Owners: none

add notifier.rst
  components/notifier.rst
Owners: none

WIP Notifer Page
  notifier.rst
Owners: none

Slack notifier actions documentation
  components/notifier.rst
Owners: none

Document $suffix argument to tempnam()
  components/filesystem.rst
Owners: none

Fix version. refs #12108
  components/filesystem.rst
Owners: none

Fix version. refs #12108
  components/filesystem.rst
Owners: none

Add caution in system+semaphore
  components/lock.rst
Owners: none

Add documentation CouchbaseBucketAdapter for cache system.
  components/cache/adapters/couchbasebucket_adapter.rst
Owners: none

Add missing versionadded directive. refs #11748
  components/cache/adapters/couchbasebucket_adapter.rst
Owners: none

refacto(Lock): FlockStore default path
  components/lock.rst
Owners: none

[FrameworkBundle][Routing] Removed context in template route config example
  templates.rst
Owners: none

[Security] Document the remember_me.service option
  security/remember_me.rst
Owners: @chalasr

Fix versions in Upgrading Major Version
  setup/upgrade_major.rst
Owners: none

Notes added by 'git notes add'
  57/61624a11d2e3005e7840c6080430a3e7e65801
Owners: none

fix: very_verbose mode shows estimated time
  components/console/helpers/progressbar.rst
Owners: @chalasr

Fix compiler pass phase when extensions that implements CompilerPassInterface are executed
  components/dependency_injection/compilation.rst
Owners: none

Added documentation for the priority access decision strategy
  components/security/authorization.rst
  security/voters.rst
Owners: @chalasr

Notes added by 'git notes add'
  27/54e7219c286a69c313ea930a015c1632edef34
Owners: none

minor. refs #12956
  components/security/authorization.rst
  security/voters.rst
Owners: @chalasr

minor. refs #13049
  security/remember_me.rst
Owners: @chalasr

Reword. refs #13022
  mailer.rst
Owners: none

Fix example with iterable
  components/console/helpers/progressbar.rst
Owners: @chalasr

minor. refs #13027
  components/console/helpers/progressbar.rst
Owners: @chalasr

minor. refs #13042
  components/lock.rst
Owners: none

Add caution in system+semaphore
  components/lock.rst
Owners: none

minor. refs #13035
  components/lock.rst
Owners: none

Add Notifier component documentation
  _build/redirection_map
  components/notifier.rst
  index.rst
  mailer.rst
  notifier.rst
  notifier/chatters.rst
  notifier/texters.rst
Owners: none

Improved some grammar thanks to @savvasal
  notifier.rst
Owners: none

Notes added by 'git notes add'
  c2/8acd6648a7ab79b03ba4828194ece31bcb281a
Owners: none

Use Sphinx GithubAction instead of Travis
  .github/workflows/build.yaml
  .travis.yml
Owners: none

Use GithubAction instead of Travis
  .github/workflows/ci.yaml
  .travis.yml
Owners: none

Use one workflow file
  .github/workflows/lint.yaml
Owners: none

There are 5 events listed and not 4
  components/security/authentication.rst
Owners: @chalasr

Changed the text so that it doesnt contain a number
  components/security/authentication.rst
Owners: @chalasr

Update authentication.rst
  components/security/authentication.rst
Owners: @chalasr

Notes added by 'git notes add'
  b4/bb39dbde4bcca9ead35b785580a56dc4da54ee
Owners: none

Minor #12420
  components/event_dispatcher.rst
  event_dispatcher.rst
Owners: none

Remove old versionadded directives
  components/event_dispatcher.rst
  event_dispatcher.rst
Owners: none
