Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Typo
  workflow.rst
Owners: @lyrixx

Typo
  workflow.rst
Owners: @lyrixx

Typo
  workflow.rst
Owners: @lyrixx

Remove webserver bundle usage
  contributing/code/reproducer.rst
Owners: none

[DI] Improve an example about automatic tags and bundles
  service_container/tags.rst
Owners: none

add link ( Xpath ) for css_selector.rst
  components/css_selector.rst
Owners: none

minor. refs #13307
  components/css_selector.rst
Owners: none

Notes added by 'git notes add'
  c6/72a8498a5e6cf8bb497c9248fe0e3a3d9b5722
Owners: none

Update links to avoid 404
  setup/flex.rst
Owners: none

updating links in doctrine.rst
  doctrine.rst
Owners: none

[Validator] Documented the divisibleBy option of the Count constraint
  reference/constraints/Count.rst
  reference/constraints/DivisibleBy.rst
Owners: @xabbuh

[HttpFoundation] Allow to configure session handlers with DSN
  reference/configuration/framework.rst
  session.rst
Owners: none

[Server Configuration] Clarified performance tip about symfony/apache-pack
  setup/web_server_configuration.rst
Owners: none

Reword
  setup/web_server_configuration.rst
Owners: none

[Contributing] Fix Coding Standards example (esp. null return vs. void)
  contributing/code/standards.rst
Owners: none

Notes added by 'git notes add'
  c8/df8e49f46d60c96081384bb6c01e223ee0bd61
Owners: none

Notes added by 'git notes add'
  11/7e239b19bd8a2b69f3e5c2ce6c2fb229fc0065
Owners: none

Minor tweak
  components/http_client.rst
Owners: none

Update round robin transport explaination
  notifier.rst
Owners: none

s/with/within
  logging/monolog_email.rst
Owners: none

:bug: Fixed dead links to reStructuredText
  contributing/documentation/format.rst
  contributing/documentation/overview.rst
Owners: none

Missing format parameter in a serialize call
  components/serializer.rst
Owners: none

Notes added by 'git notes add'
  92/f534af7a925d96452b367bd66cc238bfdaa01d
Owners: none

Update testing.rst
  testing.rst
Owners: none

Kernel constructor (SF v4.4.5) accepts only 2 args
  migration.rst
Owners: none

Update controller.rst
  controller.rst
Owners: none

Fix: Remove old versionadded
  reference/configuration/framework.rst
Owners: none

Typo in allow_if condition
  security/access_control.rst
Owners: @chalasr

use improved Yaml syntax for defining method calls
  service_container/calls.rst
Owners: none

Fix comma
  workflow.rst
Owners: @lyrixx

[Security] PHP Syntax Fix
  security.rst
Owners: @chalasr

Microupdate on broken bullet point
  translation.rst
Owners: none

Add missing buit-in normalizers
  serializer.rst
  serializer/normalizers.rst
Owners: none

feat: add amazon sqs to docs
  messenger.rst
Owners: none

[DOCS] Updated performance page opcache file name
  performance.rst
Owners: none

Fx: Typo
  mailer.rst
Owners: none

Add missing normalizers introduced between 3.4 and 4.4
  serializer.rst
  serializer/normalizers.rst
Owners: none

Notes added by 'git notes add'
  9c/f19c896796ebaf562da44b383be5e60285d458
Owners: none

Added the missing versionadded directives
  serializer.rst
Owners: none

Removed an unneeded link
  serializer.rst
Owners: none
