Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Fix some examples
  components/var_dumper/advanced.rst
Owners: none

Notes added by 'git notes add'
  b5/b99f462d2775fbc7856b4aced76b94d6261bd8
Owners: none

Fix rendering of error code block
  frontend/encore/simple-example.rst
Owners: none

Fix comment to actually be a comment in code block
  frontend/encore/babel.rst
Owners: none

Update .github/workflows/build.yaml
  .github/workflows/build.yaml
Owners: none

[DomCrawler] Added Crawler::matches(), ::closest(), ::outerHtml()
  components/dom_crawler.rst
Owners: none

Apply suggestions from code review
  .github/workflows/build.yaml
Owners: none

Remove old versionadded directives. #12225
  components/dom_crawler.rst
Owners: none

Apply suggestions from code review
  .github/workflows/build.yaml
Owners: none

Adding notes
  components/event_dispatcher.rst
Owners: none

Update yaml file
  .github/workflows/build.yaml
Owners: none

Update .github/workflows/build.yaml
  .github/workflows/build.yaml
Owners: none

[#12225] fix a small typo
  components/dom_crawler.rst
Owners: none

[Console] Add note about URL cutting of default output wrapper
  console/style.rst
Owners: @chalasr

fix word: domain => subdomain
  routing.rst
Owners: none

Replace misused EventListener with an EventSubscriber.
  mailer.rst
Owners: none

scope singly-implemented interfaces detection by file
  service_container/autowiring.rst
Owners: none

Remove duplicated !!set tag
  components/yaml/yaml_format.rst
Owners: @xabbuh

Strip YAML trailing multiline
  translation/message_format.rst
Owners: none

[DX] Longer variable names in Mercure documentation
  mercure.rst
Owners: none

Updated the editorconfig configuration
  .editorconfig
  .travis.yml
Owners: none

Minor fix in the Routing article
  routing.rst
Owners: none

[Routing
  routing.rst
Owners: none

Add docs on Address::fromString
  mailer.rst
Owners: none

Notes added by 'git notes add'
  b7/3bb19732b2708e21453e60228037891480a345
Owners: none

Minor reword
  mailer.rst
Owners: none

Removed old versionadded directives
  mailer.rst
Owners: none

Notes added by 'git notes add'
  2d/7cd2b5f7f81bff2f1e423e0826b9b8cd521cdf
Owners: none

Yaml: minor syntax issues and expanded multi-line examples
  components/yaml/yaml_format.rst
Owners: @xabbuh

Removed a versionadded directive
  doctrine/event_listeners_subscribers.rst
Owners: none

Move some doc contents in a Messenger article
  messenger/handler_results.rst
Owners: none

Notes added by 'git notes add'
  19/e9d0b1dd6653bda04dd9ad67cae98036401ae1
Owners: none

Added a versionadded directive
  routing.rst
Owners: none

Removed a versionadded directive
  routing.rst
Owners: none

Update templates.rst
  translation/templates.rst
Owners: none

Update templates.rst
  translation/templates.rst
Owners: none

Replace public and protected field entity by private
  validation.rst
Owners: none

Update workflow configuration example following Symfony 4.3 deprecations
  workflow/dumping-workflows.rst
Owners: @lyrixx

Update workflow configuration example following Symfony 4.3 deprecations
  workflow/introduction.rst
Owners: @lyrixx

ignore false positives in master branch from DOCtor-RST
  .doctor-rst.yaml
Owners: none
