Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Minor fixes for the new Routing article
  routing.rst
Owners: none

Renamed the security:check command as check:security
  contributing/code/security.rst
  security/security_checker.rst
Owners: @chalasr

Use PSR-13 implementation from WebLink component
  components/web_link.rst
  mercure.rst
  web_link.rst
Owners: none

[Workflow] config doc
  reference/configuration/framework.rst
  workflow.rst
  workflow/introduction.rst
Owners: @lyrixx

Fix indent
  workflow/introduction.rst
Owners: @lyrixx

Doc config metadata
  reference/configuration/framework.rst
Owners: none

Review
  workflow.rst
Owners: @lyrixx

[Workflow] config doc
  components/workflow.rst
  workflow.rst
  workflow/dumping-workflows.rst
Owners: @lyrixx

Minor XML improvement
  workflow.rst
Owners: @lyrixx

[Messenger] Fix NewOrdersFromCsvFileReceiver::get return type
  components/messenger.rst
Owners: none

fix fail merge https://github.com/symfony/symfony-docs/pull/12146#discussion_r313141039
  components/workflow.rst
Owners: @lyrixx

[#12146] fix typos
  components/workflow.rst
Owners: @lyrixx

Added the Code of Conduct file
  CODE_OF_CONDUCT.md
Owners: none

Added the LICENSE file
  LICENSE.md
Owners: none

Fix ctype links
  reference/constraints/Type.rst
Owners: @xabbuh

[Messenger] Information about why consumers do not show up in the (rabbimq) admin panel
  messenger.rst
Owners: none

Notes added by 'git notes add'
  0b/8530527b2b80606471e25955c13eb3a38775af
Owners: none

Fixes typo in routing.
  routing.rst
Owners: none

Notes added by 'git notes add'
  b1/e631e00c8fe4dfb2c7c3448afd4cf05361bc1f
Owners: none

Mention the new check:requirements command
  deployment.rst
  reference/requirements.rst
Owners: none

Notes added by 'git notes add'
  c6/fbbdfda1886c8d3c0ebecf7b66cbe5a1879e8d
Owners: none

Updated the main Form article
  _build/redirection_map
  best_practices/forms.rst
  components/form.rst
  doctrine.rst
  form/action_method.rst
  form/create_custom_field_type.rst
  form/direct_submit.rst
  form/form_themes.rst
  form/validation_groups.rst
  forms.rst
  reference/configuration/framework.rst
  reference/dic_tags.rst
  validation.rst
Owners: @xabbuh

Notes added by 'git notes add'
  c3/40e32e4e1d078d445fc61cb444df87a8dac90c
Owners: none

Fixed a wrong reference
  contributing/code/security.rst
Owners: none

Remove accent that was breaking class link
  cache.rst
Owners: none

Notes added by 'git notes add'
  08/4eb2bb28aa2ed9738a29886197aa2da7362c4a
Owners: none

Move anchor above correct heading
  translation.rst
Owners: none

Use vaild ref for link to the heading
  translation.rst
Owners: none

Notes added by 'git notes add'
  ad/a98d19ebd8d0ac1ebc936e13b645a121d6a67f
Owners: none

[Serializer] Documentation about new feature: callbacks context field now can be an \ArrayObject Also, fixed a typo in basic example of usage callbacks
  components/serializer.rst
Owners: none

Update expressions.rst
  security/expressions.rst
Owners: @chalasr

Simplified the docs about Symfony technical requirements
  _build/redirection_map
  best_practices/creating-the-project.rst
  deployment.rst
  migration.rst
  reference/index.rst
  reference/map.rst.inc
  reference/requirements.rst
  setup.rst
Owners: none

Remove unused links
  best_practices/security.rst
  best_practices/templates.rst
  bundles/best_practices.rst
  components/cache.rst
  components/dom_crawler.rst
  components/filesystem.rst
  components/finder.rst
  components/ldap.rst
  components/messenger.rst
  components/process.rst
  components/routing.rst
  components/serializer.rst
  components/translation/usage.rst
  components/var_exporter.rst
  contributing/community/reviews.rst
  controller/error_pages.rst
  deployment.rst
  doctrine.rst
  form/form_themes.rst
  introduction/from_flat_php_to_symfony.rst
  mercure.rst
  messenger.rst
  performance.rst
  reference/constraints/Timezone.rst
  security/custom_authentication_provider.rst
  security/guard_authentication.rst
  serializer.rst
  service_container.rst
  setup.rst
  setup/flex.rst
  setup/upgrade_major.rst
  templating/PHP.rst
Owners: @xabbuh, @chalasr

Remove unused link
  controller/argument_value_resolver.rst
Owners: none

Fix timeout exception thrown
  components/process.rst
Owners: none

Notes added by 'git notes add'
  ff/1308d944d8b7e5419b593d769263e9450a31fa
Owners: none

Remove duplicate word
  forms.rst
Owners: @xabbuh

Remove space before self closing XML tag
  routing.rst
Owners: none

Use correct code-block
  routing.rst
Owners: none

Remove duplicate namespace in code example
  workflow.rst
Owners: @lyrixx
