Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Notes added by 'git notes add'
  40/526202aa1fe19bb1c8a7c397482592f98cbd90
Owners: none

Reword
  reference/configuration/framework.rst
  validation.rst
Owners: none

Update recommended password encoder to \"auto\"
  best_practices/security.rst
  reference/configuration/security.rst
  security.rst
  security/named_encoders.rst
  security/user_provider.rst
Owners: @chalasr

Notes added by 'git notes add'
  a3/5ec32c5112d01744fa222e8a05b449a63071b5
Owners: none

Minor tweaks
  best_practices/security.rst
  reference/configuration/security.rst
Owners: none

Added example for direct form submit with validation
  form/direct_submit.rst
Owners: none

Minor reword
  form/direct_submit.rst
Owners: none

Notes added by 'git notes add'
  e6/ca8a4527b643b7b945a6ccefd1f91f85417dab
Owners: none

Reword
  components/serializer.rst
Owners: none

Notes added by 'git notes add'
  71/7c135a1551aac72f35a0c81709edd32602d31a
Owners: none

Minor tweak
  components/security/authentication.rst
Owners: @chalasr

Fixing inconcistency - subscribr to listener
  session/locale_sticky_session.rst
Owners: none

Notes added by 'git notes add'
  06/e6d8e53a142c787f9837461fc0ccd128fdf7a6
Owners: none

Revert some changes
  session/locale_sticky_session.rst
Owners: none

[Workflow] Rework a bit the doc
  _build/redirection_map
  reference/configuration/framework.rst
  workflow.rst
  workflow/workflow-and-state-machine.rst
Owners: @lyrixx

Notes added by 'git notes add'
  a6/8a7c549d10812b300353766f9f48e3b9e5eeef
Owners: none

Typo
  workflow.rst
Owners: @lyrixx

Document new ProgressBar time-based frequency mutators
  components/console/helpers/progressbar.rst
Owners: @chalasr

add missing target
  security/form_login_setup.rst
Owners: @chalasr

remove no longer needed target
  security/form_login_setup.rst
Owners: @chalasr

fix merge
  security/form_login_setup.rst
Owners: @chalasr

Fix typo for max-files
  logging.rst
Owners: none

remove the array adapter chapter
  components/cache/adapters/array_cache_adapter.rst
Owners: none

remove unused use statements
  logging/handlers.rst
Owners: none

Mentioned the mailer debugging options
  mailer.rst
Owners: none

Restored the deleted adapter cache file
  components/cache/adapters/array_cache_adapter.rst
Owners: none

[Security] Deprecated using more than one role in access_control rules
  security/access_control.rst
Owners: @chalasr

Notes added by 'git notes add'
  d9/62dc239db09503a6593178cbfefd486a7f9102
Owners: none

Removed the versionadded directive
  mailer.rst
Owners: none

[Embed form collections] Add documentation about twig macros
  form/form_collections.rst
Owners: none

fix version number
  reference/configuration/framework.rst
Owners: none

clarify constraints on non-submitted forms
  form/without_class.rst
Owners: none

Add note on Trusted Proxies config when app is behind multiple proxies
  deployment/proxies.rst
Owners: none

Notes added by 'git notes add'
  75/cf3ed9a243ee55a5b6bf9a41f5270581dab3b9
Owners: none

Reword
  deployment/proxies.rst
Owners: none

Fix nested list for style properties
  workflow/dumping-workflows.rst
Owners: @lyrixx

Removed the deprecated feature
  security/access_control.rst
Owners: @chalasr

Add a warning to imports order
  service_container/import.rst
Owners: none

Notes added by 'git notes add'
  4b/b5153020692ea093941556b3bde788ecc784ca
Owners: none

Reword
  service_container/import.rst
Owners: none
