Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Mention that DoctrineCacheBundle is deprecated
  reference/configuration/doctrine.rst
Owners: none

Update the metadata_update_threshold description
  reference/configuration/framework.rst
Owners: none

fixed wording and added finishView
  form/create_custom_field_type.rst
Owners: none

[Contributing] Fix `trigger_error()` position in deprecated class
  contributing/code/conventions.rst
Owners: none

[String] Document the bytesAt() method
  components/string.rst
Owners: none

Fix "ensure the kernel is shut down " error message
  testing/database.rst
Owners: none

[Form] Added article for custom choice fields
  form/create_custom_choice_type.rst
  form/create_custom_field_type.rst
  forms.rst
  reference/forms/types/choice.rst
  reference/forms/types/options/choice_loader.rst.inc
Owners: @xabbuh

[EventDispatcher] Fix position of `AddEventAliasesPass`
  components/event_dispatcher.rst
Owners: none

Corrects description for placement of trigger_deprecation()
  contributing/code/conventions.rst
Owners: none

[Testing] Change deprecated assertContains to assertStringContainsString
  console.rst
  create_framework/unit_testing.rst
  testing.rst
Owners: @chalasr

Explain trigger errors from DataMapper
  form/data_mappers.rst
Owners: none

Avoid Supervisord to go in fatal error
  messenger.rst
Owners: none

[Testing] Fixed the description of assertSelectorTextContains()
  testing.rst
Owners: none

Update definitions.rst
  service_container/definitions.rst
Owners: none

Updated the Doctrine cache examples
  reference/configuration/doctrine.rst
Owners: none

Added a note about cache_limiter
  reference/configuration/framework.rst
Owners: none

Update feature documentation after @wouterj review
  form/data_mappers.rst
Owners: none

RepeatedType overrides `mapped` value for the type to work properly
  reference/forms/types/repeated.rst
Owners: @xabbuh

#27345 Added MongoDB Lock documentation
  components/lock.rst
Owners: none

Notes added by 'git notes add'
  be/88d94a72ac78dc3a27043744434fce9408e7d4
Owners: none

Fix test login example for 4.4 - 5.0 applications
  testing/http_authentication.rst
Owners: none

[#13171] Some small rewordings
  http_cache.rst
  security.rst
Owners: @chalasr

clean disposition of points
  routing.rst
Owners: none

Update Slack DSN
  notifier.rst
Owners: none

[#13534] Added versionadded about changed Slack DSN
  notifier.rst
Owners: none

Notes added by 'git notes add'
  d9/d0f611612b15f9b835ef6922c3c5db09394312
Owners: none

Fixed yaml extension after conflicts
  reference/constraints/Traverse.rst
Owners: @xabbuh

[Form] added the "choice_filter" option
  reference/forms/types/choice.rst
  reference/forms/types/options/choice_filter.rst.inc
Owners: @xabbuh

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
