Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh

Update framework.rst
  reference/configuration/framework.rst
Owners: none

Update configuration.rst
  configuration.rst
Owners: none

Minor tweak
  configuration.rst
Owners: none

[Form] Document the new collection_entry_* blocks
  form/form_themes.rst
Owners: none

[String] Added the containsAny() method
  components/string.rst
Owners: none

Use expectException method instead of deprecated annotation
  components/phpunit_bridge.rst
Owners: none

Fixes symfony/symfony-docs#13352
  components/http_client.rst
Owners: none

Adjust title underline;
  components/http_client.rst
Owners: none

Adjusting other things...
  components/http_client.rst
Owners: none

Use trigger_deprecation instead of @trigger_error
  components/phpunit_bridge.rst
  contributing/code/conventions.rst
  contributing/code/standards.rst
  contributing/community/reviews.rst
Owners: none

reword yaml-lint description
  translation/lint.rst
Owners: none

Update messenger.rst
  messenger.rst
Owners: none

[DI] Auto alias compiler pass is now enabled by default
  reference/dic_tags.rst
Owners: none

use NotNull instead of NotBlank
  reference/constraints/Sequentially.rst
Owners: @xabbuh

[#13379] Some small cleanups
  components/phpunit_bridge.rst
  contributing/code/conventions.rst
  contributing/code/standards.rst
Owners: none

Documented KernelBrowser::loginUser()
  .doctor-rst.yaml
  _build/redirection_map
  security.rst
  testing.rst
  testing/http_authentication.rst
Owners: @chalasr

Update security.rst
  security.rst
Owners: @chalasr

Update guard_authentication.rst
  security/guard_authentication.rst
Owners: @chalasr

fixes symfony/symfony-docs#13310
  components/messenger.rst
Owners: none

Update security.rst
  security.rst
Owners: @chalasr

Update security.rst
  security.rst
Owners: @chalasr

Start using docker-compose and watch the changed files to simplify docs development.
  Dockerfile
  _build/.requirements.txt
  _build/Makefile
  contributing/documentation/overview.rst
  docker-compose.yaml
Owners: none

Document the need for CURRENT_UID to avoid permission issues on generated files.
  contributing/documentation/overview.rst
Owners: none

Update class names as amqp messenger was moved to another package
  messenger.rst
Owners: none

Update notifier.rst
  notifier.rst
Owners: none

Update guard_authentication.rst
  security/guard_authentication.rst
Owners: @chalasr

Update guard_authentication.rst
  security/guard_authentication.rst
Owners: @chalasr

Update validation.rst
  validation.rst
Owners: none

Update validation.rst
  validation.rst
Owners: none

Update validation.rst
  validation.rst
Owners: none

Fix CR comments.
  contributing/documentation/overview.rst
Owners: none

Update guard_authentication.rst
  security/guard_authentication.rst
Owners: @chalasr

Notes added by 'git notes add'
  2d/e486aa816c2419f6453a1734fec909803b3b7b
Owners: none

Notes added by 'git notes add'
  a8/91aa220caf2ff338c16b8012fc284704871bd1
Owners: none

Notes added by 'git notes add'
  86/49d079645852e116c666f9c72f5be8c4080c98
Owners: none

Tweaks
  _build/redirection_map
  testing.rst
  testing/http_authentication.rst
Owners: none

Advise for usage of docker-compose.override.yaml instead of changing versioned files; Add such file to .gitignore;
  .gitignore
  contributing/documentation/overview.rst
  docker-compose.override.yaml
Owners: none

Align version of python used on local and on github actions.
  Dockerfile
Owners: none

[UID] Added the docs for the component
  components/uid.rst
Owners: none

Notes added by 'git notes add'
  45/9e09ff29f467e316b75cda3e25e80c0dc81dc0
Owners: none
