Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Promote DQL queries instead of QueryBuilder
  doctrine.rst
  doctrine/associations.rst
  messenger/custom-transport.rst
  security/user_provider.rst
Owners: @chalasr

Update http_foundation.rst
  components/http_foundation.rst
Owners: none

Notes added by 'git notes add'
  9c/fc826f6a46030ca8c95da88625cbc5027e15b9
Owners: none

Notes added by 'git notes add'
  78/2b7a5f371281ce1a13d4f293a6eb198d6197e0
Owners: none

Use setParameters() when setting multiple parameters
  messenger/custom-transport.rst
Owners: none

fixed scope example
  components/ldap.rst
Owners: none

Notes added by 'git notes add'
  b8/23ec3e73f2513c35cb0b9500207c5687dc8b62
Owners: none

synchronize code example with 4.3 branch
  reference/forms/types/collection.rst
Owners: @xabbuh

Documented the doctrine_clear_entity_manager middleware
  messenger.rst
Owners: none

Notes added by 'git notes add'
  7d/714b1cf7cec83fd9e12160ca7b97dac1ef0463
Owners: none

EventSubscriber is not autoconfigured
  doctrine/events.rst
Owners: none

[Messenger] Allow to configure the db index on Redis transport
  messenger.rst
Owners: none

Fix EvolvableLink attribute
  web_link.rst
Owners: none

[Cache] Fixed some method names
  components/cache/cache_pools.rst
Owners: none

Added a detail for getCrawler return.
  testing.rst
Owners: none

Added namespace for example
  templates.rst
Owners: none

Update Configuring Symfony page
  configuration.rst
Owners: none

Update Form Page
  forms.rst
Owners: @xabbuh

Add link to romainneutron profile in core team page
  contributing/code/core_team.rst
Owners: none

Minor code refactor
  web_link.rst
Owners: none

Removed the versionadded directive
  messenger.rst
Owners: none

Added the missing file paths of config files
  doctrine/events.rst
Owners: none

Remove Address's argument
  mailer.rst
Owners: none

Readded a NamedAddress example
  mailer.rst
Owners: none

[TwigBridge] Add show-deprecations option to the lint:twig command
  templates.rst
Owners: none

[Mailer] Update documentation to reflect up-to-date package names
  mailer.rst
Owners: none

Fix typo
  testing/database.rst
Owners: none

Move to the new DSN format for Mailer
  components/mailer.rst
  mailer.rst
Owners: none

[Mailer] Move remaining DSN to new format
  mailer.rst
Owners: none

Minor tweaks
  components/mailer.rst
Owners: none

Tweaked the explanation of UniqueEntity constraint
  reference/constraints/UniqueEntity.rst
Owners: @xabbuh

Update bootstrap.rst
  frontend/encore/bootstrap.rst
Owners: none

Update security.rst to include missing link
  security.rst
Owners: @chalasr

Minor tweak
  security.rst
Owners: @chalasr

Minor tweak
  templates.rst
Owners: none

Removed the versionadded directive
  messenger.rst
Owners: none

Fix minor typo
  components/translation/usage.rst
Owners: none

Fix code indentation
  translation/message_format.rst
Owners: none

Showing new -extra Twig extension repos
  mailer.rst
Owners: none

Update and fix Routing page Documentation
  routing.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
