Repository symfony/symfony-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chalasr, @xabbuh, @dunglas, @lyrixx

Update extension.rst
  bundles/extension.rst
Owners: none

Update doctrine.rst
  doctrine.rst
Owners: none

Return response in function
  security.rst
Owners: @chalasr

Fixed verb "send" in past tense: "sent"
  notifier.rst
Owners: none

add missing "secrets" key
  configuration/secrets.rst
Owners: none

Documented new security attributes
  components/security/authorization.rst
  security.rst
  security/impersonating_user.rst
  security/remember_me.rst
Owners: @chalasr

Notes added by 'git notes add'
  96/ac468c629a0d13d55c8423880479f314a0a32d
Owners: none

Hide build progress to clean up output
  .github/workflows/ci.yaml
  _build/.requirements.txt
  _build/_themes/_exts/symfonycom/sphinx/__init__.py
  _build/conf.py
Owners: none

Removed built in web server (it was re-introduced in a merge conflict)
  setup/built_in_web_server.rst
Owners: none

fix XML options config example
  messenger.rst
Owners: none

Update UniqueEntity.rst
  reference/constraints/UniqueEntity.rst
Owners: @xabbuh

add XML and PHP config examples
  messenger.rst
Owners: none

Replace former SecurityContext argument by TokenStorage
  components/security/authorization.rst
Owners: @chalasr

Update cache.rst with string return
  cache.rst
Owners: none

Update page_creation.rst with Response return
  page_creation.rst
Owners: none

Update http_cache.rst
  http_cache.rst
Owners: none

Refactor
  http_cache.rst
Owners: none

Add missing quotation marks in expression
  service_container/expression_language.rst
Owners: none

Escape backslashes in FQCN
  service_container/expression_language.rst
Owners: none

Change wording 'in' to 'via'
  reference/constraints/UniqueEntity.rst
Owners: @xabbuh

Typo fixed on secrets.rst
  configuration/secrets.rst
Owners: none

Update http_cache.rst
  http_cache.rst
Owners: none

Notes added by 'git notes add'
  a7/0893ca83b92d3864f6235b91643b683e748783
Owners: none

minor
  http_cache.rst
Owners: none

[missing return] Update email.rst
  email.rst
Owners: none

Fix small linguistic error
  security/impersonating_user.rst
Owners: @chalasr

A locale in this context is a comination of a language, a script and …
  components/intl.rst
Owners: none

Notes added by 'git notes add'
  34/2417e3ab28474ec5d44d18a616db574da3468a
Owners: none

Remove references to the secret env processors
  configuration/secrets.rst
Owners: none

Update asset.rst
  components/asset.rst
Owners: none

Refactor logging.rst
  logging.rst
Owners: none

Refactor service_container.rst
  service_container.rst
Owners: none

add option : "autoindex" in nginx configuration
  setup/web_server_configuration.rst
Owners: none

:alien: Updated links to Bootstrap docs
  form/bootstrap4.rst
  form/form_themes.rst
Owners: none

Update page_creation.rst
  page_creation.rst
Owners: none

A locale in this context is a comination of a language, a script and …
  components/intl.rst
Owners: none

[Validator] Document the alpha3 option of Language
  reference/constraints/Country.rst
  reference/constraints/Language.rst
Owners: @xabbuh

Update deprecated methods
  mercure.rst
Owners: none

Update configuration.rst
  configuration.rst
Owners: none

Refactor testing.rst
  testing.rst
Owners: none

.github/CODEOWNERS:

# Console
/console* @chalasr
/components/console* @chalasr

# Form
/forms.rst @xabbuh
/components/form* @xabbuh
/reference/forms* @xabbuh

# PropertyInfo
/components/property_info* @dunglas

# Security
/security* @chalasr
/components/security* @chalasr

# Validator
/validation/*
/components/validator* @xabbuh
/reference/constraints* @xabbuh

# Workflow
/workflow* @lyrixx
/components/workflow* @lyrixx

# Yaml
/components/yaml* @xabbuh
