Repository symfony/symfony-docs, pull requests merged in 2019-08, with the labels that each got.

#11781 Update serializer.rst
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#12064 Update output from make crud and make controller
  controller.rst
Labels: Status: Reviewed

#12072 Remove strict true === $user['showEmail'] on preSubmit
  form/events.rst
Labels: Form, Status: Reviewed

#11845 [Workflow] minor doc improvement
  workflow/introduction.rst
Labels: Status: Reviewed, Workflow

#12074 [Config] Minor reword about env vars
  configuration/env_var_processors.rst
Labels: Config, Status: Reviewed

#12077 Remove wrong backslash
  reference/configuration/twig.rst
Labels: Status: Reviewed, Twig

#12076 Fix use of deprecated Symfony\Bridge\Doctrine\RegistryInterface
  doctrine.rst
Labels: Doctrine, Status: Reviewed, deprecation

#11974 [Messenger] Use same buses names
  messenger/multiple_buses.rst
Labels: Messenger, Status: Reviewed

#12081 Remove space before self closing xml tag
  cache.rst
Labels: Cache, Status: Reviewed

#12080 Update heroku official documentation link
  deployment/heroku.rst
Labels: Status: Reviewed

#12079 Improved some deprecation message
  bundles/inheritance.rst
Labels: Bundles, Status: Reviewed

#12078 Updated some console commands
  _build/_themes/_exts/symfonycom/sphinx/lexer.py
  best_practices/creating-the-project.rst
  setup.rst
Labels: Status: Reviewed

#12071 [Yaml] Dump null as tilde
  components/yaml.rst
Labels: Status: Reviewed, Yaml

#12090 [Yaml] Tweaked the DUMP_NULL_AS_TILDE explanation
  components/yaml.rst
Labels: Status: Reviewed, Yaml

#12102 Grant xabbuh the right to merge everywhere in the code base
  contributing/code/core_team.rst
Labels: Status: Reviewed

#11956 Added small section about default values
  components/dotenv.rst
Labels: Dotenv, Status: Reviewed

#12100 Fix custom logging formatter
  logging/formatter.rst
Labels: Logger, Status: Reviewed

#12098 Remove the deciders level
  contributing/code/core_team.rst
Labels: Status: Reviewed

#12111 Simplify the core team processes
  contributing/code/core_team.rst
Labels: Status: Reviewed

#12112 Mailer doc tweaks
  components/mailer.rst
  mailer.rst
Labels: Mailer, Status: Reviewed

#12110 Fix sample of use of SYMFONY_DEPRECATIONS_HELPER for regex
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#12099 update composer autoloader section
  performance.rst
Labels: Status: Reviewed

#12054 [Form] Minor reword in the Choice type
  reference/forms/types/choice.rst
  reference/forms/types/dateinterval.rst
Labels: Form, Status: Reviewed

#12116 Replace utf8_bin collation with utf8mb4_bin in example
  doctrine/pdo_session_storage.rst
Labels: Doctrine, Status: Reviewed

#12093 Replace interface in custom normalizer
  serializer/custom_normalizer.rst
Labels: Serializer, Status: Reviewed

#12075 [Contributing] Add more information on deprecations
  contributing/code/conventions.rst
Labels: Status: Reviewed

#11640 Adds the most basic informations about loaders
  components/config/resources.rst
Labels: Config, Status: Reviewed

#12120 [Console] Missing helper question
  components/console/helpers/questionhelper.rst
Labels: Console, Status: Needs Review

#12126 Adding missing semicolon
  components/workflow.rst
Labels: Status: Reviewed, Workflow

#11603 [Console] allow the answer to not be trimmed
  components/console/helpers/questionhelper.rst
Labels: Console, Status: Reviewed

#12121 Add in the DOM crawler documentation code sample to show how to tick checkboxes
  components/dom_crawler.rst
Labels: DomCrawler, Status: Reviewed

#12119 Updated related to Symfony installation and Symfony Flex
  bundles.rst
  bundles/best_practices.rst
  configuration.rst
  contributing/code/security.rst
  controller/error_pages.rst
  deployment.rst
  email.rst
  forms.rst
  frontend/encore/installation.rst
  mailer.rst
  mercure.rst
  messenger.rst
  migration.rst
  page_creation.rst
  profiler.rst
  security.rst
  security/ldap.rst
  serializer.rst
  setup.rst
  setup/flex.rst
  setup/symfony_server.rst
  setup/upgrade_major.rst
  testing.rst
  validation.rst
  workflow.rst
Labels: Flex, Status: Reviewed

#12133 Update security.yml use auto for encoding
  security.rst
Labels: Security, Status: Reviewed

#12138 Use :: instead of code block php
  components/mailer.rst
Labels: Mailer, Status: Reviewed

#12137 Fix path
  reference/configuration/framework.rst
Labels: FrameworkBundle, Status: Reviewed

#12114 Revamped the routing documentation
  _build/redirection_map
  components/routing.rst
  console/request_context.rst
  controller.rst
  reference/configuration/framework.rst
  reference/forms/types/options/method.rst.inc
  routing.rst
  routing/conditions.rst
  routing/custom_route_loader.rst
  routing/debug.rst
  routing/external_resources.rst
  routing/extra_information.rst
  routing/generate_url_javascript.rst
  routing/hostname_pattern.rst
  routing/optional_placeholders.rst
  routing/redirect_in_config.rst
  routing/redirect_trailing_slash.rst
  routing/requirements.rst
  routing/scheme.rst
  routing/service_container_parameters.rst
  routing/slash_in_parameter.rst
  security/force_https.rst
  templating/formats.rst
  translation/locale.rst
Labels: Routing, Status: Reviewed

#10201 [Routing] Update routing.rst, add example routes as annotations
  components/routing.rst
Labels: Routing, Status: Reviewed

#12142 Minor fixes for the new Routing article
  routing.rst
Labels: Routing, Status: Needs Review

#12144 Use PSR-13 implementation from WebLink component
  components/web_link.rst
  mercure.rst
  web_link.rst
Labels: Status: Reviewed, WebLink

#12151 Added the Code of Conduct file
  CODE_OF_CONDUCT.md
Labels: Status: Reviewed

#12152 Added the LICENSE file
  LICENSE.md
Labels: Status: Reviewed

#12153 Fix ctype links
  reference/constraints/Type.rst
Labels: Status: Reviewed, Validator

#12106 fix voting on multiple roles behavior description
  reference/twig_reference.rst
  security/access_control.rst
Labels: Security, Status: Reviewed

#12155 Fixes typo on routing page
  routing.rst
Labels: Routing, Status: Reviewed

#12143 Renamed the security:check command as check:security
  contributing/code/security.rst
  security/security_checker.rst
Labels: Status: Reviewed

#12147 Mention the new check:requirements command
  deployment.rst
  reference/requirements.rst
Labels: Status: Needs Review

#12145 Updated the main Form article
  _build/redirection_map
  best_practices/forms.rst
  components/form.rst
  doctrine.rst
  form/action_method.rst
  form/create_custom_field_type.rst
  form/direct_submit.rst
  form/form_themes.rst
  form/validation_groups.rst
  forms.rst
  reference/configuration/framework.rst
  reference/dic_tags.rst
  validation.rst
Labels: Form, Status: Reviewed

#12158 Remove accent that was breaking class link
  cache.rst
Labels: Cache, Status: Reviewed, bug

#12154 [Messenger] Information about why consumers do not show up in the (rabbitmq) admin panel
  messenger.rst
Labels: Messenger, Status: Reviewed

#12149 [Messenger] Fix NewOrdersFromCsvFileReceiver::get() return type
  components/messenger.rst
Labels: Messenger, Status: Reviewed

#12160 Use vaild ref for link to the heading
  translation.rst
Labels: Status: Reviewed, Translator

#12159 Move anchor above correct heading
  translation.rst
Labels: Status: Reviewed, Translator

#12132 Update expressions.rst
  security/expressions.rst
Labels: Security, Status: Reviewed

#12134 Update form_login_setup.rst
  security/form_login_setup.rst
Labels: Status: Reviewed

#12157 Simplified the docs about Symfony technical requirements
  _build/redirection_map
  best_practices/creating-the-project.rst
  deployment.rst
  migration.rst
  reference/index.rst
  reference/map.rst.inc
  reference/requirements.rst
  setup.rst
Labels: Status: Reviewed, Waiting feedback

#12162 Remove unused links
  best_practices/security.rst
  best_practices/templates.rst
  bundles/best_practices.rst
  components/cache.rst
  components/dom_crawler.rst
  components/filesystem.rst
  components/finder.rst
  components/ldap.rst
  components/messenger.rst
  components/process.rst
  components/routing.rst
  components/serializer.rst
  components/translation/usage.rst
  components/var_exporter.rst
  contributing/community/reviews.rst
  controller/error_pages.rst
  deployment.rst
  doctrine.rst
  form/form_themes.rst
  introduction/from_flat_php_to_symfony.rst
  mercure.rst
  messenger.rst
  performance.rst
  reference/constraints/Timezone.rst
  security/custom_authentication_provider.rst
  security/guard_authentication.rst
  serializer.rst
  service_container.rst
  setup.rst
  setup/flex.rst
  setup/upgrade_major.rst
  templating/PHP.rst
Labels: Status: Needs Review

#12163 Remove unused link
  controller/argument_value_resolver.rst
Labels: Status: Needs Review

#12164 Fix timeout exception thrown
  components/process.rst
Labels: Process, Status: Needs Review

#12165 Remove duplicate word
  forms.rst
Labels: Form, Status: Reviewed, bug

#12166 Remove space before self closing XML tag
  routing.rst
Labels: Routing, Status: Needs Review

#12167 Use correct code-block
  routing.rst
Labels: Routing, Status: Needs Review

#12168 Remove duplicate namespace in code example
  workflow.rst
Labels: Status: Needs Review, Workflow, bug

#12105 Add documentation about alpha3 methods
  components/intl.rst
Labels: Intl, Status: Reviewed

#12073 [FrameworkBundle][HttpClient] "max_duration" option
  reference/configuration/framework.rst
Labels: FrameworkBundle, HttpClient, Status: Needs Review

#12169 Add DirectoryIndex to Apache configuration
  setup/web_server_configuration.rst
Labels: Status: Needs Review, bug

#12170 Update intl.rst
  components/intl.rst
Labels: Status: Reviewed

#12171 Fix typo
  components/intl.rst
Labels: Intl, Status: Reviewed, bug

#12173 Mention ISO 639 for languages
  components/intl.rst
Labels: Intl, Status: Reviewed

#12174 Rewrite Intl introduction
  components/intl.rst
Labels: Intl, Status: Reviewed

#11024 [HTTP-cache] Added SSI
  http_cache/ssi.rst
Labels: Status: Needs Review

#12175 Update intl.rst
  components/intl.rst
Labels: Intl, Status: Reviewed

#12178 Use https for xsd
  http_cache/ssi.rst
Labels: Status: Needs Review

#12172 Remove bundles inheritance page
  _build/redirection_map
  bundles/index.rst
  bundles/inheritance.rst
Labels: Bundles, Status: Reviewed

#12176 Remove old versionadded directives
  components/process.rst
  components/yaml.rst
  reference/configuration/framework.rst
  routing.rst
  routing/custom_route_loader.rst
Labels: Status: Reviewed

#12179 Add a note for preload asset
  web_link.rst
Labels: Status: Reviewed, WebLink

#12117 add support for custom headers when using a proxy
  deployment/proxies.rst
Labels: Status: Needs Review

#12183 [cache] Adding missing semicolons
  cache.rst
Labels: Cache, Status: Reviewed

#12182 Fix Description of PHPUnitBridge
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#12180 Fix variable name
  components/serializer.rst
Labels: Serializer, Status: Needs Review

#12191 Fixed namespace in example
  forms.rst
Labels: Status: Reviewed

#12185 Remove unused link
  deployment/proxies.rst
Labels: Status: Needs Review

#12186 fix a little code example issue
  routing.rst
Labels: Status: Reviewed

#11878 Add stream_max_entries to full redis messenger dsn example
  messenger.rst
Labels: Messenger, Status: Reviewed

#12199 Add the new ImgStub
  components/var_dumper/advanced.rst
Labels: Status: Reviewed, VarDumper

#11274 initial setup for liniting the Documentation
  .doctor-rst.yaml
  .github/workflows/lint.yaml
Labels: Status: Needs Review

#12207 Inconsistency for ending the bullet points
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Needs Review

#12206 Small fixes
  components/process.rst
  components/web_link.rst
Labels: Console, Status: Needs Review, WebLink

#12208 Use Symfony 5 examples
  contributing/documentation/format.rst
Labels: Status: Needs Review

#12045 [Messenger] InMemoryTransport ignore acknowledged and rejected messages
  messenger.rst
Labels: Messenger, Status: Reviewed

#12210 Consistent bullet point endings
  forms.rst
Labels: Form, Status: Needs Review

#12209 [Messenger] Use new TransportInterface
  messenger/custom-transport.rst
Labels: Messenger, Status: Reviewed

#12221 [HttpClient] tell about ScopingHttpClient::forBaseUri()
  components/http_client.rst
Labels: HttpClient, Status: Reviewed

#12217 [Mailer][Mime] Remove NamedAddress
  mailer.rst
Labels: Mailer, Mime, Status: Reviewed

#12227 Avoid assuming things are simple
  introduction/http_fundamentals.rst
Labels: Status: Reviewed

#12226 Removed remaining 4.x directives
  forms.rst
  reference/configuration/framework.rst
  translation.rst
Labels: Form, FrameworkBundle, Status: Reviewed, Translator

#12224 [Messenger] Adds a note InMemoryTransports will be reset in tests
  messenger.rst
Labels: Messenger, Status: Reviewed

#12238 bump simple-phpunit
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#12213 [Process] Document the getLastOutputTime() method.
  components/process.rst
Labels: Process, Status: Reviewed

#12240 remove extra `;` from the code sample
  form/dynamic_form_modification.rst
Labels: Form, Status: Reviewed

#12232 Fix some examples
  components/var_dumper/advanced.rst
Labels: Status: Needs Review, VarDumper

#12234 Document the changes to checkCredentials()
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#12225 [DomCrawler] Added Crawler::matches(), ::closest(), ::outerHtml()
  components/dom_crawler.rst
Labels: DomCrawler, Status: Reviewed

#12244 Fix rendering of error code block
  frontend/encore/simple-example.rst
Labels: Status: Reviewed

#12245 Fix comment to actually be a comment in code block
  frontend/encore/babel.rst
Labels: Status: Reviewed
