Repository symfony/symfony-docs, pull requests merged in 2019-12, with the labels that each got.

#12743 Small typo in workflow.rst
  workflow.rst
Labels: Status: Reviewed, Workflow

#12729 Update impersonating_user.rst
  security/impersonating_user.rst
Labels: Security, Status: Reviewed

#12741 [DependencyInjection] Bind tagged services
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#12742 Update parent_services.rst
  service_container/parent_services.rst
Labels: DependencyInjection, Status: Reviewed

#12467 [Security] Added article on password migrations
  security.rst
  security/password_migration.rst
Labels: Security, Status: Reviewed

#12734 Fix documentation for PhpUnitBridge regex configuration
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#12725 Update mailer.rst
  components/mailer.rst
Labels: Mailer, Status: Reviewed

#12711 Add documentation for exponential format number
  components/expression_language/syntax.rst
Labels: ExpressionLanguage, Status: Reviewed

#12740 Added note regarding workflow "entered" event being dispatched on creation
  workflow.rst
Labels: Status: Reviewed, Workflow

#12749 Document: get/setThrowable
  components/http_kernel.rst
  event_dispatcher.rst
  reference/events.rst
Labels: Status: Reviewed

#12751 Fix typo PersistStoreInterface to PersistingStoreInterface
  components/lock.rst
Labels: Status: Reviewed

#12748 *Response::create() method is deprecated
  migration.rst
Labels: HttpFoundation, Status: Reviewed

#12757 Fix a typo in mailer docs (Mutliple -> Multiple)
  mailer.rst
Labels: Mailer, Status: Reviewed

#12770 [Cache] Expand the docs about the cache chain
  cache.rst
Labels: Cache, Status: Reviewed

#12765 Explain the prefix used for expressions in YAML files
  service_container/expression_language.rst
Labels: DependencyInjection, Status: Reviewed

#12763 Minor tweak in a security expression explanation
  security/expressions.rst
Labels: Security, Status: Reviewed

#12771 [Cache] Fixed a minor RST syntax issue
  cache.rst
Labels: Cache, Status: Reviewed

#12767 Update messenger.rst
  messenger.rst
Labels: Messenger, Status: Reviewed

#12766 Fixed the minimum Twig version needed for lazy extensions
  templating/twig_extension.rst
Labels: Status: Reviewed, Twig

#12702 Remove ErrorRenderer reference everywhere
  components/error_handler.rst
  components/error_renderer.rst
  components/http_kernel.rst
  controller/error_pages.rst
  create_framework/http_kernel_httpkernel_class.rst
Labels: ErrorHandler, Status: Reviewed

#12692 Updated the location of the errors.xml file
  controller/error_pages.rst
Labels: ErrorHandler, Status: Reviewed

#12687 Fix 12273 Added new ErrorController
  controller/error_pages.rst
  reference/configuration/framework.rst
  reference/configuration/twig.rst
Labels: ErrorHandler, Status: Reviewed

#12773 Scalingo is another PaaS which supports Symfony
  deployment.rst
Labels: Status: Reviewed

#12761 Mentioned the PHP 7.4 class preloading
  performance.rst
Labels: Performance, Status: Needs Review

#12781 ListenerInterface deprecated since Symfony 4.3
  security/custom_authentication_provider.rst
Labels: Security, Status: Reviewed

#12783 Fixed highlighting
  security/custom_authentication_provider.rst
Labels: Security, Status: Reviewed

#12760 Update setup.rst
  setup.rst
Labels: Status: Reviewed

#12759 [Service Container]Added minor review of example code
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#12703 [WIP][Console] Fix missing return in console documentation on execute function
  console.rst
Labels: Console, Status: Reviewed

#12730 Add mandatory exit status
  console.rst
Labels: Console, Status: Reviewed

#12737 Mention twig/extensions is not for Twig 3
  templating/twig_extension.rst
Labels: Status: Reviewed, Twig

#12650 Add note about .env.local being ignored in test environment
  configuration.rst
Labels: Config, Status: Reviewed

#12658 Update readme
  README.markdown
Labels: Status: Reviewed

#12792 Remove superfluous space
  components/string.rst
Labels: Status: Reviewed, String

#12794 Fix build error
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#12786 [Mailer] Mentioned the getMessageId() method
  mailer.rst
Labels: Mailer, Status: Reviewed

#12785 [DI] Documented the lint:container command
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#12790 Fix `UnicodeString::before()` example
  components/string.rst
Labels: Status: Reviewed, String

#12791 Fix `UnicodeString::fromCodePoints()` example
  components/string.rst
Labels: Status: Needs Review, String

#12787 [Security] Remove unused use statement
  security/custom_authentication_provider.rst
Labels: Security, Status: Reviewed

#12718 fix TraceableEventDispatcherInterface removed in 5.0
  components/event_dispatcher/traceable_dispatcher.rst
Labels: EventDispatcher, Status: Reviewed

#12797 [Console] Mention that CommandTester doesn't dispatch console events
  console.rst
Labels: Console, Status: Reviewed

#12799 Use a instead of an before consonant sounds
  components/phpunit_bridge.rst
  http_cache/cache_invalidation.rst
  mercure.rst
Labels: Status: Reviewed

#12795 Tweak the explanation about event priorities
  event_dispatcher.rst
Labels: EventDispatcher, Status: Reviewed

#12796 Mention the issues of ETag-based validation and Apache compression
  http_cache/validation.rst
Labels: HttpFoundation, Status: Reviewed

#12535 Middleware clarification about being called on "receive"
  components/messenger.rst
  messenger.rst
Labels: Messenger, Status: Reviewed

#12811 [PropertyAccess] Update the method directives
  components/property_access.rst
Labels: PropertyAccess, Status: Reviewed

#12810 Tweaked the PropertyAccess doc
  components/property_access.rst
Labels: PropertyAccess, Status: Reviewed

#12809 Fixed method names when using the method directive
  components/options_resolver.rst
  components/property_info.rst
Labels: Status: Reviewed

#12807 [Mailer] Minor tweaks in the mailer docs
  mailer.rst
Labels: Mailer, Status: Reviewed

#12806 [Messenger] Minor tweaks for the main Messenger article
  messenger.rst
Labels: Messenger, Status: Reviewed

#12805 [Messenger] Added a missing class import
  components/messenger.rst
Labels: Messenger, Status: Reviewed

#12820 Added the docs for the UUID polyfill
  components/polyfill_uuid.rst
Labels: Polyfills, Status: Reviewed

#12822 [Validation] Mention the option to pass stringable objects
  validation/custom_constraint.rst
Labels: Status: Reviewed, Validator

#12821 [Routing] Documented the option to exclude patterns
  routing.rst
Labels: Routing, Status: Reviewed

#12818 [Monolog] Add a caution note about Symfony Mailer and Monolog
  logging/monolog_email.rst
Labels: Logger, Mailer, Status: Reviewed

#12817 [ErrorHandler] Simplified docs
  components/error_handler.rst
Labels: ErrorHandler, Status: Reviewed

#12808 Update configuration.rst
  configuration.rst
Labels: Config, Status: Reviewed

#12833 Update references to 4.4 version
  setup/upgrade_minor.rst
Labels: Status: Reviewed

#12819 [Performance] Document the container.dumper.inline_factories parameter
  performance.rst
Labels: DependencyInjection, Performance, Status: Needs Review

#12824 Update database.rst
  testing/database.rst
Labels: Status: Reviewed, Testing

#12772 Update paragraph about portable command lines
  components/process.rst
Labels: Process, Status: Reviewed

#12854 Update password_migration.rst
  security/password_migration.rst
Labels: Status: Reviewed

#12859 remove old versionadded directive
  performance.rst
Labels: Status: Reviewed

#12858 Update Valid.rst
  reference/constraints/Valid.rst
Labels: Status: Reviewed
