Repository symfony/symfony-docs, pull requests merged in 2019-09, with the labels that each got.

#12251 Remove duplicated !!set tag
  components/yaml/yaml_format.rst
Labels: Status: Reviewed, Yaml

#12249 fix word: domain => subdomain
  routing.rst
Labels: Routing, Status: Reviewed

#12252 [DX] Longer variable names in Mercure documentation
  mercure.rst
Labels: DX, Status: Reviewed

#12128 Add docs on Address::fromString
  mailer.rst
Labels: Mailer, Status: Reviewed

#12255 Minor fix in the Routing article
  routing.rst
Labels: Routing, Status: Reviewed

#12253 Strip YAML trailing newline
  translation/message_format.rst
Labels: Status: Reviewed, Translator

#11992 [Doctrine] Invokable event listeners
  doctrine/event_listeners_subscribers.rst
Labels: Doctrine, Status: Needs Review

#12260 Move some doc contents in a Messenger article
  messenger/handler_results.rst
Labels: Messenger, Status: Reviewed

#12257 Yaml: minor syntax issues and expanded multi-line examples
  components/yaml/yaml_format.rst
Labels: Status: Reviewed, Yaml

#12254 Updated the editorconfig configuration
  .editorconfig
  .travis.yml
Labels: Status: Reviewed

#12250 [Mailer] Replace misused EventListener with an EventSubscriber.
  mailer.rst
Labels: Mailer, Status: Reviewed

#12189 [FrameworkBundle][DX] Improving redirect config when using RedirectController
  routing.rst
Labels: DX, FrameworkBundle, Status: Reviewed

#12256 [Routing] Removed a note about automatic redirection
  routing.rst
Labels: Routing, Status: Reviewed

#12272 ignore false positives in master branch from DOCtor-RST
  .doctor-rst.yaml
Labels: Status: Reviewed

#12279 Be more explicit about the use of regular expressions in access_control
  security.rst
Labels: Security, Status: Reviewed

#12278 Added a new section to explain how to pass options to forms
  forms.rst
Labels: Form, Status: Reviewed

#12276 Document the validator's switch to PSR-6
  components/validator/resources.rst
Labels: Status: Reviewed, Validator

#12266 Replace public and protected field entity by private
  validation.rst
Labels: Status: Reviewed, Validator

#12236 [Translator] Recommending real message id for shared bundles
  components/translation/usage.rst
Labels: Status: Reviewed, Translator

#12292 Expected scalar type, got array
  workflow.rst
Labels: Status: Reviewed, Workflow

#12293 [Console] Added SymfonyStyle::definitionList() and SymfonyStyle::horizontalTable()
  console/style.rst
Labels: Console, Status: Reviewed

#12277 Removing the tests for PHP 7.0
  bundles/best_practices.rst
Labels: Bundles, Status: Reviewed

#12268 Removed non working link
  validation.rst
Labels: Status: Needs Review

#12039 Mentioned the automatic set of "accept" based on "mimeTypes"
  reference/constraints/File.rst
Labels: Form, Status: Reviewed

#12274 Reworded all the docs related to templates and Twig
  _build/redirection_map
  components/http_foundation.rst
  components/templating.rst
  configuration/front_controllers_and_kernel.rst
  controller.rst
  event_dispatcher.rst
  getting_started/index.rst
  http_cache/esi.rst
  introduction/from_flat_php_to_symfony.rst
  mailer.rst
  page_creation.rst
  reference/configuration/twig.rst
  reference/twig_reference.rst
  routing.rst
  security.rst
  templates.rst
  templating.rst
  templating/PHP.rst
  templating/app_variable.rst
  templating/debug.rst
  templating/embedding_controllers.rst
  templating/escaping.rst
  templating/formats.rst
  templating/global_variables.rst
  templating/hinclude.rst
  templating/inheritance.rst
  templating/namespaced_paths.rst
  templating/render_without_controller.rst
  templating/syntax.rst
  templating/twig_extension.rst
Labels: Status: Reviewed, Templating, Twig

#12299 [Mailer] Change DSN syntax
  components/mailer.rst
Labels: Mailer, Status: Reviewed

#12300 [TwigBridge] Documented the new lint:twig behavior when passing no arguments
  templates.rst
Labels: Status: Reviewed, Twig

#12270 Update workflow configuration example following Symfony 4.3 deprecations
  workflow/introduction.rst
Labels: Status: Reviewed, Workflow

#12269 Update workflow configuration example following Symfony 4.3 deprecations
  workflow/dumping-workflows.rst
Labels: Status: Reviewed, Workflow

#12311 Mentioned the new mailer assert methods for tests
  testing/functional_tests_assertions.rst
Labels: Mailer, Status: Reviewed, Testing

#12314 [Doctrine] Reword the intro of the main article
  doctrine.rst
Labels: Doctrine, Status: Needs Review

#12315 Fix typo in configuration.rst
  configuration.rst
Labels: Config, Status: Reviewed

#12321 rename SmtpEnvelope to Envelope
  components/mailer.rst
Labels: Mailer, Status: Reviewed

#12301 [Mailer] Better explain the load-balancing options
  components/mailer.rst
Labels: Mailer, Status: Needs Review

#12258 Move to the new DSN format for Mailer
  components/mailer.rst
  mailer.rst
Labels: Mailer, Status: Reviewed

#12322 Fixed some explanations in the mailer component
  components/mailer.rst
Labels: Mailer, Status: Needs Review

#12281 Added a caution message about unit testing form types
  form/unit_testing.rst
Labels: Form, Status: Needs Review

#12333 Mention the getParameter() helper in the configuration article
  configuration.rst
Labels: Config, Status: Reviewed

#12317 [Doctrine] Put all docs about testing databases in a single article
  _build/redirection_map
  configuration.rst
  doctrine.rst
  testing/database.rst
  testing/doctrine.rst
Labels: Doctrine, Status: Reviewed, Testing

#12310 Removed the cache.adapter.array mention in 3.4 docs
  cache.rst
Labels: Cache, Status: Reviewed

#12201 [Monolog] Added documentation about ElasticsearchLogstashHandler
  logging.rst
  logging/handlers.rst
Labels: Logger, Status: Reviewed

#12136 Added documentation for --sort option in translation:update command
  translation.rst
Labels: FrameworkBundle, Status: Needs Review

#12334 Minor improvement for the docs about the translation:update command
  translation.rst
Labels: Status: Needs Review, Translator

#12043 [HttpClient] Add buffer configuration option to http_client
  reference/configuration/framework.rst
Labels: HttpClient, Status: Reviewed

#12335 [HttpClient] Add the buffer option to 4.3 too
  reference/configuration/framework.rst
Labels: HttpClient, Status: Needs Review

#12141 Add doc about how to get a link by its id or class attribute in DOM crawler page
  components/dom_crawler.rst
Labels: DomCrawler, Status: Reviewed

#12337 [FrameworkBundle] Document the translator cache_dir option
  reference/configuration/framework.rst
Labels: FrameworkBundle, Status: Reviewed, Translator

#12336 [Routing] Better explain the config needed for routing annotations
  routing.rst
Labels: Routing, Status: Reviewed

#12340 [Messenger] Added an implementation to the TransportInterface
  messenger/custom-transport.rst
Labels: Messenger, Status: Needs Review

#12280 Tweaked the explanation about the is_fully_authenticated() function
  security/expressions.rst
Labels: Security, Status: Reviewed

#12346 [SwiftMailer Spool] Fix double negative
  email/spool.rst
Labels: Status: Reviewed

#11901 [Mercure] Added authorization and testing tips
  mercure.rst
Labels: Mercure, Status: Reviewed

#12344 Some rewords for the ErrorHandler and ErrorRenderer components
  components/debug.rst
  components/error_handler.rst
  components/error_renderer.rst
  configuration/front_controllers_and_kernel.rst
Labels: ErrorHandler, ErrorRenderer, Status: Reviewed

#11838 Refactor documentation - Do not add annotation configuration if you are using Symfony Flex
  best_practices/controllers.rst
Labels: Status: Reviewed

#12095 Progress Bar Section - Harmony all CodeBlock Text.
  components/console/helpers/progressbar.rst
Labels: Console, Status: Reviewed

#12345 Update the code related to controllers in events
  event_dispatcher/before_after_filters.rst
Labels: Status: Reviewed

#11969 Corrected wrong class used in "Locating Resources"
  components/http_kernel.rst
Labels: HttpKernel, Status: Needs Review

#12089 Update multiple_buttons.rst
  form/multiple_buttons.rst
Labels: Form, Status: Reviewed

#12328 Reworded the docs about Doctrine events
  _build/redirection_map
  controller/upload_file.rst
  doctrine.rst
  doctrine/common_extensions.rst
  doctrine/event_listeners_subscribers.rst
  doctrine/events.rst
  doctrine/lifecycle_callbacks.rst
  reference/dic_tags.rst
Labels: Doctrine, Status: Reviewed

#12349 Additional help with Real-Time Output
  components/process.rst
Labels: Process, Status: Reviewed

#12326 Removed the article about the registration form
  doctrine/registration_form.rst
  forms.rst
Labels: Doctrine, Status: Reviewed

#12351 Simplified the mailer docs about a global from address
  mailer.rst
Labels: Mailer, Status: Reviewed

#12347 Tweak the version constraints when installing 3.4 components
  components/asset.rst
  components/browser_kit.rst
  components/cache.rst
  components/class_loader.rst
  components/config.rst
  components/console.rst
  components/css_selector.rst
  components/debug.rst
  components/dependency_injection.rst
  components/dom_crawler.rst
  components/dotenv.rst
  components/event_dispatcher.rst
  components/expression_language.rst
  components/filesystem.rst
  components/finder.rst
  components/form.rst
  components/http_foundation.rst
  components/http_kernel.rst
  components/intl.rst
  components/ldap.rst
  components/lock.rst
  components/options_resolver.rst
  components/process.rst
  components/property_access.rst
  components/property_info.rst
  components/routing.rst
  components/security.rst
  components/serializer.rst
  components/stopwatch.rst
  components/templating.rst
  components/translation.rst
  components/using_components.rst
  components/validator.rst
  components/var_dumper.rst
  components/web_link.rst
  components/workflow.rst
  components/yaml.rst
Labels: Status: Reviewed

#12353 Removed the symfony/security component
  components/security.rst
Labels: Security, Status: Reviewed

#12356 Update dama/doctrine-test-bundle docs
  testing/database.rst
Labels: Status: Reviewed, Testing

#12125 add FallbackResource alternative for assets/bundles in nginx
  setup/web_server_configuration.rst
Labels: Status: Reviewed, help wanted

#9614 Add @a2lix/symfony-collection solution
  form/form_collections.rst
Labels: Form, Status: Reviewed

#10109 Add explanation about prefix decision
  bundles/best_practices.rst
Labels: Bundles, Status: Reviewed

#12357 Fixed the order of Doctrine middleware in Messenger component
  messenger.rst
Labels: Messenger, Status: Needs Review

#10774 Add real-world example to separate flags and value
  components/process.rst
Labels: Process, Status: Reviewed

#12359 fix build
  service_container/service_subscribers_locators.rst
Labels: Status: Reviewed

#8284 [Translation] add how to create custom message formatter.
  components/translation.rst
  components/translation/custom_message_formatter.rst
  reference/configuration/framework.rst
Labels: Status: Reviewed, Translator

#10403 Update debug.rst
  translation/debug.rst
Labels: Status: Reviewed, Translator

#12354 Explain Symfony packs
  best_practices/business-logic.rst
  doctrine.rst
  doctrine/dbal.rst
  page_creation.rst
  profiler.rst
  quick_tour/flex_recipes.rst
  serializer.rst
  setup.rst
  setup/web_server_configuration.rst
  testing.rst
Labels: Status: Reviewed

#11157 [REFACTOR] Messenger - Serializer groups
  components/messenger.rst
Labels: Messenger, Status: Reviewed

#12360 [Workflow] Fixes the examples related to metadata
  workflow.rst
Labels: Status: Reviewed, Workflow

#12355 Mentioned the toStream() method
  components/http_client.rst
Labels: HttpClient, Status: Reviewed

#12361 [Cache] Reword a phrase to remove the "basic" word
  cache.rst
Labels: Cache, Status: Needs Review

#11767 Update recommended password encoder to "auto"
  best_practices/security.rst
  reference/configuration/security.rst
  security.rst
  security/named_encoders.rst
  security/user_provider.rst
Labels: Security, Status: Needs Review

#11905 Added example for direct form submit with validation
  form/direct_submit.rst
Labels: Form, Status: Needs Review, Validator

#11457 #21571 updated "Authentication Success and Failure Events" section
  components/security/authentication.rst
Labels: Security, Status: Reviewed

#10227 Fixing inconcistency - subscribr to listener
  session/locale_sticky_session.rst
Labels: EventDispatcher, Status: Reviewed

#12295 [Workflow] Rework a bit the doc
  _build/redirection_map
  reference/configuration/framework.rst
  workflow.rst
  workflow/workflow-and-state-machine.rst
Labels: Status: Reviewed, Workflow

#12366 add missing target
  security/form_login_setup.rst
Labels: Status: Needs Review

#12369 remove unused use statements
  logging/handlers.rst
Labels: Logger, Status: Reviewed

#12368 remove the array adapter chapter
  components/cache/adapters/array_cache_adapter.rst
Labels: Cache, Status: Reviewed

#12367 Update logging.rst
  logging.rst
Labels: Logger, Status: Reviewed

#12341 Mentioned the mailer debugging options
  mailer.rst
Labels: Mailer, Status: Reviewed

#12372 fix version number
  reference/configuration/framework.rst
Labels: HttpClient, Status: Reviewed

#12283 Add note on Trusted Proxies config when app is behind multiple proxies
  deployment/proxies.rst
Labels: Security, Status: Reviewed

#12365 clarify constraints on non-submitted forms
  form/without_class.rst
Labels: Form, Status: Reviewed

#12373 Fix nested list for style properties
  workflow/dumping-workflows.rst
Labels: Status: Reviewed, Workflow

#12371 [Security] Deprecated using more than one role in access_control rules
  security/access_control.rst
Labels: Security, Status: Needs Review, deprecation

#12318 Add a warning to imports order
  service_container/import.rst
Labels: Status: Reviewed

#12378 Update routing.rst
  components/routing.rst
Labels: Routing, Status: Reviewed

#12379 Update routing.rst
  components/routing.rst
Labels: Routing, Status: Reviewed

#10521 Adding a sample tsconfig file to the Encore documentation page
  frontend/encore/typescript.rst
Labels: Status: Needs Review, front-end

#11889 [Messenger] `get()` usage
  components/messenger.rst
Labels: Messenger, Status: Reviewed

#11825 [Logger] [Processor] additional info on processor
  logging/processors.rst
Labels: Logger, Status: Reviewed

#12035 Instructions to prevent CORS for Hot Module Replacement
  frontend/encore/dev-server.rst
Labels: Status: Needs Review, front-end

#12381 Update api_key_authentication.rst
  security/api_key_authentication.rst
Labels: Security, Status: Reviewed

#12380 Clarify target path functionality
  security/form_login_setup.rst
Labels: Security, Status: Needs Review

#12271 [Serializer] Add docs for DateTimeZoneNormalizer
  components/serializer.rst
  serializer.rst
Labels: Serializer, Status: Reviewed

#11465 Extend framework lock configuration reference
  components/lock.rst
  reference/configuration/framework.rst
Labels: Lock, Status: Reviewed, Waiting Code Merge

#11466 Add flock:// option to framework lock configuration reference
  reference/configuration/framework.rst
Labels: Lock, Status: Reviewed

#12050 [Ldap] Documented the deprecation related to query_string
  security/ldap.rst
Labels: Ldap, Status: Needs Review, help wanted

#11944 Bug fix: Update collection.rst
  reference/forms/types/collection.rst
Labels: Form, Status: Reviewed

#12364 Document new ProgressBar time-based frequency mutators
  components/console/helpers/progressbar.rst
Labels: Console, Status: Needs Review

#10824 [DependencyInjection] Fluent PHP DI Documentation
  components/dependency_injection.rst
  service_container.rst
  service_container/3.3-di-changes.rst
  service_container/alias_private.rst
  service_container/autowiring.rst
  service_container/calls.rst
  service_container/configurators.rst
  service_container/expression_language.rst
  service_container/factories.rst
  service_container/import.rst
  service_container/injection_types.rst
  service_container/lazy_services.rst
  service_container/optional_dependencies.rst
  service_container/parent_services.rst
  service_container/service_decoration.rst
  service_container/service_subscribers_locators.rst
  service_container/shared.rst
  service_container/synthetic_services.rst
  service_container/tags.rst
Labels: DX, DependencyInjection, Status: Reviewed

#12391 Add more information about Docker and the local web server
  setup/symfony_server.rst
Labels: Status: Reviewed
