Repository symfony/symfony-docs, pull requests merged in 2020-03, with the labels that each got.

#13284 Update page_creation.rst with Response return
  page_creation.rst
Labels: Status: Reviewed

#13279 Update UniqueEntity->message description
  reference/constraints/UniqueEntity.rst
Labels: Status: Reviewed, Validator

#13289 Fix small linguistic error
  security/impersonating_user.rst
Labels: Security, Status: Reviewed

#13290 Typo fixed on secrets.rst
  configuration/secrets.rst
Labels: Config, Status: Reviewed

#13261 A locale in this context is a comination of a language, a script and …
  components/intl.rst
Labels: Intl, Status: Reviewed

#13259 [3.4] Updated links to Bootstrap docs
  form/bootstrap4.rst
  form/form_customization.rst
Labels: Status: Reviewed

#13253 [4.4+] Updated links to Bootstrap docs
  form/bootstrap4.rst
  form/form_themes.rst
Labels: Status: Reviewed

#13280 [Validator] Document the alpha3 option of Language
  reference/constraints/Country.rst
  reference/constraints/Language.rst
Labels: Status: Reviewed, Validator

#13268 Update deprecated methods
  mercure.rst
Labels: Mercure, Status: Reviewed

#13301 Update configuration.rst
  configuration.rst
Labels: Status: Reviewed

#13307 add link ( Xpath ) for css_selector.rst
  components/css_selector.rst
Labels: CssSelector, Status: Reviewed

#13305 [DI] Improve an example about automatic tags and bundles
  service_container/tags.rst
Labels: DependencyInjection, Status: Reviewed

#13294 Remove references to the secret env processors
  configuration/secrets.rst
Labels: DependencyInjection, Status: Reviewed

#13304 Remove webserver bundle usage
  contributing/code/reproducer.rst
Labels: Status: Reviewed

#13308 Update links to avoid 404
  setup/flex.rst
Labels: Status: Reviewed

#13227 [HttpFoundation] Allow to configure session handlers with DSN
  reference/configuration/framework.rst
  session.rst
Labels: HttpFoundation, Status: Reviewed

#12922 [Server Configuration] Clarified performance tip about symfony/apache-pack
  setup/web_server_configuration.rst
Labels: Status: Needs Review

#12974 [Contributing] Fix Coding Standards example (esp. null return vs. void)
  contributing/code/standards.rst
Labels: Status: Reviewed

#12768 Clarified the two main types of exceptions thrown in HttpClient
  components/http_client.rst
Labels: HttpClient, Status: Reviewed

#13282 Replace former SecurityContext argument by TokenStorage
  components/security/authorization.rst
Labels: Security, Status: Reviewed

#13313 s/with/within in logging/monolog_email.rst
  logging/monolog_email.rst
Labels: Logger, Status: Reviewed

#13314 Fixed broken links to reStructuredText
  contributing/documentation/format.rst
  contributing/documentation/overview.rst
Labels: Status: Reviewed

#13321 Typo in allow_if condition in access_control security
  security/access_control.rst
Labels: Security, Status: Reviewed

#13322 [DI] Use improved Yaml syntax for defining method calls
  service_container/calls.rst
Labels: DependencyInjection, Status: Reviewed

#13324 [Security] PHP Syntax Fix
  security.rst
Labels: Security, Status: Reviewed

#13323 [Workflow] Fix comma in PHP code
  workflow.rst
Labels: Status: Reviewed, Workflow

#13325 [Translations] Microupdate on broken bullet point
  translation.rst
Labels: Status: Reviewed, Translator

#13331 [DOCS] Updated performance page opcache file name
  performance.rst
Labels: Status: Reviewed

#13332 Fx: Typo
  mailer.rst
Labels: Mailer, Status: Reviewed

#13317 Kernel constructor (SF v4.4.5) accepts only 2 args
  migration.rst
Labels: Status: Reviewed

#13312 [Notifier] Update round robin transport explanation
  notifier.rst
Labels: Notifier, Status: Reviewed

#13327 Add missing normalizers introduced between 3.4 and 4.4
  serializer.rst
  serializer/normalizers.rst
Labels: Serializer, Status: Needs Review

#13326 Add missing built-in normalizers
  serializer.rst
  serializer/normalizers.rst
Labels: Serializer, Status: Reviewed

#13251 Fixed CoverageListener usage with custom SUT solver
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#13306 LoginFormAuthenticator example updated
  security/form_login_setup.rst
Labels: Security, Status: Reviewed

#13183 [Twig] tweaked first block examples
  templating.rst
Labels: Status: Reviewed, Templating

#13311 Added documentation for __toString feature in StopWatch event
  components/stopwatch.rst
Labels: Status: Reviewed, Stopwatch

#13184 [Tests] added a note about installing PHPUnit dependencies
  testing.rst
Labels: Status: Reviewed, Testing

#12812 Update Associations with fix code-block example
  doctrine/associations.rst
Labels: Doctrine, Status: Reviewed

#12881 [Testing] Fix broken link
  testing.rst
Labels: Status: Reviewed, Testing

#13334 Add missing prefix/xxxer
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#13340 Remove caution section about bind scalar controller arguments
  controller.rst
Labels: Status: Reviewed

#13262 fix Mercure PublisherStub should be implement PublisherInterface
  mercure.rst
Labels: Status: Needs Review

#13348 [Form] Better explicit cloning with "by_reference" option
  reference/forms/types/options/by_reference.rst.inc
Labels: Form, Status: Reviewed

#13357 Remove redundant "by default" in autowiring.rst
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#13138 Add doc for rounding_mode
  reference/forms/types/percent.rst
Labels: Form, Status: Reviewed

#13366 [Routing] added missing "version-added" for i18n routes
  routing.rst
Labels: Routing, Status: Reviewed

#13365 Update calls.rst
  service_container/calls.rst
Labels: DependencyInjection, Status: Reviewed

#13358 Consider option "allowEmptyString" in examples
  reference/constraints/Length.rst
Labels: Status: Reviewed, Validator

#13360 Change code example for custom header when using a reverse proxy
  deployment/proxies.rst
Labels: Status: Reviewed

#13349 Make it more obvious what the $handler is on Messenger docs
  components/messenger.rst
Labels: Messenger, Status: Reviewed

#13363 Move login route to const
  security/form_login_setup.rst
Labels: Status: Needs Review

#13356 [PhpUnitBridge] Deprecate the expectedDeprecation annotation
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#13371 Update framework.rst
  reference/configuration/framework.rst
Labels: FrameworkBundle, Status: Reviewed

#13345 Update validator.rst
  components/validator.rst
Labels: Status: Reviewed, Validator

#13372 Update configuration.rst
  configuration.rst
Labels: Status: Reviewed

#13373 [String] Added the containsAny() method
  components/string.rst
Labels: Status: Reviewed, String

#13374 [Form] Document the new collection_entry_* blocks
  form/form_themes.rst
Labels: Form, Status: Reviewed

#13381 reword yaml-lint description
  translation/lint.rst
Labels: Status: Reviewed, Translator, Yaml

#13382 [Messenger] Update messenger in memory config
  messenger.rst
Labels: Messenger, Status: Reviewed

#13379 Use trigger_deprecation instead of @trigger_error
  components/phpunit_bridge.rst
  contributing/code/conventions.rst
  contributing/code/standards.rst
  contributing/community/reviews.rst
Labels: Status: Needs Review

#13396 Update notifier.rst
  notifier.rst
Labels: Notifier, Status: Reviewed

#13393 Update guard_authentication.rst
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#13400 Update guard_authentication.rst
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#13389 Update guard_authentication.rst
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#13394 Fix typehint of parameter for MicrokernelTrait::configureRoutes()
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed

#13395 Update class names as amqp messenger was moved to another package
  messenger.rst
Labels: Messenger, Status: Reviewed

#13384 [DI] Auto alias compiler pass is now enabled by default
  reference/dic_tags.rst
Labels: DependencyInjection, Status: Reviewed

#13388 Update security.rst
  security.rst
Labels: Security, Status: Reviewed

#13386 use NotNull instead of NotBlank
  reference/constraints/Sequentially.rst
Labels: Status: Reviewed, Validator

#13362 [Security][Testing] Documented KernelBrowser::loginUser()
  .doctor-rst.yaml
  _build/redirection_map
  security.rst
  testing.rst
  testing/http_authentication.rst
Labels: Security, Status: Needs Review, Testing

#13404 Update voters.rst
  security/voters.rst
Labels: Security, Status: Reviewed

#13403 Update guard_authentication.rst
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#13264 Document RenderView method
  templates.rst
Labels: Status: Reviewed

#13408 using slugger for file uploading, instead of long transliterator code
  controller/upload_file.rst
Labels: Status: Reviewed

#13410 [Form] document the reference_date option
  reference/forms/types/time.rst
Labels: Form, Status: Reviewed

#13405 Updated all security examples to use the new config XSD
  configuration/env_var_processors.rst
  reference/configuration/security.rst
  security.rst
  security/access_control.rst
  security/auth_providers.rst
  security/custom_authentication_provider.rst
  security/firewall_restriction.rst
  security/force_https.rst
  security/form_login.rst
  security/form_login_setup.rst
  security/guard_authentication.rst
  security/impersonating_user.rst
  security/json_login_setup.rst
  security/ldap.rst
  security/multiple_guard_authenticators.rst
  security/named_encoders.rst
  security/password_migration.rst
  security/remember_me.rst
  security/user_checkers.rst
  security/user_provider.rst
  security/voters.rst
  testing/http_authentication.rst
Labels: Security, Status: Reviewed

#13412 [Form] derive view_timezone from model_timezone
  reference/forms/types/time.rst
Labels: Form, Status: Reviewed

#13391 Replace ExceptionListener uses with ErrorListener
  create_framework/dependency_injection.rst
  create_framework/http_kernel_httpkernel_class.rst
Labels: Status: Reviewed

#13420 [Form] Improved the explanation of choice_self_translation
  reference/forms/types/language.rst
Labels: Form, Status: Reviewed

#13421 Fix $slugger call
  controller/upload_file.rst
Labels: Status: Reviewed

#13426 Typo sent instead of send
  notifier/texters.rst
Labels: Notifier, Status: Reviewed

#13425 Make sure one can copy NPM command
  frontend/encore/installation.rst
Labels: Status: Reviewed, front-end

#13423 Add note about special handling of 'name' argument
  components/config/definition.rst
Labels: Status: Reviewed

#13414 Adding `anonymous`
  reference/configuration/security.rst
Labels: Security, Status: Reviewed

#13417 Add clear description of `resolve` env processor
  configuration/env_var_processors.rst
Labels: Status: Needs Review

#13437 Removing note about Propel
  form/form_collections.rst
Labels: Form

#13429 Update multiple_buses.rst
  messenger/multiple_buses.rst
Labels: Status: Reviewed

#13436 [Routing] remove extra space in XML inline example
  routing.rst
Labels: Routing, Status: Reviewed

#13435 This page has moved
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#13434 Mention the link script --copy option
  contributing/code/pull_requests.rst
Labels: Status: Needs Review

#13433 Encore: add documentation for Encore.configureDevServerOptions()
  frontend/encore/dev-server.rst
Labels: Status: Reviewed, front-end

#13428 Update error_pages.rst
  controller/error_pages.rst
Labels: Status: Reviewed

#13438 Removing redundant info
  form/form_collections.rst
Labels: Status: Needs Review

#13443 Shortening the next paragraph
  form/form_collections.rst
Labels: Status: Needs Review

#13448 Moving the "On the rendered page" paragraph upwards
  form/form_collections.rst
Labels: Form, Status: Reviewed

#13447 Rephrasing `data-prototype` paragraph
  form/form_collections.rst
Labels: Form, Status: Reviewed

#13455 Namespace import reference missing
  notifier/texters.rst
Labels: Status: Reviewed

#13456 Typo and namespace import reference fixed
  notifier/chatters.rst
Labels: Notifier, Status: Reviewed

#13452 Fix count input on form collection
  form/form_collections.rst
Labels: Form, Status: Reviewed

#13459 Document support for Memcached in Docker Compose
  setup/symfony_server.rst
Labels: Status: Reviewed

#13442 Shortening the text
  form/form_collections.rst
Labels: Form, Status: Reviewed

#13444 Shortening the lenghty Xdebug explanation
  form/form_collections.rst
Labels: Form, Status: Reviewed

#13461 [setup] Friendlier phrasing for people choosing not to use the Symfony CLI
  setup.rst
Labels: Status: Reviewed
