Repository symfony/symfony-docs, pull requests merged in 2020-01, with the labels that each got.

#12856 Update guard_authentication.rst
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#12853 [4.4][Security] Password migration with guards
  security/password_migration.rst
Labels: Security, Status: Reviewed

#12840 Update injection_types.rst
  service_container/injection_types.rst
Labels: Status: Reviewed

#12855 Update security.rst
  security.rst
Labels: Security, Status: Reviewed

#12873 backport some tweaks from 5.0 docs
  security/guard_authentication.rst
Labels: Status: Reviewed

#12874 minor tweaks
  security/password_migration.rst
Labels: Security, Status: Needs Review

#12876 [String] Replace codePoint by codePointsAt
  components/string.rst
Labels: Status: Reviewed, String

#12871 Replace references to Goutte with HttpBrowser
  components/browser_kit.rst
  components/dom_crawler.rst
Labels: BrowserKit, Status: Reviewed

#12872 SMimeEncrypter add Tip
  mailer.rst
Labels: Mime, Status: Reviewed

#12870 add url to bootstrap.php for older versions
  configuration/dot-env-changes.rst
Labels: Status: Needs Review

#12863 Update user_checkers.rst
  security/user_checkers.rst
Labels: Security, Status: Reviewed

#12864 Update multiple_guard_authenticators.rst
  security/multiple_guard_authenticators.rst
Labels: Status: Needs Review

#12865 Add documentation for new reverse() method
  components/string.rst
Labels: Status: Reviewed, String

#12845 Update custom_route_loader.rst | Fix wrong tag
  routing/custom_route_loader.rst
Labels: Status: Needs Review

#12877 [Mailer] Fixed broken link
  mailer.rst
Labels: Mailer, Status: Reviewed

#12860 Fixed problem normalizer example
  controller/error_pages.rst
Labels: ErrorHandler, Status: Reviewed

#12849 Update error_pages.rst
  controller/error_pages.rst
Labels: ErrorHandler, Status: Reviewed

#12848 Update error_handler.rst
  components/error_handler.rst
Labels: Status: Needs Review

#12847 Update argument_value_resolver.rst
  controller/argument_value_resolver.rst
Labels: HttpKernel, Status: Reviewed

#12844 Make custom routers compatible with the LoaderInterface
  routing/custom_route_loader.rst
Labels: Routing, Status: Reviewed

#12843 Update routing.rst - Fix wrong XML
  routing.rst
Labels: Routing, Status: Reviewed

#12842 Update routing.rst
  routing.rst
Labels: Routing, Status: Reviewed

#12841 Update routing.rst
  routing.rst
Labels: Routing, Status: Reviewed

#12839 Update event_dispatcher.rst
  components/event_dispatcher.rst
Labels: EventDispatcher, Status: Reviewed

#12878 Update doctrine.rst
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#12827 [Security] Add a note about Access Decision Strategy with access_control
  security/access_control.rst
Labels: Security, Status: Reviewed

#12801 Use HttpKernel Component
  create_framework/http_kernel_httpkernelinterface.rst
Labels: Status: Reviewed

#12798 It's needed to change the returned string in testControllerResponse
  create_framework/unit_testing.rst
Labels: Status: Reviewed

#12456 Getting product using Symfony autowiring
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#12879 Update service id of the MailerInterface
  mailer.rst
Labels: Mailer, Status: Reviewed

#12880 Fix invalid yaml
  service_container/alias_private.rst
Labels: DependencyInjection, Status: Reviewed

#12892 Remove recommendation
  setup/symfony_server.rst
Labels: Status: Reviewed

#12886 some spelling updates
  contributing/documentation/overview.rst
  create_framework/introduction.rst
  setup/built_in_web_server.rst
Labels: Status: Reviewed

#12884 Fixed a wrong reference
  templating/hinclude.rst
Labels: Status: Reviewed

#12885 [DependencyInjection] Reworded the article about factories
  service_container/factories.rst
Labels: DependencyInjection, Status: Reviewed

#12887 [Console] Fix code example for definitionList
  console/style.rst
Labels: Console, Status: Reviewed

#12890 Fix a minor code mistake
  components/string.rst
Labels: Status: Reviewed, String

#12900 Update process.rst
  components/process.rst
Labels: Process, Status: Reviewed

#12932 Fix dama/doctrine-test-bundle docs
  testing/database.rst
Labels: Status: Reviewed, Testing

#12907 Update extending.rst
  components/expression_language/extending.rst
Labels: ExpressionLanguage, Status: Reviewed

#12930 [FrameworkBundle] Template Controller should accept extra arguments
  templates.rst
Labels: FrameworkBundle, Status: Reviewed

#12901 [Serializer] Remove note about CsvEncoder as_collection flag
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#12925 [Notifier] Added a placeholder article for the component docs
  components/notifier.rst
Labels: Notifier, Status: Needs Review

#12908 remove getPublicDir() documentation
  bundles.rst
Labels: Status: Reviewed

#12905 Update workflow-and-state-machine.rst
  workflow/workflow-and-state-machine.rst
Labels: Status: Reviewed, Workflow

#12909 Hint for generating container preload file
  performance.rst
Labels: Performance, Status: Reviewed

#12902 [FrameworkBundle] Fix lock.invoice.retry_till_save.store decoration
  reference/configuration/framework.rst
Labels: FrameworkBundle, Status: Reviewed

#12912 Fixes unclear sentence in finder.rst
  components/finder.rst
Labels: Finder, Status: Reviewed

#12939 adding the * to .xml in the Conf Env
  configuration.rst
Labels: Config, Status: Reviewed

#12942 [workflow] Added a way to not fire the announce event
  workflow.rst
Labels: Status: Reviewed, Workflow

#12917 [Console] Updated section 'Building a single Command Application' with the new 'SingleCommandApplication'
  components/console/single_command_tool.rst
Labels: Console, Status: Reviewed

#12906 Update extending.rst
  components/expression_language/extending.rst
Labels: ExpressionLanguage, Status: Reviewed

#12944 Update example to use tagged_locator helper function
  service_container/service_subscribers_locators.rst
Labels: DependencyInjection, Status: Reviewed

#12943 [Form] Use the get method instead of using the array
  controller/upload_file.rst
Labels: Status: Reviewed

#12945 Move method and class
  components/console/single_command_tool.rst
  components/options_resolver.rst
  components/routing.rst
  components/security/authentication.rst
  reference/constraints/File.rst
  validation.rst
  workflow.rst
Labels: Status: Reviewed

#12954 Fix Typo
  reference/forms/types/options/label_format.rst.inc
Labels: Status: Reviewed

#12952 [Yaml] Documented the yaml-lint binary
  translation/lint.rst
Labels: Status: Reviewed, Yaml

#12966 [Workflow] Fix invalid variable name
  workflow.rst
Labels: Status: Reviewed, Workflow

#12960 tweaking the password upgrading functionality
  security/password_migration.rst
Labels: Security, Status: Reviewed

#12957 Remove usages of transChoice() method for Symfony 5.0
  components/form.rst
  components/translation.rst
  components/translation/usage.rst
Labels: Status: Reviewed, Translator

#12975 Fixed typo
  reference/twig_reference.rst
Labels: Status: Reviewed

#12977 Update service_container.rst
  service_container.rst
Labels: Status: Needs Review

#12980 Updated the intro of the Twig extensions article
  templating/twig_extension.rst
Labels: Status: Reviewed, Twig

#12987 Fix typo in notifier component
  components/notifier.rst
Labels: Notifier, Status: Reviewed

#12990 [Messenger] Updated link
  messenger.rst
Labels: Messenger, Status: Reviewed

#12959 Adding details about recipe upgrade system and upgrade improvements
  setup.rst
  setup/_update_dep_errors.rst.inc
  setup/upgrade_major.rst
  setup/upgrade_minor.rst
Labels: Status: Reviewed

#12924 [Messenger] Redis example with Unix Socket
  messenger.rst
Labels: Messenger, Status: Reviewed

#12947 Update authorization.rst
  components/security/authorization.rst
Labels: Security, Status: Reviewed

#12995 Updated imports in TaskController when using TaskType
  forms.rst
Labels: Form, Status: Reviewed

#13001 composer issue for prefer-lowest has been fixed
  bundles/best_practices.rst
Labels: Bundles, Status: Reviewed

#13007 Remove old versionadded
  configuration.rst
  configuration/secrets.rst
Labels: Status: Reviewed

#13005 [Messenger] Document Redis TLS support
  messenger.rst
Labels: Messenger, Status: Reviewed

#12988 Workflow: align Example for property access with implementation of Me…
  workflow.rst
Labels: Status: Reviewed, Workflow

#12949 [Translation] Added tip about the incompatibility of % character
  translation/message_format.rst
Labels: Status: Reviewed, Translator

#13021 fix XML config example
  messenger.rst
Labels: Messenger, Status: Reviewed
