Repository symfony/symfony-docs, pull requests merged in 2020-07, with the labels that each got.

#13923 Fix typo in the docs
  testing.rst
Labels: Status: Reviewed, Testing

#13921 Update form_collections.rst
  form/form_collections.rst
Labels: Form, Status: Reviewed

#13925 [Messenger] Update messenger.rst
  messenger.rst
Labels: Messenger, Status: Reviewed

#13920 [Doctrine] Fixed bad method name for example
  doctrine/events.rst
Labels: Doctrine, Status: Needs Review

#13926 Update serializer.rst
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#13927 Update serializer.rst
  components/serializer.rst
Labels: Serializer

#13930 Update docs regarding 2nd argument of DomCrawler text()
  components/dom_crawler.rst
Labels: DomCrawler, Status: Reviewed

#13932 Fixed mention of minimum PHP version for v4.x
  contributing/code/pull_requests.rst
Labels: Status: Reviewed

#13933 Fixed mention of minimum PHP version for v5.x
  contributing/code/pull_requests.rst
Labels: Status: Reviewed

#13935 [Mailer] Update mailer.rst
  mailer.rst
Labels: Mailer, Status: Needs Review, Status: Reviewed

#13937 [HttpClient] HTTP client is enabled by default when installed
  http_client.rst
Labels: HttpClient, Status: Reviewed

#13938 Update phpunit_bridge.rst
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Reviewed

#13909 Add twig vue js tip
  frontend/encore/vuejs.rst
Labels: Status: Reviewed, front-end

#13919 Fixed micro kernel demo
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed, Waiting feedback

#13940 Remove links to not existing channel pages
  notifier.rst
Labels: Notifier, Status: Reviewed

#13946 [PropertyInfo] Update property_info.rst
  components/property_info.rst
Labels: PropertyInfo, Status: Reviewed

#13944 Improve profiler
  profiler.rst
Labels: Profiler, Status: Reviewed

#13951 Tweak security checker wording
  security/security_checker.rst
Labels: Status: Reviewed

#13952 Update experimental_authenticators.rst
  security/experimental_authenticators.rst
Labels: Security, Status: Reviewed

#13953 Add missing path in PHP routing configuration example
  routing.rst
Labels: Routing, Status: Reviewed

#13957 Corrected grammar to increase readability.
  security/ldap.rst
Labels: Security, Status: Needs Review

#13962 [HttpFoundation] Document HeaderUtils::parseQuery()
  components/http_foundation.rst
Labels: HttpFoundation, Status: Needs Review

#13961 [Security] Mention the feature to use a custom AccessDecisionManager
  security/voters.rst
Labels: Security, Status: Reviewed

#13966 [Console] Update input.rst
  console/input.rst
Labels: Console, Status: Reviewed

#13968 Update bundles.rst
  bundles.rst
Labels: Status: Reviewed

#13965 Use "closure-style" PHP configuration format in code examples
  configuration.rst
Labels: DependencyInjection, Status: Reviewed

#13963 [Mailer] Allow UTF-8 chars in email addresses
  mailer.rst
Labels: Mailer, Mime, Status: Needs Review

#13967 default path of migrations changed in recipe
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#13971 [Workflow] Update workflow.rst
  workflow.rst
Labels: Status: Reviewed, Workflow

#13972 Update database.rst
  testing/database.rst
Labels: Doctrine, Status: Reviewed

#13973 Update doctrine.rst
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#13992 [Http Client] Fix Typo in Http Client
  http_client.rst
Labels: HttpClient, Status: Reviewed

#13995 Add namespace into service_container.rst file
  service_container.rst
Labels: DependencyInjection, Status: Needs Review

#13979 Added: Missing comment on XML and PHP code-block
  service_container/service_decoration.rst
Labels: DependencyInjection, Status: Reviewed

#13978 Update workflow.rst
  workflow.rst
Labels: Status: Reviewed, Workflow
