Repository symfony/symfony-docs, pull requests merged in 2021-10, with the labels that each got.

#15876 [Form] Fix comments
  form/create_form_type_extension.rst
Labels: Form, Status: Reviewed

#15882 [docs] typofixes
  components/cache/adapters/couchbasebucket_adapter.rst
  components/serializer.rst
  reference/configuration/security.rst
  session.rst
Labels: Status: Reviewed

#15866 [Finder] Document recursive .gitignore files support
  components/finder.rst
Labels: Status: Reviewed, Finder

#15862 unify expression: yarn run encore -> yarn encore
  frontend/encore/simple-example.rst
Labels: front-end, Status: Needs Review

#15879 [Frontend/Encore] Fix code example for ignoring Moment.js Locales
  frontend/encore/custom-loaders-plugins.rst
Labels: front-end, Status: Needs Review

#15875 Grammar fixes in front_controller.rst
  create_framework/front_controller.rst
Labels: Status: Needs Review

#15796 [Messenger] document reset_on_message transport option
  messenger.rst
Labels: Status: Reviewed, Messenger

#15863 [Runtime] Possibility to define the env and/or debug key
  components/runtime.rst
Labels: Status: Reviewed, Runtime

#15869 Deleting incomplete components page
  components/index.rst
Labels: Status: Reviewed

#15810 [Serializer] Document `DenormalizerInterface::COLLECT_DENORMALIZATION_ERRORS`
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#15889 Fix a wrong doc redirection
  _build/redirection_map
Labels: Status: Needs Review

#16036 [HTTP Foundation] Improve sentence to avoid repetition
  components/http_foundation.rst
Labels: Status: Reviewed

#16034 [Security] Document custom access decision managers
  components/security/authorization.rst
  security/voters.rst
Labels: Security, Status: Reviewed

#16042 [Validator] Remove duplicated entries in validator constraint pages
  reference/constraints/All.rst
  reference/constraints/Bic.rst
  reference/constraints/Blank.rst
  reference/constraints/Callback.rst
  reference/constraints/CardScheme.rst
  reference/constraints/Choice.rst
  reference/constraints/Collection.rst
  reference/constraints/Count.rst
  reference/constraints/Country.rst
  reference/constraints/Currency.rst
  reference/constraints/Date.rst
  reference/constraints/DateTime.rst
  reference/constraints/DivisibleBy.rst
  reference/constraints/Email.rst
  reference/constraints/EqualTo.rst
  reference/constraints/Expression.rst
  reference/constraints/File.rst
  reference/constraints/GreaterThan.rst
  reference/constraints/GreaterThanOrEqual.rst
  reference/constraints/Iban.rst
  reference/constraints/IdenticalTo.rst
  reference/constraints/Image.rst
  reference/constraints/Ip.rst
  reference/constraints/IsFalse.rst
  reference/constraints/IsNull.rst
  reference/constraints/IsTrue.rst
  reference/constraints/Isbn.rst
  reference/constraints/Issn.rst
  reference/constraints/Json.rst
  reference/constraints/Language.rst
  reference/constraints/Length.rst
  reference/constraints/LessThan.rst
  reference/constraints/LessThanOrEqual.rst
  reference/constraints/Locale.rst
  reference/constraints/Luhn.rst
  reference/constraints/Negative.rst
  reference/constraints/NegativeOrZero.rst
  reference/constraints/NotBlank.rst
  reference/constraints/NotCompromisedPassword.rst
  reference/constraints/NotEqualTo.rst
  reference/constraints/NotIdenticalTo.rst
  reference/constraints/NotNull.rst
  reference/constraints/Positive.rst
  reference/constraints/PositiveOrZero.rst
  reference/constraints/Range.rst
  reference/constraints/Regex.rst
  reference/constraints/Time.rst
  reference/constraints/Timezone.rst
  reference/constraints/Traverse.rst
  reference/constraints/Type.rst
  reference/constraints/Unique.rst
  reference/constraints/UniqueEntity.rst
  reference/constraints/Url.rst
  reference/constraints/UserPassword.rst
  reference/constraints/Uuid.rst
  reference/constraints/Valid.rst
Labels: Validator, Status: Reviewed

#16039 Add documentation about CacheableVoterInterface
  security/voters.rst
Labels: Status: Reviewed

#15975 [Console] Document `SymfonyStyle` additions
  console/style.rst
Labels: Console, Status: Reviewed
