Repository symfony/symfony-docs, pull requests merged in 2021-03, with the labels that each got.

#15060 Update env_var_processors.rst
  configuration/env_var_processors.rst
Labels: Status: Reviewed

#15055 [Messenger] Added note about timezone
  messenger.rst
Labels: Messenger, Status: Reviewed

#15057 [Translation] Update translation.rst
  translation.rst
Labels: Status: Reviewed, Translation

#15052 [Cache] Remove `compression` option from Redis and Memcache
  components/cache/adapters/memcached_adapter.rst
  components/cache/adapters/redis_adapter.rst
Labels: Cache, Status: Reviewed

#15058 [Serializer] Fixed typo for YamlEncoder section
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#15049 [Lock] Added paragraph about auto release
  components/lock.rst
Labels: Lock, Status: Reviewed

#15038 [Validator] Unique validator: Better description for the value placeholder
  reference/constraints/Unique.rst
Labels: Status: Reviewed, Validator

#15048 [Bundles] Add part about resolving parameter values to prepend extension
  bundles/prepend_extension.rst
Labels: Bundles, Status: Reviewed

#15054 [Cache] Adding about marshallers
  components/cache.rst
Labels: Cache, Status: Reviewed

#15072 [Config] Fix typo
  configuration/secrets.rst
Labels: Config, Status: Needs Review

#15068 [Uid] Fix typos
  components/uid.rst
Labels: Status: Reviewed, Uid

#15066 [Validator] Add PHP Attributes to validation page
  validation.rst
Labels: Status: Reviewed, Validator

#15078 [PropertyAccess] fix the component name
  reference/forms/types/entity.rst
  serializer/normalizers.rst
Labels: PropertyAccess, Status: Reviewed

#15079 [PropertyAccess] use bitwise instead of boolean flags
  components/property_access.rst
Labels: PropertyAccess, Status: Reviewed

#15080 [PropertyAccess]  do not pass boolean constructor flags
  components/property_access.rst
Labels: PropertyAccess, Status: Reviewed

#15071 [Translation] Fix link to Translatable Extension documentation
  translation.rst
Labels: Status: Reviewed, Translation

#15084 [Workflow] fix PHP config
  workflow/dumping-workflows.rst
Labels: Status: Reviewed, Workflow

#15082 [RateLimiter] Typo in Rate Limiter Status example
  rate_limiter.rst
Labels: RateLimiter, Status: Reviewed

#15027 [Mailer] doc(mailer): add Sendinblue to transports supporting tags and metadata
  mailer.rst
Labels: Mailer, Status: Reviewed

#15045 [Mailer] Configuration of the message_bus to use
  mailer.rst
Labels: Mailer, Status: Reviewed

#15089 Update events.rst
  reference/events.rst
Labels: Status: Reviewed

#15088 Update kernel.rst
  reference/configuration/kernel.rst
Labels: Status: Reviewed

#15087 Update debug.rst
  reference/configuration/debug.rst
Labels: Status: Reviewed

#15070 [Framework] Fix reference to default_path
  reference/configuration/framework.rst
Labels: Status: Reviewed

#15074 [Security] Update description for Access decision strategies
  security/voters.rst
Labels: Security, Status: Needs Review

#15103 [Session] Add missing semicolon
  session/locale_sticky_session.rst
Labels: Session, Status: Reviewed

#15104 [Intl] Fix typos
  components/intl.rst
Labels: Intl, Status: Reviewed

#15094 [Translation] Move the "templates" section into the main guide
  _build/redirection_map
  translation.rst
  translation/templates.rst
Labels: Status: Reviewed, Translation

#15106 add a warning about Amazon SES signature
  mailer.rst
Labels: Status: Reviewed

#15109 Update logging.rst
  logging.rst
Labels: Status: Reviewed

#15119 Remove Jakub from the core team
  contributing/code/core_team.rst
Labels: Status: Reviewed

#15120 [Testing] Fix typo in assertEmailAttachmentCount
  testing/functional_tests_assertions.rst
Labels: Status: Reviewed, Testing

#15115 [Mailer] Fix DSNs
  mailer.rst
Labels: Mailer, Status: Reviewed

#15116 [Mailer] Use correct domain
  mailer.rst
Labels: Mailer, Status: Reviewed

#15114 [Mailer] Fix DSN
  mailer.rst
Labels: Mailer, Status: Reviewed

#15113 [Security] Use UserBadge in all passports
  security/experimental_authenticators.rst
Labels: Security, Status: Reviewed

#15118 Fix to use yaml syntax
  deployment/proxies.rst
Labels: Status: Reviewed

#15121 Add Oracle DATABASE_URL instruction
  doctrine.rst
Labels: Status: Needs Review

#15125 [Doctrine] Update reverse_engineering.rst
  doctrine/reverse_engineering.rst
Labels: Doctrine, Status: Reviewed

#15136 [Filesystem] Fix typo
  components/filesystem.rst
Labels: Filesystem, Status: Reviewed

#15138 Typo with backticks.
  http_cache/validation.rst
Labels: Status: Needs Review

#15130 Remove extra slash in template path
  configuration/override_dir_structure.rst
Labels: Status: Reviewed

#15128 Fix yaml syntax
  deployment/proxies.rst
Labels: Status: Needs Review

#15135 [Intl] Remove duplicated parentheses
  components/intl.rst
Labels: Intl, Status: Needs Review

#15143 [Doctrine] Fix markdown in multiple_entity_managers.rst
  doctrine/multiple_entity_managers.rst
Labels: Doctrine, Status: Reviewed

#15129 Update bc.rst
  contributing/code/bc.rst
Labels: Status: Reviewed

#15140 [Mailer] fix ses+smtp credentials format
  mailer.rst
Labels: Mailer, Status: Reviewed

#15137 [DependencyInjection] Fixed invalid alias definition in "Deprecating Service Aliases" YAML example
  service_container/alias_private.rst
Labels: DependencyInjection, Status: Needs Review

#15126 [Workflow] Update workflow.rst
  workflow.rst
Labels: Status: Reviewed, Workflow

#15131 [Notifier] Remove SentMessage paragraph
  notifier.rst
Labels: Notifier, Status: Reviewed

#13492 [Validator] Added grouped constraints in `Collection` reference
  reference/constraints/Collection.rst
  validation/raw_values.rst
Labels: Status: Reviewed, Validator

#15155 Update rate_limiter.rst
  rate_limiter.rst
Labels: Status: Reviewed

#15159 [Validator] Add missing backticks for constraint option names
  reference/constraints/Bic.rst
  reference/constraints/CardScheme.rst
  reference/constraints/Choice.rst
  reference/constraints/Count.rst
  reference/constraints/DateTime.rst
  reference/constraints/DivisibleBy.rst
  reference/constraints/Email.rst
  reference/constraints/Expression.rst
  reference/constraints/File.rst
  reference/constraints/Image.rst
  reference/constraints/Ip.rst
  reference/constraints/Isbn.rst
  reference/constraints/Issn.rst
  reference/constraints/Json.rst
  reference/constraints/Length.rst
  reference/constraints/Locale.rst
  reference/constraints/Negative.rst
  reference/constraints/NegativeOrZero.rst
  reference/constraints/NotBlank.rst
  reference/constraints/NotCompromisedPassword.rst
  reference/constraints/Positive.rst
  reference/constraints/PositiveOrZero.rst
  reference/constraints/Range.rst
  reference/constraints/Regex.rst
  reference/constraints/Timezone.rst
  reference/constraints/Type.rst
  reference/constraints/Unique.rst
  reference/constraints/UniqueEntity.rst
  reference/constraints/Url.rst
  reference/constraints/Valid.rst
  reference/constraints/_normalizer-option.rst.inc
Labels: Status: Reviewed, Validator

#15151 Fix typo
  frontend/encore/versioning.rst
Labels: Status: Needs Review, front-end

#15152 [CssSelector] Grammatical fix
  components/css_selector.rst
Labels: CssSelector, Status: Needs Review

#15124 [Validator] Add normalizer option to Unique constraint
  reference/constraints/Unique.rst
Labels: Status: Reviewed, Validator

#14870 [Notifier] [FakeSms] Add the bridge
  notifier.rst
Labels: Notifier, Status: Reviewed, Waiting Code Merge

#15162 [Finder] Fix typo
  components/finder.rst
Labels: Finder, Status: Reviewed

#15172 [Validator] Add warning about closure not being cachable
  reference/constraints/Callback.rst
Labels: Status: Reviewed, Validator

#15099 [Serializer] Add PHP Attributes to serializer examples
  components/serializer.rst
Labels: Serializer, Status: Reviewed
