Repository symfony/symfony-docs, pull requests merged in 2021-04, with the labels that each got.

#15182 [Lock] Remove tip about the RetryTillSaveStore
  reference/configuration/framework.rst
Labels: Lock, Status: Reviewed

#15178 [Notifier] [LightSMS] add docs
  notifier.rst
Labels: Notifier, Status: Reviewed

#15171 [Notifier] [FakeChat] add docs
  notifier.rst
Labels: Notifier, Status: Needs Review

#15188 [Security] remove unused namespace
  security/user_checkers.rst
Labels: Security, Status: Reviewed

#15191 [Testing] Every custom header in functional testing client must have HTTP_ prefix
  testing.rst
Labels: Status: Needs Review, Testing

#15149 [Mercure] update mercure documentation
  mercure.rst
Labels: Mercure, Status: Needs Review

#15175 Standardize built-in normalizers lists
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#15195 [HttpFoundation] Remove extra space
  components/http_foundation.rst
Labels: HttpFoundation, Status: Reviewed

#15179 [Notifier] Mercure bridge: bump mercure dependency to 0.5
  notifier.rst
Labels: Notifier, Status: Reviewed

#15153 docs(http-client): fix default retry_failed configuration example
  reference/configuration/framework.rst
Labels: Status: Reviewed

#15081 [Runtime] Init Runtime component
  .doctor-rst.yaml
  components/runtime.rst
Labels: Runtime, Status: Reviewed

#14430 [Messenger] Routing & Inheritance
  messenger.rst
Labels: Messenger, Status: Needs Review

#15200 [Workflow] Added explaination on context in events and initial marking
  workflow.rst
Labels: Status: Needs Review, Workflow

#15199 [Messenger] fix typo
  messenger.rst
Labels: Messenger, Status: Needs Review

#14700 Update login_link.rst
  security/login_link.rst
Labels: Status: Reviewed

#14728 [Cache] Add TLS scheme for Redis connection
  components/cache/adapters/redis_adapter.rst
Labels: Cache, Status: Reviewed

#15043 [Messenger] Add options for PostgreSQL LISTEN/NOTIFY support
  messenger.rst
Labels: Messenger, Status: Reviewed

#15039 add serialize reference
  reference/twig_reference.rst
  serializer.rst
Labels: Status: Reviewed, Waiting Code Merge

#14903 [HttpFoundation] JsonResponse content updated
  components/http_foundation.rst
Labels: HttpFoundation, Status: Needs Review

#15063 Update docs relating to translation extraction
  translation.rst
  translation/debug.rst
Labels: Status: Reviewed

#15194 Update framework.router.strict_requirements
  reference/configuration/framework.rst
Labels: Status: Needs Review

#15205 [Notifier] Remove variable
  notifier.rst
Labels: Notifier, Status: Needs Review

#15204 Rename LightSms package
  notifier.rst
Labels: Status: Reviewed

#15193 [Notifier] Add MicrosoftTeams
  notifier.rst
Labels: Notifier, Status: Needs Review

#15202 Corrected minor grammar mistake in the routing docs
  routing.rst
Labels: Status: Needs Review

#15108 [Form] "form_attr" FormType option documentation
  reference/forms/types/form.rst
  reference/forms/types/options/form_attr.rst.inc
Labels: Form, Status: Reviewed

#15185 [Security] Adding typehint
  security/guard_authentication.rst
Labels: Security, Status: Reviewed

#15031 [Intl] Remove documentation about deprecated code
  components/intl.rst
Labels: Intl, Status: Needs Review

#15210 [Serializer] Document the csv_end_of_line option
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#15211 [Security] Document the login_throttling.interval option
  security.rst
Labels: Security, Status: Reviewed

#15214 [Uid] Document the ::from() methods for UUIDs and ULIDs
  components/uid.rst
Labels: Status: Reviewed, Uid

#15216 [HttpFoundation] Document the unix_socket and charset options for MySQL PdoSessionHandler
  session/database.rst
Labels: HttpFoundation, Status: Reviewed

#15220 [HttpFoundation] Fix IpUtils example
  components/http_foundation.rst
Labels: HttpFoundation, Status: Reviewed

#15212 [DomCrawler] Clarify the ways to add contents
  components/dom_crawler.rst
Labels: DomCrawler, Status: Reviewed

#15221 [HttpFoundation] Minor fixes
  components/http_foundation.rst
Labels: HttpFoundation, Status: Reviewed

#15225 [Runtime] Fix typo
  components/runtime.rst
Labels: Runtime, Status: Reviewed

#15206 [Notifier] [FakeSms] [FakeChat] Update DSN
  notifier.rst
Labels: Notifier, Status: Needs Review

#15227 Updated link to v5.2 version
  configuration/dot-env-changes.rst
Labels: Status: Needs Review

#15208 [Ldap] Update ldap.rst
  components/ldap.rst
Labels: Ldap, Status: Needs Review

#15228 [Symfony CLI] Document about `APP_ENV=test` behavior
  setup/symfony_server.rst
Labels: Status: Reviewed

#15102 [Workflow] Add info about MermaidDumper
  _images/components/workflow/blogpost_mermaid.png
  workflow/dumping-workflows.rst
Labels: Status: Reviewed, Workflow

#15236 Fixing typo
  forms.rst
Labels: Status: Reviewed

#15235 Fix typo in handler success customization part.
  security/login_link.rst
Labels: Status: Needs Review

#15219 [Notifier] [SmsBiuras] add docs
  notifier.rst
Labels: Notifier, Status: Reviewed

#14769 [Process] Documented setTty and setPty methods
  components/process.rst
Labels: Process, Status: Reviewed

#14751 Update performance.rst
  performance.rst
Labels: Status: Reviewed

#15198 [Notifier] Docs for Slack options field() method
  _images/notifier/slack/field-method.png
  notifier/chatters.rst
Labels: Notifier, Status: Reviewed

#15244 Fix the filename in the code block
  frontend/encore/legacy-applications.rst
Labels: Status: Needs Review, front-end

#15215 [Intl] Document getCashFractionDigits() and getCashRoundingIncrement()
  components/intl.rst
Labels: Intl, Status: Needs Review

#15180 [Notifier] [MessageBird] add docs
  notifier.rst
Labels: Status: Needs Review

#14786 [HttpClient] Clarification on use of base_uri + absolute paths
  http_client.rst
Labels: HttpClient, Status: Reviewed

#15117 [Finder] Add note about depth 0 in Finder
  components/finder.rst
Labels: Finder, Status: Needs Review

#15097 [DependencyInjection] Update definitions.rst
  service_container/definitions.rst
Labels: DependencyInjection, Status: Reviewed

#15098 [Routing] Fix the matched path value
  routing.rst
Labels: Routing, Status: Reviewed

#15096 Remove duplicate step in flex setup steps
  setup/flex.rst
Labels: Status: Needs Review

#14994 [Logger] Add relations between LoggerInterface and verbosity
  logging/monolog_console.rst
Labels: Logger, Status: Reviewed

#15062 Command naming conventions
  contributing/code/conventions.rst
Labels: Status: Reviewed

#15067 [Doctrine][Session] Added doc and defaults for missing 'ttl' option in config
  session/database.rst
Labels: Doctrine, Session, Status: Reviewed

#15069 [Routing] add a warning about object as extra parameter in route
  routing.rst
Labels: Routing, Status: Reviewed

#15073 Distinct Bootstrap jQuery requirement
  frontend/encore/bootstrap.rst
Labels: Status: Needs Review, front-end

#15017 [Translation][Validator] Mention symfony/translation
  validation/translations.rst
Labels: Status: Reviewed, Translation, Validator

#14968 [Routing] Adding `exclude` to PHP code sample
  routing.rst
Labels: Routing, Status: Reviewed

#14729 [DependencyInjection] Fix possible error in example code
  service_container/tags.rst
Labels: DependencyInjection, Status: Needs Review

#15173 [Validator] Fix Regex htmlPattern examples
  reference/constraints/Regex.rst
Labels: Status: Reviewed, Validator

#15181 [Config] Add docs for ConfigBuilders
  configuration.rst
Labels: Config, Status: Reviewed

#15157 [Security] rename User to InMemoryUser
  components/security/authentication.rst
  security/user_provider.rst
Labels: Security, Status: Reviewed

#15174 [Routing] Rewording Priority Parameter
  routing.rst
Labels: Routing, Status: Needs Review

#15248 [minor] Use correct code block
  reference/forms/types/options/preferred_choices.rst.inc
Labels: Status: Reviewed

#15249 Be consistent how we open XML dom
  bundles/configuration.rst
  components/dependency_injection/compilation.rst
  components/dom_crawler.rst
  components/serializer.rst
  configuration/override_dir_structure.rst
  create_framework/unit_testing.rst
  doctrine/events.rst
  doctrine/multiple_entity_managers.rst
  forms.rst
  reference/configuration/security.rst
  routing.rst
  routing/custom_route_loader.rst
  security.rst
  security/access_control.rst
  security/access_denied_handler.rst
  security/auth_providers.rst
  security/custom_authentication_provider.rst
  security/firewall_restriction.rst
  security/force_https.rst
  security/form_login.rst
  security/form_login_setup.rst
  security/guard_authentication.rst
  security/impersonating_user.rst
  security/json_login_setup.rst
  security/ldap.rst
  security/multiple_guard_authenticators.rst
  security/named_encoders.rst
  security/password_migration.rst
  security/user_checkers.rst
  security/user_provider.rst
  serializer.rst
  service_container/tags.rst
  testing/bootstrap.rst
  testing/http_authentication.rst
  translation.rst
  translation/debug.rst
  translation/message_format.rst
  translation/xliff.rst
  validation/translations.rst
Labels: Status: Reviewed

#15247 Show logs from php-builder
  .github/workflows/ci.yaml
Labels: Status: Reviewed

#14731 [Testing] Restructure/rewrite testing docs
  .doctor-rst.yaml
  best_practices.rst
  form/unit_testing.rst
  testing.rst
  testing/database.rst
Labels: Status: Reviewed, Testing

#15258 remove 4.x versionadded directive
  testing.rst
Labels: Status: Needs Review

#15259 Fix typo
  frontend/encore/dev-server.rst
Labels: Status: Needs Review, front-end

#15260 [Mercure] Fix configuration-block
  mercure.rst
Labels: Mercure, Status: Needs Review

#15262 update doc with max-age
  http_cache/expiration.rst
Labels: Status: Needs Review

#15255 Minor fixes
  controller.rst
  introduction/from_flat_php_to_symfony.rst
  page_creation.rst
Labels: Status: Reviewed

#13736 [HttpClient] add doc about extending and AsyncDecoratorTrait
  http_client.rst
Labels: HttpClient, Status: Reviewed

#15156 rename master request to main request
  components/http_kernel.rst
  create_framework/http_kernel_httpkernelinterface.rst
  event_dispatcher.rst
  http_cache.rst
  http_cache/esi.rst
  reference/configuration/framework.rst
  reference/events.rst
  security/form_login_setup.rst
  session.rst
Labels: Status: Reviewed

#15256 [Validator] Calling enableAnnotationMapping without argument is deprecated
  components/validator/resources.rst
  form/unit_testing.rst
Labels: Status: Reviewed, Validator

#15209 [Uid] Document the methods to generate and inspect UIDs
  components/uid.rst
Labels: Status: Reviewed, Uid

#15250 Fixing syntax error in PHP, XML and Yaml examples
  cache.rst
  components/console/helpers/table.rst
  configuration/using_parameters_in_dic.rst
  form/inherit_data_option.rst
  http_client.rst
  messenger.rst
  messenger/multiple_buses.rst
  reference/configuration/doctrine.rst
  reference/configuration/framework.rst
  reference/configuration/security.rst
  reference/constraints/IsFalse.rst
  security/custom_authentication_provider.rst
  security/form_login_setup.rst
  security/ldap.rst
  security/named_encoders.rst
  security/remember_me.rst
  security/user_provider.rst
  service_container.rst
  service_container/alias_private.rst
  service_container/autowiring.rst
  service_container/tags.rst
  templates.rst
  workflow/dumping-workflows.rst
Labels: Status: Reviewed

#15177 [Messenger] Multiple failed transports
  messenger.rst
Labels: Messenger, Status: Reviewed

#15264 Start using ConfigBuilder
  forms.rst
  routing.rst
  serializer.rst
  session.rst
  templates.rst
Labels: Status: Reviewed

#15266 Fixed syntax errors on 4.4
  components/console/helpers/formatterhelper.rst
  components/console/helpers/table.rst
  components/dom_crawler.rst
  components/event_dispatcher.rst
  components/filesystem.rst
  components/http_foundation.rst
  components/intl.rst
  components/lock.rst
  components/options_resolver.rst
  components/phpunit_bridge.rst
  components/security/authorization.rst
  components/serializer.rst
  components/validator/resources.rst
  components/workflow.rst
  configuration/override_dir_structure.rst
  configuration/using_parameters_in_dic.rst
  contributing/code/conventions.rst
  controller/soap_web_service.rst
  create_framework/front_controller.rst
  create_framework/routing.rst
  doctrine/custom_dql_functions.rst
  form/create_form_type_extension.rst
  form/data_transformers.rst
  form/type_guesser.rst
  form/validation_group_service_resolver.rst
  forms.rst
  http_client.rst
  introduction/from_flat_php_to_symfony.rst
  mercure.rst
  migration.rst
  reference/configuration/framework.rst
  reference/constraints/Traverse.rst
  service_container.rst
  setup/homestead.rst
  templating/PHP.rst
  templating/hinclude.rst
  testing.rst
  translation.rst
Labels: Status: Reviewed

#15051 [RateLimiter][Security] More precisely document advanced rate limiter configuration
  cache.rst
  lock.rst
  rate_limiter.rst
  security.rst
Labels: RateLimiter, Security, Status: Reviewed

#15163 [Security] Customize generated Login Link
  security/login_link.rst
Labels: Security, Status: Reviewed

#15233 [Security] Update login_link.rst
  security/login_link.rst
Labels: Security, Status: Reviewed

#15257 Verify code blocks
  .github/workflows/ci.yaml
Labels: Status: Reviewed

#15044 [Encore] Deploying to a CDN subdirectory
  frontend/encore/cdn.rst
Labels: Encore, Status: Reviewed

#15241 [Mailer] Added link to https://symfony.com/doc/current/mailer.html#configuring…
  reference/configuration/framework.rst
Labels: Mailer, Status: Reviewed

#15267 Fixed syntax error in 5.2
  mailer.rst
  reference/dic_tags.rst
  security.rst
  security/access_control.rst
  security/experimental_authenticators.rst
  session/database.rst
Labels: Status: Reviewed

#15268 Fixed syntax errors in 5.x
  doctrine/events.rst
  rate_limiter.rst
  security.rst
Labels: Status: Reviewed

#13707 Add a note about allow_no_handlers option
  messenger/multiple_buses.rst
Labels: Status: Needs Review

#15042 [Routing] Explain host per locale
  routing.rst
Labels: Routing, Status: Reviewed

#14888 [Messenger] More on unique Redis consumer names
  messenger.rst
Labels: Messenger, Status: Reviewed

#13850 [Form] Update direct_submit.rst
  form/direct_submit.rst
Labels: Form, Status: Reviewed

#15271 Fixed some typos in some images
  _images/form/form-custom-type-postal-address-fragment-names.svg
  _images/form/form-custom-type-postal-address.svg
  _images/sources/README.md
  _images/sources/form/form-custom-type-postal-address-fragment-names.dia
  _images/sources/form/form-custom-type-postal-address.dia
Labels: Status: Needs Review

#14591 [Console][Mailer][Security] Added PHP type declarations
  console.rst
  console/calling_commands.rst
  console/command_in_controller.rst
  console/commands_as_services.rst
  console/hide_commands.rst
  console/input.rst
  console/lockable_trait.rst
  console/style.rst
  console/verbosity.rst
  mailer.rst
  security.rst
  security/access_denied_handler.rst
  security/csrf.rst
  security/custom_authentication_provider.rst
  security/expressions.rst
  security/form_login.rst
  security/form_login_setup.rst
  security/guard_authentication.rst
  security/impersonating_user.rst
  security/json_login_setup.rst
  security/named_encoders.rst
  security/remember_me.rst
  security/user_checkers.rst
  security/user_provider.rst
  security/voters.rst
Labels: Console, Mailer, Security, Status: Reviewed

#15273 [ConfigBuilder] Adding PHP ConfigBuilders for DoctrineBundle
  configuration/secrets.rst
  doctrine/custom_dql_functions.rst
  doctrine/dbal.rst
  doctrine/multiple_entity_managers.rst
  doctrine/resolve_target_entity.rst
  reference/configuration/doctrine.rst
  security/remember_me.rst
Labels: Status: Reviewed

#15274 [Twig] [ConfigBuilder] Use ConfigBuilder for TwigBundle
  configuration/front_controllers_and_kernel.rst
  configuration/override_dir_structure.rst
  form/bootstrap4.rst
  form/create_custom_field_type.rst
  form/form_themes.rst
  mailer.rst
  reference/configuration/twig.rst
  templating/global_variables.rst
  testing.rst
Labels: Status: Reviewed, Twig

#15272 [Uid] Document the namespace string values
  components/uid.rst
Labels: Status: Needs Review, Uid

#15276 Rename symfony-docs-tools to symfony-tools
  .github/workflows/ci.yaml
Labels: Status: Needs Review

#15283 [CI][CodeBlockChecker] Installed tagged version instead of dev-main
  .github/workflows/ci.yaml
Labels: Status: Needs Review

#15281 fix tagged mapping value YAML syntax
  service_container/service_subscribers_locators.rst
Labels: Status: Reviewed

#15278 [Logger] [Monolog] Add ConfigBuilders for Monolog
  email.rst
  logging.rst
  logging/channels_handlers.rst
  logging/formatter.rst
  logging/handlers.rst
  logging/monolog_console.rst
  logging/monolog_email.rst
  logging/monolog_exclude_http_codes.rst
  logging/monolog_regex_based_excludes.rst
  logging/processors.rst
Labels: Logger, Status: Reviewed

#15285 Update docs-builder to version 0.15
  .github/workflows/ci.yaml
  _build/composer.json
  _build/composer.lock
Labels: Status: Reviewed

#15287 [Testing] fix 'eachother' -> 'each other'
  testing.rst
Labels: Status: Needs Review, Testing

#15289 [EventDispatcher] Minor fixes
  components/event_dispatcher/generic_event.rst
  event_dispatcher/before_after_filters.rst
  event_dispatcher/method_behavior.rst
Labels: EventDispatcher, Status: Reviewed

#15286 [Security] Fixes typo in experimental authenticators
  security/experimental_authenticators.rst
Labels: Security, Status: Needs Review

#15290 [Form] Minor rewording
  reference/forms/types/options/label.rst.inc
Labels: Form, Status: Reviewed

#15296 [Serializer] match example with description above
  components/serializer.rst
Labels: Serializer, Status: Reviewed

#15279 [Security] Removed some deprecated features related to User::getUsername()
  controller/argument_value_resolver.rst
  reference/configuration/security.rst
  routing.rst
  security/custom_authentication_provider.rst
  security/experimental_authenticators.rst
  security/guard_authentication.rst
  security/json_login_setup.rst
  security/login_link.rst
  security/user_provider.rst
Labels: Security, Status: Needs Review

#15300 [Config] Added caution notice about nested bundle configs
  configuration.rst
Labels: Config, Status: Reviewed

#15269 [ConfigBuilder] Replace all framework config
  bundles/configuration.rst
  cache.rst
  configuration/env_var_processors.rst
  configuration/micro_kernel_trait.rst
  configuration/override_dir_structure.rst
  configuration/secrets.rst
  controller/error_pages.rst
  deployment/proxies.rst
  frontend/custom_version_strategy.rst
  http_cache/esi.rst
  http_cache/ssi.rst
  http_client.rst
  lock.rst
  mailer.rst
  messenger.rst
  messenger/custom-transport.rst
  messenger/multiple_buses.rst
  notifier.rst
  rate_limiter.rst
  reference/configuration/framework.rst
  security.rst
  security/csrf.rst
  security/remember_me.rst
  session/database.rst
  session/php_bridge.rst
  session/proxy_examples.rst
  templating/hinclude.rst
  testing/profiling.rst
  translation.rst
  translation/locale.rst
  validation.rst
  workflow.rst
  workflow/dumping-workflows.rst
  workflow/workflow-and-state-machine.rst
Labels: Status: Reviewed
