Repository symfony/symfony-docs, pull requests merged in 2022-08, with the labels that each got.

#17083 6.2 setup documentation
  setup.rst
Labels: Status: Reviewed

#17084 fix the target branch for new features
  contributing/code/pull_requests.rst
Labels: Status: Needs Review

#17063 [Form] Remove `:end-before:`, `:start-after:` as it's not used anymore
  reference/forms/types/options/choice_translation_domain.rst.inc
  reference/forms/types/options/choice_translation_domain_disabled.rst.inc
  reference/forms/types/options/choice_translation_domain_enabled.rst.inc
Labels: Form, Status: Reviewed

#17093 [Form] Fix typo `choice_translation_domain` option
  reference/forms/types/options/choice_translation_domain.rst.inc
  reference/forms/types/options/choice_translation_domain_disabled.rst.inc
  reference/forms/types/options/choice_translation_domain_enabled.rst.inc
Labels: Form, Status: Reviewed

#17076 Update upgrade_major.rst
  setup/upgrade_major.rst
Labels: Status: Reviewed

#17088 [Intl] Document the emoji transliterator
  components/intl.rst
  components/string.rst
Labels: Status: Reviewed, Intl

#17099 [Mailer] Remove reference of Swift Mailer
  controller/soap_web_service.rst
Labels: Status: Reviewed, Mailer

#17102 Enable code blocks
  .github/workflows/ci.yaml
  _build/composer.json
  security.rst
Labels: Status: Needs Review

#17100 [Mailer] Document the stop() method of SmtpTransport
  mailer.rst
Labels: Status: Reviewed, Mailer

#17090 [Doctrine] show attributes for make:entity in association docs
  doctrine/associations.rst
Labels: Doctrine, Status: Reviewed

#17097 [Lock] Add reference tip for the InMemoryStore lock
  components/lock.rst
Labels: Status: Reviewed, Lock

#17089 [Ldap][Security] Deprecate {username} in favor of {user_identifier}
  reference/configuration/security.rst
  security/ldap.rst
Labels: Security, Ldap, Status: Needs Review

#16012 [Routing] Add ignoreAttributes to the documentation
  routing.rst
Labels: Routing, Status: Reviewed

#16074 [Routing] Document the new alias feature
  routing.rst
Labels: Routing, Status: Reviewed

#17103 [Messenger] Update documentation of messenger:failed:show
  messenger.rst
Labels: Status: Needs Review, Messenger

#17107 [QuickTour] improve Symfony v6.1 requires PHP v8.1+
  quick_tour/flex_recipes.rst
  quick_tour/the_architecture.rst
  quick_tour/the_big_picture.rst
Labels: Status: Reviewed

#17110 [Console] Fix Cmder link
  console/coloring.rst
Labels: Console, Status: Needs Review

#17109 [Workflow] Sync workflow images with provided configuration on docs
  _images/components/workflow/blogpost.png
  _images/components/workflow/blogpost_mermaid.png
  _images/components/workflow/blogpost_puml.png
Labels: Status: Reviewed, Workflow

#17105 [DependencyInjection] Document proxifying interfaces for lazy services
  service_container/lazy_services.rst
Labels: DependencyInjection, Status: Needs Review

#17101 [Serializer] Document support of PHP backed enumerations
  components/serializer.rst
  serializer.rst
Labels: Status: Reviewed, Serializer

#17121 Fix CI by reverting #17020
  .github/workflows/ci.yaml
Labels: Status: Reviewed

#17114 [Security] Document the lifetime per link
  security/login_link.rst
Labels: Security, Status: Reviewed

#17117 [Security] Document the #[IsGranted()] attribute
  security.rst
Labels: Security, Status: Reviewed

#17123 [Filesystem] Fix check path methods
  components/filesystem.rst
Labels: Status: Reviewed, Filesystem

#17119 [Filesystem] Add type hints readlink()
  components/filesystem.rst
Labels: Status: Reviewed, Filesystem

#17091 [HttpKernel] Add return type for handle method
  components/http_kernel.rst
Labels: Status: Reviewed, HttpKernel

#17096 [ErrorHandler] Add return type hints
  controller/error_pages.rst
Labels: Status: Reviewed, ErrorHandler

#17129 [Intl] Add Scripts & Languages links
  components/intl.rst
Labels: Status: Reviewed, Intl

#16977 [Serializer] fix(serializer): missing empty_array_as_object in example
  serializer.rst
Labels: Status: Reviewed, Serializer

#16990 [Security] Update custom_authenticator
  security/custom_authenticator.rst
Labels: Security, Status: Reviewed

#15467 [Mailer] Recommending "strict" mode for users of Symfony Mailer
  reference/constraints/Email.rst
Labels: Status: Reviewed, Mailer

#15504 [Mailer] Update section setting headers globally
  mailer.rst
Labels: Status: Reviewed, Mailer

#15870 [Stopwatch] Documenting the __root__ section
  performance.rst
Labels: Status: Reviewed, Stopwatch

#15511 [DependencyInjection] Minor - add note that file_put_contents is non-atomic
  components/dependency_injection/compilation.rst
Labels: DependencyInjection, Status: Reviewed

#16284 [Form] Additional hints when rendering the same form in different templates
  forms.rst
Labels: Form, Status: Reviewed

#17130 [6.1] don't mention PHP 7
  routing.rst
Labels: Status: Needs Review

#16992 Ensure config blocks are consistent
  bundles/best_practices.rst
  bundles/configuration.rst
  bundles/override.rst
  bundles/prepend_extension.rst
  cache.rst
  components/dependency_injection.rst
  components/dependency_injection/_imports-parameters-note.rst.inc
  components/dependency_injection/compilation.rst
  components/http_foundation/session_configuration.rst
  components/serializer.rst
  components/var_dumper.rst
Labels: Status: Reviewed

#17131 [Finder] Add case insensitive sort
  components/finder.rst
Labels: Status: Reviewed, Finder

#15224 [BrowserKit] Tip how to use HttpClient options in BrowserKit requests
  components/browser_kit.rst
Labels: Status: Reviewed, BrowserKit

#16555 [Security] Update firewall_restriction.rst
  security/firewall_restriction.rst
Labels: Security, Status: Needs Review

#16512 [Workflow] Workflow - Add a note about guards events and ability to save some CPU
  workflow.rst
Labels: Status: Reviewed, Workflow

#16883 [Filesystem] filesystem > readlink: remove function declaration
  components/filesystem.rst
Labels: Status: Reviewed, Filesystem

#16800 [Mailer] `max_per_second` option configurable via DSN
  mailer.rst
Labels: Status: Reviewed, Mailer

#16813 [FrameworkBundle][HttpKernel] Document `collect_parameter`
  reference/configuration/framework.rst
Labels: Status: Reviewed, HttpKernel, FrameworkBundle

#16789 [Validator] Doctrine annotations is not required anymore for validator
  validation.rst
Labels: Validator, Status: Reviewed

#16966 Replace annotations by attributes in Serializer and Controller
  components/property_info.rst
  controller.rst
  reference/configuration/framework.rst
  serializer.rst
Labels: Status: Needs Review, Waiting feedback

#17124 [Validator] Add hint for testing custom constraints
  validation.rst
Labels: Validator, Status: Needs Review

#17120 [Filesystem] Add more information about dumpFile
  components/filesystem.rst
Labels: Status: Reviewed, Filesystem

#16949 [BrowserKit] Add response management to BrowserKit documentation (without toArray)
  components/browser_kit.rst
Labels: Status: Reviewed, BrowserKit

#16950 [BrowserKit] Add response management to BrowserKit documentation (with toArray)
  components/browser_kit.rst
Labels: Status: Reviewed, BrowserKit

#17030 [EventDispatcher] Document the #AsEventListener attribute
  components/event_dispatcher.rst
Labels: EventDispatcher, Status: Needs Review

#17140 [Security] Minor: Deleting link
  security/custom_authenticator.rst
Labels: Security, Status: Reviewed

#17128 add alternative method to force version with symfony/flex
  bundles/best_practices.rst
Labels: Status: Reviewed

#17142 Replace Route annotations with attributes, remove Route annotation configuration block
  configuration/micro_kernel_trait.rst
  controller/service.rst
  controller/soap_web_service.rst
  controller/upload_file.rst
  lock.rst
  notifier/chatters.rst
  notifier/texters.rst
  page_creation.rst
  quick_tour/flex_recipes.rst
  quick_tour/the_architecture.rst
  quick_tour/the_big_picture.rst
  reference/forms/types/datetime.rst
  routing.rst
  routing/custom_route_loader.rst
  security.rst
  security/login_link.rst
  security/voters.rst
  service_container.rst
  service_container/autowiring.rst
  templates.rst
  translation/locale.rst
Labels: Status: Needs Review

#17144 [Contributing] Update the footnotes of the BC article
  contributing/code/bc.rst
Labels: Status: Reviewed

#17155 Replace ORM annotations with attributes, remove ORM annotation configuration block
  components/uid.rst
  controller/upload_file.rst
  doctrine.rst
  doctrine/associations.rst
  doctrine/events.rst
  doctrine/resolve_target_entity.rst
  form/form_collections.rst
  quick_tour/flex_recipes.rst
  reference/constraints/Traverse.rst
  reference/constraints/UniqueEntity.rst
  security.rst
Labels: Status: Reviewed

#17150 [Intl] Add link refs for classes
  components/intl.rst
Labels: Status: Reviewed, Intl

#17151 [Serializer] Add return hint
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#17147 [Mailer] Document the mailer:test command
  mailer.rst
Labels: Status: Needs Review, Mailer

#17152 Adding comment about route name
  security.rst
Labels: Status: Needs Review

#17148 [Security] Document the usage of expressions in IsGranted() attribute
  security/expressions.rst
Labels: Security, Status: Needs Review

#17157 Update argument_value_resolver.rst
  controller/argument_value_resolver.rst
Labels: Status: Reviewed

#17146 [Console] Mention the support of 256-color terminals
  console/coloring.rst
Labels: Console, Status: Needs Review

#16866 Add `NAME` const for UID types
  components/uid.rst
Labels: Status: Reviewed, DoctrineBridge

#16864 [FrameworkBundle] Document the `framework.profiler.collect_serializer_data` option
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#16781 [Messenger] amqp no autocreate queues
  messenger.rst
Labels: Status: Reviewed, Messenger

#16744 [Mailer] Add event subscriber example to mailer documentation
  mailer.rst
Labels: Status: Reviewed, Mailer

#17169 Adding missing `use`
  security/custom_authenticator.rst
Labels: Status: Reviewed

#17158 Typo fix
  best_practices.rst
Labels: Status: Reviewed

#17180 Adding note box about valid values for "interval"
  security.rst
Labels: Status: Reviewed

#17171 Adding type hint
  security/custom_authenticator.rst
Labels: Status: Needs Review

#17172 [Console] add SignalableCommandInterface link
  components/console/events.rst
Labels: Console, Status: Reviewed

#17175 [Console] Add return for execute()
  components/console/helpers/table.rst
Labels: Console, Status: Reviewed

#17176 [Console] Add return for execute()
  components/console/helpers/questionhelper.rst
Labels: Console, Status: Reviewed

#17177 Deleting duplicate "default"
  security.rst
Labels: Status: Needs Review

#17173 Adding info about login throttling
  rate_limiter.rst
  security.rst
  security/custom_authenticator.rst
Labels: Status: Reviewed

#17168 [Routing] add missing actions return hints
  routing.rst
Labels: Routing, Status: Needs Review

#17182 [4.4] fix code sample to log out
  security/form_login.rst
Labels: Status: Reviewed

#17184 Minor
  deployment.rst
Labels: Status: Needs Review

#17165 [Lock] Specify default ttl
  components/lock.rst
Labels: Status: Reviewed, Lock

#17183 [Validation] Add getGroupSequence return hint
  validation/sequence_provider.rst
Labels: Status: Reviewed

#17186 [Cache] Add return hint
  http_cache.rst
Labels: Cache, Status: Needs Review

#17187 [Cache] Add return hint
  http_cache/cache_invalidation.rst
Labels: Cache, Status: Needs Review

#17188 [Cache] Add use Response & return hint
  http_cache/validation.rst
Labels: Cache, Status: Needs Review

#17205 Update questionhelper.rst
  components/console/helpers/questionhelper.rst
Labels: Status: Reviewed

#17189 [Cache] Add return hint
  http_cache/esi.rst
Labels: Cache, Status: Needs Review

#17190 "Creating Pages" not responsive
  page_creation.rst
Labels: Status: Needs Review

#17197 [DependecyInjection] Added Uses & hints
  service_container.rst
Labels: Status: Needs Review

#17210 [Security] update Voter return type
  security/voters.rst
Labels: Security, Status: Needs Review

#17198 Typo in the Route attribute definition
  routing.rst
Labels: Status: Reviewed

#17199 Fix dependency injection PHP sample code
  components/dependency_injection.rst
Labels: Status: Reviewed

#17192 [Workflow] Remove doc about Registry and tell about tags
  workflow.rst
Labels: Status: Reviewed, Workflow

#17209 Clarify which branch should be chosen for a patch
  contributing/code/pull_requests.rst
Labels: Status: Reviewed

#17178 Shortening code block for PHP
  security.rst
Labels: Status: Reviewed

#17086 [Console] Mention that autocompletion is also available for Zsh shell
  console.rst
  page_creation.rst
Labels: Console, Status: Needs Review

#17219 add missing attributes code block
  reference/constraints/Collection.rst
Labels: Status: Reviewed

#16985 Adding that you cannot access a session inside a constructor
  session.rst
Labels: Status: Needs Review

#17236 [Form] Add doc link
  reference/forms/types/map.rst.inc
Labels: Form, Status: Reviewed

#17235 Fix type in alert comment about accessing session in constructor
  session.rst
Labels: Status: Reviewed

#17222 [PHPUnitBridge]  add hrtime() to the list of mocked PHP functions
  components/phpunit_bridge.rst
Labels: Status: Reviewed, PHPUnitBridge

#17231 [Notifier] Add Chatwork Notifier Bridge
  notifier.rst
Labels: Status: Reviewed, Notifier

#17233 docs: fix links to phpunit docs
  best_practices.rst
  create_framework/unit_testing.rst
  form/unit_testing.rst
  testing.rst
Labels: Status: Reviewed

#17240 [Form] Fix typos in the Dynamic Form Modification document
  form/dynamic_form_modification.rst
Labels: Form, Status: Needs Review

#17239 [Form] Fix Bootstrap 5 section indentation
  form/bootstrap5.rst
Labels: Form, Status: Needs Review

#17238 Proper line numbers for a Basic Controller example
  controller.rst
Labels: Status: Reviewed

#17241 [Frontend] Adding ux-vue to UX library list
  frontend/_ux-libraries.rst.inc
Labels: front-end, Status: Needs Review

#17213 [Logger] declare missing foo_bar logger
  logging/channels_handlers.rst
Labels: Logger, Status: Reviewed

#17226 [Security] Added documentation for IS_AUTHENTICATED
  security.rst
Labels: Security, Status: Reviewed
