Repository symfony/symfony-docs, pull requests merged in 2022-05, with the labels that each got.

#16764 Remove undefined refs
  contributing/code/standards.rst
  frontend/encore/simple-example.rst
  reference/forms/types/map.rst.inc
Labels: Status: Needs Review

#16765 Bump deps of the builder
  .github/workflows/ci.yaml
  _build/build.php
  _build/composer.lock
  testing.rst
Labels: Status: Needs Review

#16766 Fix build errors
  form/form_collections.rst
  form/form_customization.rst
Labels: Status: Needs Review

#16516 Add documentation for using expressions as service factories
  service_container/expression_language.rst
Labels: Status: Reviewed

#16411 [Messenger] Add sessionToken option to SQS transport
  messenger.rst
Labels: Status: Needs Review, Messenger

#16629 [DependencyInjection][HttpKernel] document `Autowire` attribute
  controller.rst
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed, HttpKernel

#16713 [Validator] Add the fields option to the Unique constraint
  reference/constraints/Unique.rst
Labels: Validator, Status: Needs Review

#16724 [Console] Document completion changes for 6.1
  console.rst
  console/input.rst
  page_creation.rst
Labels: Console, Status: Needs Review

#16747 [Routing] Add params variable to condition expression
  routing.rst
Labels: Routing, Status: Reviewed

#16771 [Validator] Fix typo in the Unique constraint
  reference/constraints/Unique.rst
Labels: Validator, Status: Reviewed

#15880 [HttpClient] Update http client testing section
  http_client.rst
Labels: Status: Reviewed, HttpClient

#16769 [Twig] Update twig_extension.rst
  templating/twig_extension.rst
Labels: Status: Reviewed, Twig

#16780 Removing references to flex.symfony.com
  page_creation.rst
  quick_tour/flex_recipes.rst
Labels: Status: Reviewed

#16779 [DependencyInjection] adjust `Autowire` attribute docs
  controller.rst
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#16767 [Semaphore] Add documentation about semaphore configuration
  reference/configuration/framework.rst
Labels: Status: Reviewed, Semaphore

#16762 [Messenger] fix xml block
  messenger.rst
Labels: Status: Reviewed, Messenger

#16774 [Messenger] AsMessageHandler can be used on class methods
  messenger.rst
Labels: Status: Reviewed, Messenger

#16775 [Routing] Allow using services in the route condition
  routing.rst
Labels: Routing, Status: Reviewed

#16776 [Notifier] Add docs for FlashMessageImportanceMapper
  notifier.rst
Labels: Status: Reviewed, Notifier

#16782 [Serializer] Document support of canners
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#16784 [TwigBundle] Deprecate autoescape option
  reference/configuration/twig.rst
  templates.rst
Labels: Status: Reviewed

#16794 [Security] Remove enable authenticator manager from 6.0 docs
  security.rst
  security/custom_authenticator.rst
  security/entry_point.rst
  security/login_link.rst
Labels: Security, Status: Reviewed

#16793 [Doctrine] Update doctrine.rst
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#16798 [Notifier] [OVHCloud] make new option visible in the doc
  notifier.rst
Labels: Status: Reviewed, Notifier

#16802 Update the list of members of the CARE Team
  contributing/code_of_conduct/care_team.rst
Labels: Status: Needs Review

#16796 [Security] Creating a route for logout is always required even if the default value is used
  reference/configuration/security.rst
Labels: Security, Status: Reviewed

#16778 [Form] Fix an inversion between object and class
  form/embedded.rst
Labels: Form, Status: Reviewed

#16808 [Bundles] [Bundle] Fix code example about prepend config
  bundles/prepend_extension.rst
Labels: Status: Reviewed, Bundles

#16814 Tiny language fix in messenger.rst
  messenger.rst
Labels: Status: Reviewed

#16792 [Doctrine] Added naming_strategy option to doctrine config reference
  reference/configuration/doctrine.rst
Labels: Doctrine, Status: Reviewed

#16815 [Frontend] Add a note about stimulusFetch & TypeScript config
  frontend/encore/simple-example.rst
  frontend/ux.rst
Labels: Status: Reviewed

#16725 [Standards] Add constructor property promotion
  contributing/code/standards.rst
Labels: Status: Needs Review

#16366 [Messenger] document SerializedMessageStamp
  messenger.rst
Labels: Status: Reviewed, Messenger

#16817 [Console] Table vertical rendering usage
  components/console/helpers/table.rst
Labels: Console, Status: Reviewed

#16739 Provide note about php internals and lazy services
  service_container/lazy_services.rst
Labels: Status: Reviewed

#16822 [Lock] Fix example code block for lock component
  components/lock.rst
Labels: Status: Reviewed, Lock

#16728 [Routing] Fix path/example content of error route files
  controller/error_pages.rst
Labels: Routing, Status: Reviewed

#16749 [Messenger] Fix typo in amqp option name user -> login
  messenger.rst
Labels: Status: Reviewed, Messenger

#16821 [Console] Clarify VALUE_IS_ARRAY usage
  console/input.rst
Labels: Console, Status: Reviewed

#16770 [Validator] Showcase custom validator constraint required option
  validation/custom_constraint.rst
Labels: Validator, Status: Reviewed

#16801 [DI] Documenting Abstract Bundle and Extension
  bundles.rst
  bundles/configuration.rst
  bundles/extension.rst
  bundles/override.rst
  bundles/prepend_extension.rst
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed

#16833 [Encore] Changing dev-server to use the new server option
  frontend/encore/dev-server.rst
Labels: Status: Reviewed, Encore
