Repository symfony/symfony-docs, pull requests merged in 2022-09, with the labels that each got.

#17164 [Lock] Add classes's link
  components/lock.rst
Labels: Status: Reviewed, Lock

#17244 Method getCharset with proper returning type
  reference/configuration/kernel.rst
Labels: Status: Reviewed

#17200 Inappropriate usage of Parameter Conversion
  routing.rst
Labels: bug, Status: Reviewed

#17247 [Config] Remove obsolete warning about INI files
  components/config/resources.rst
Labels: Config, Status: Reviewed

#16902 Changing `monolog.logger` to `logger`
  service_container.rst
Labels: Status: Needs Review

#13597 Messenger process managers
  messenger.rst
Labels: Status: Needs Review, help wanted

#17246 GitHub Workflows security hardening
  .github/workflows/ci.yaml
Labels: Status: Needs Review

#17264 [Form] Fixing path
  form/form_themes.rst
Labels: Form, Status: Reviewed

#17263 [Form] Removing heading
  form/form_collections.rst
Labels: Form, Status: Reviewed

#17234 [Cache] fixes #16310 unclear alternate Redis DSN format
  components/cache/adapters/redis_adapter.rst
Labels: Status: Reviewed, Cache

#17272 [EventDispatcher] Fix typo in reference events
  reference/events.rst
Labels: EventDispatcher, Status: Needs Review

#17221 [Testing] Add link request method & add type hint
  testing.rst
Labels: Testing, Status: Reviewed

#17245 [Validator] Tweak validator configuration for attributes/annotations
  components/validator/resources.rst
Labels: Validator, Status: Reviewed

#17278 [Form] Fix a minor syntax issue
  reference/forms/types/options/label.rst.inc
Labels: Form, Status: Reviewed

#17275 [Twig] Document the new methods of AppVariable
  templates.rst
Labels: Status: Reviewed, Twig, TwigBridge

#17279 [Routing] Improve current route block
  routing.rst
Labels: Routing, Status: Reviewed

#17274 [Security] Add docs covering the `ChainUserChecker`
  security/user_checkers.rst
Labels: Security, Status: Reviewed

#17271 [Console] Create consistent console screenshots/recordings
  _images/components/console/completion.gif
  _images/components/console/cursor.gif
  _images/components/console/debug_formatter.png
  _images/components/console/process-helper-debug.png
  _images/components/console/process-helper-error-debug.png
  _images/components/console/process-helper-verbose.png
  _images/components/console/progress.png
  _images/components/console/progressbar.gif
  _images/sources/README.md
  _images/sources/ascii-render.sh
  _images/sources/components/console/completion.cast
  _images/sources/components/console/cursor.cast
  _images/sources/components/console/progress.cast
  components/console/helpers/debug_formatter.rst
Labels: Console, Status: Reviewed

#17224 [Console] Remove $defaultName
  console.rst
Labels: Console, Status: Reviewed

#17024 [Security] Allow configuring a target url when switching user
  security/impersonating_user.rst
Labels: Security, Status: Reviewed

#17181 [Mailer] add new events
  mailer.rst
Labels: Status: Reviewed, Mailer

#17283 [HttpKernel] Document `ControllerEvent::getAttributes()`
  components/http_kernel.rst
Labels: Status: Reviewed, HttpKernel

#17211 [DependencyInjection] Add docs for `SubscribedService::$attributes`
  service_container/service_subscribers_locators.rst
Labels: DependencyInjection, Status: Reviewed

#16403 Frontend Encore document passing data via serialize twig filter
  frontend/encore/server-data.rst
Labels: Status: Reviewed

#16476 [Console] Add note about URL cutting of default output wrapper
  console/style.rst
Labels: Console, Status: Needs Review

#16364 [Form] Explaining how to inject the form factory
  components/form.rst
Labels: Form, Status: Reviewed

#16338 [DependencyInjection] Update autowiring.rst
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#16383 Note that env vars are not always compatible with options
  configuration.rst
Labels: Status: Needs Review

#16071 [Security] Added a note regarding the loginUser() method
  testing.rst
Labels: Security, Status: Reviewed

#16207 Add information about strict_mode for encore
  frontend/encore/faq.rst
Labels: front-end, Status: Needs Review

#17159 [Translation] Fix path to bundle translations
  translation.rst
Labels: Status: Reviewed, Translation

#17202 [Mailer] Update example to use Address format
  mailer.rst
Labels: Status: Reviewed, Mailer

#17298 [DependencyInjection] Fix docs referencing an incorrect PHP function
  service_container/service_subscribers_locators.rst
Labels: DependencyInjection, Status: Needs Review

#17287 Replace switch statement with match expression
  bundles/prepend_extension.rst
  form/type_guesser.rst
  security/voters.rst
Labels: Status: Reviewed

#17297 [Testing] Fix typo
  testing.rst
Labels: Testing, Status: Needs Review

#17293 Trying to add quotation markup
  form/form_collections.rst
Labels: Status: Reviewed

#17300 Fix use statement in sample code
  bundles/extension.rst
Labels: Status: Reviewed

#17286 Remove reference to a removed configuration key
  reference/configuration/framework.rst
Labels: Status: Reviewed

#17285 [Workflow] fix image labels
  _images/components/workflow/states_transitions.png
Labels: Status: Reviewed, Workflow

#17302 [Mailer] remove display names from envelope headers
  mailer.rst
Labels: Status: Reviewed, Mailer

#17304 Improve the diff highlighting for custom webpack plugins
  frontend/encore/custom-loaders-plugins.rst
Labels: front-end, Status: Needs Review

#17296 [DependencyInjection] Add a section for testing service subscribers
  service_container/service_subscribers_locators.rst
Labels: DependencyInjection, Status: Reviewed

#17277 Promoting encore restart note
  frontend/encore/simple-example.rst
Labels: Status: Reviewed, front-end
