Repository symfony/symfony-docs, pull requests merged in 2022-03, with the labels that each got.

#16556 Remove reference to obsolete Psr7ServerRequestResolver
  controller/argument_value_resolver.rst
Labels: Status: Reviewed

#16554 Fix the local doc build
  README.markdown
  _build/build.php
Labels: Status: Needs Review

#16568 [Testing] Update testing.rst
  testing.rst
Labels: Testing, Status: Reviewed

#16558 [FrameworkBundle] Change exceptions title level
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#16569 [DependencyInjection] docs : update autowiring.rst
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#16563 [Testing] Update testing.rst
  testing.rst
Labels: Testing, Status: Needs Review

#16574 Update profiler.rst
  profiler.rst
Labels: Status: Needs Review

#16510 [Config] improve .env doc
  configuration.rst
Labels: Config, Status: Reviewed

#16577 [Filesystem] Update filesystem.rst so backslash is displayed
  components/filesystem.rst
Labels: Status: Reviewed, Filesystem

#16584 [Security] Typo
  security/voters.rst
Labels: Security, Status: Reviewed

#16585 [Mailer] Update mailer.rst
  mailer.rst
Labels: Status: Needs Review, Mailer

#16587 [Form] Fixing link
  reference/forms/types/enum.rst
Labels: Form, Status: Reviewed

#16576 [Security] Update security.rst
  reference/configuration/security.rst
Labels: Security, Status: Needs Review

#16518 [DependencyInjection] Add documentation for the env DI expression function
  service_container/expression_language.rst
Labels: DependencyInjection, Status: Reviewed

#16500 [Form] Update choice_loader.rst.inc
  reference/forms/types/options/choice_loader.rst.inc
Labels: Form, Status: Reviewed, help wanted

#16503 [DependencyInjection] Update event_dispatcher.rst
  components/event_dispatcher.rst
Labels: DependencyInjection, Status: Reviewed

#16586 [DependencyInjection] Update configurators.rst
  service_container/configurators.rst
Labels: DependencyInjection, Status: Reviewed

#16478 [Session] Update session.rst v4.4
  session.rst
Labels: Status: Reviewed, Session

#16479 [Session] Update session.rst v5.4/6
  session.rst
Labels: Status: Reviewed, Session

#16592 Fix Symfony installation commands for 6.1 version
  setup.rst
Labels: Status: Reviewed

#16593 [ExpressionLanguage] Add support for new number syntax
  components/expression_language/syntax.rst
Labels: ExpressionLanguage, Status: Needs Review, Feature

#16595 [Validator] Typo
  reference/constraints/All.rst
Labels: Validator, Status: Reviewed

#16597 Add quotations marks
  doctrine/reverse_engineering.rst
Labels: Status: Reviewed

#16599 [Form] Update create_form_type_extension.rst
  form/create_form_type_extension.rst
Labels: Form, Status: Reviewed

#16596 [DependencyInjection] Update service_container.rst
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#16627 Update CI to php 8.1
  .github/workflows/ci.yaml
Labels: Status: Reviewed

#16626 [Testing] use the PHPUnit bridge to run tests
  testing.rst
Labels: Testing, Status: Reviewed

#16631 [Form] Fix typo
  form/unit_testing.rst
Labels: Form, Status: Needs Review

#16618 [Security] Add note about AccessDeniedException being thrown
  controller/argument_value_resolver.rst
Labels: Security, Status: Reviewed

#16616 Add hint how to debug argument resolver order
  controller/argument_value_resolver.rst
Labels: Status: Reviewed

#16617 [Security] Add hint about #[CurrentUser] to the argument_value_resolver page
  controller/argument_value_resolver.rst
Labels: Security, Status: Reviewed

#16379 [Security] Add deprecation information for is_anonymous
  security/expressions.rst
Labels: Security, Status: Reviewed

#16455 [Security] Update access_control.rst
  security/access_control.rst
Labels: Security, Status: Reviewed

#16355 [Messenger] Fix check_delayed_interval option in messenger doctrine psqltransport
  messenger.rst
Labels: Status: Reviewed, Messenger

#16344 Update Doc of csrf_protection configuration in framework level
  reference/configuration/framework.rst
Labels: Status: Reviewed

#16605 [Security] Fix wrong anchor
  security.rst
Labels: Security, Status: Reviewed

#15800 Add a note on "--no-plugins" Composer option effects on runtime component
  components/runtime.rst
Labels: Status: Needs Review

#16640 Update uid.rst
  components/uid.rst
Labels: Status: Reviewed

#16633 [Mime] Allow to embed images as CSS backgrounds
  mailer.rst
Labels: Status: Needs Review, Mime

#16646 [Routing] Add the 'attribute' value in routing annotation loaders
  configuration/micro_kernel_trait.rst
  routing/custom_route_loader.rst
Labels: Routing, Status: Needs Review

#16608 [Messenger] Reference the internal ErrorDetailsStamp
  components/messenger.rst
Labels: Status: Reviewed, Messenger

#16452 [Notifier] [Sendberry] add docs
  notifier.rst
Labels: Status: Reviewed, Notifier

#16659 [Security] fix method name in custom_authenticator.rst
  security/custom_authenticator.rst
Labels: Security, Status: Reviewed
