Repository symfony/symfony-docs, pull requests merged in 2022-02, with the labels that each got.

#16459 [4.4][UX] Removing extra links from rebasing
  reference/forms/types/map.rst.inc
Labels: Status: Reviewed

#16463 [UX] Fix link for the package Chart.js for Symfony UX
  frontend/_ux-libraries.rst.inc
Labels: Status: Reviewed, front-end

#16464 Fix Markdown code syntax instead of RST
  frontend/encore/installation.rst
Labels: Status: Reviewed, front-end

#16472 Update Twig links and change symfony/var-dumper package installation command
  components/form.rst
  contributing/documentation/standards.rst
  form/form_customization.rst
  form/form_themes.rst
  reference/configuration/twig.rst
  reference/dic_tags.rst
  reference/twig_reference.rst
  templates.rst
  templating/twig_extension.rst
Labels: Status: Needs Review

#16468 [Mailer] add Amazon SES to list of transports that support metadata
  mailer.rst
Labels: Status: Reviewed, Mailer

#16465 [Messenger] Correct PHP Code block for messenger resetOnMessage
  messenger.rst
Labels: Status: Reviewed, Messenger

#16462 Update some code
  configuration/override_dir_structure.rst
Labels: Status: Reviewed

#16458 [DependencyInjection] Fix YAML example in "Defining a Service Locator" section
  service_container/service_subscribers_locators.rst
Labels: DependencyInjection, Status: Reviewed

#16475 Improve the local server proxy troubleshooting section
  setup/symfony_server.rst
Labels: Status: Needs Review

#16482 [Uid] Sync generated values docs for: UUIDs and ULIDs
  components/uid.rst
Labels: Status: Needs Review, Uid

#16333 [Console] Document AsCommand attribute
  console.rst
Labels: Console, Status: Reviewed

#16450 [Doctrine] Update doctrine.rst
  doctrine.rst
Labels: Doctrine, Status: Needs Review

#16494 Fix: Remove space
  messenger.rst
Labels: Status: Reviewed

#16488 [Console] Use AsCommand attribute in all commands
  components/console/changing_default_command.rst
  components/console/console_arguments.rst
  components/console/logger.rst
  console.rst
  console/commands_as_services.rst
  console/hide_commands.rst
Labels: Console, Status: Needs Review

#16493 [Cache] document `cache:pool:invalidate-tags` command
  cache.rst
Labels: Status: Reviewed, Cache

#16507 [Translation] Remove reference to PHP Templates in translation
  translation.rst
Labels: Status: Reviewed, Translation

#16506 [Form] Update create_form_type_extension.rst
  form/create_form_type_extension.rst
Labels: Form, Status: Needs Review

#16515 [Doctrine] Recommend a better charset for MySQL
  reference/configuration/doctrine.rst
Labels: Doctrine, Status: Reviewed

#16498 [Uid] Update uid.rst
  components/uid.rst
Labels: Status: Reviewed, Uid

#16526 [Yaml] remove reference to not existing YAML dumper flag
  components/yaml.rst
Labels: Status: Reviewed, Yaml

#16513 [Cache] Use `path` instead of `url` in SSI documentation
  http_cache/ssi.rst
Labels: Status: Reviewed, Cache

#16522 Encore : firewall replace with allowedHosts
  frontend/encore/virtual-machine.rst
Labels: Status: Reviewed, front-end

#16524 Update _ux-libraries.rst.inc
  frontend/_ux-libraries.rst.inc
Labels: Status: Reviewed, front-end

#16501 [Lock] Fix code example for Doctrine based stores
  components/lock.rst
Labels: Status: Reviewed, Lock

#16529 [Mailer] Update route from annotation to attribute
  mailer.rst
Labels: Status: Reviewed, Mailer

#16531 [Filesystem] Update filesystem.rst
  components/filesystem.rst
Labels: Filesystem, Status: Needs Review

#16532 Remove usage of SymfonyCloud in favor of Platform.sh
  _build/redirection_map
  _build/spelling_word_list.txt
  deployment.rst
  deployment/azure-website.rst
  deployment/fortrabbit.rst
  deployment/heroku.rst
  deployment/platformsh.rst
Labels: Status: Reviewed

#16533 Remove :orphan: as it's not used anymore
  bundles/index.rst
  components/filesystem/lock_handler.rst
Labels: Status: Needs Review

#16537 Document code-style for enums and class constants
  contributing/code/standards.rst
Labels: Status: Reviewed

#16539 [String] Fix doc for String
  components/string.rst
Labels: Status: Reviewed, String

#16550 Update PHP requirements of Symfony 6.1 to 8.1
  setup.rst
Labels: Status: Needs Review
