Repository symfony/symfony-docs, pull requests merged in 2022-04, with the labels that each got.

#16663 [Validator] Improve Image constraint invalid mime type message
  reference/constraints/Image.rst
Labels: Validator, Status: Reviewed

#16664 [Form] Add new prototype_options
  reference/forms/types/collection.rst
Labels: Form, Status: Needs Review

#16680 [HttpFoundation] replace attributes with query
  create_framework/front_controller.rst
  create_framework/http_foundation.rst
Labels: HttpFoundation, Status: Reviewed

#16676 [TwigBundle] Doc for config `twig.file_name_pattern`
  reference/configuration/twig.rst
Labels: Status: Reviewed

#16630 [ExpressionLanguage] Add support for Nullsafe syntax for accessing object's properties and methods
  components/expression_language/syntax.rst
Labels: ExpressionLanguage, Status: Needs Review

#16686 [Serializer] Minor fixes in partial denormalizing
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#16691 [Messenger] Revert " Redis Sentinel support"
  messenger.rst
Labels: Status: Needs Review, Messenger

#16692 [Messenger] Fix: Redis Sentinel support - aligning paramaters with co…
  messenger.rst
Labels: Status: Reviewed, Messenger

#16695 [ExpressionLanguage] Add some more operators
  components/expression_language/syntax.rst
Labels: Status: Reviewed, ExpressionLanguage

#16689 [Messenger] add note how to avoid amqp queues autocreation
  messenger.rst
Labels: Status: Reviewed, Messenger

#16445 [Cache] 45036 add stale while revalidate and stale if error support
  components/http_foundation.rst
Labels: Cache, Status: Needs Review

#16690 [Messenger] Services that need reset must implement ResetInterface
  messenger.rst
Labels: Status: Reviewed, Messenger

#16697 [Pull Requests] Fix Symfony upstream URL as `git://` isn't supported by Github anymore.
  contributing/code/pull_requests.rst
Labels: Status: Reviewed

#16628 Reference latest feature branch
  contributing/code/pull_requests.rst
Labels: Status: Reviewed

#16706 Add documentation about trust_x_sendfile_type_header
  reference/configuration/framework.rst
Labels: Status: Reviewed

#16711 [Config] Add yaml anchors example to share config between environments
  configuration.rst
Labels: Config, Status: Needs Review

#16710 [Workflow] move versionadded directive out of list item
  workflow.rst
Labels: Status: Reviewed, Workflow

#16709 [Workflow] add back information on accessing the context in guard events
  workflow.rst
Labels: Status: Reviewed, Workflow

#16719 Replace duplicate medium configuration
  notifier.rst
Labels: Status: Reviewed

#16732 Tell about COMPOSER_ROOT_VERSION when not working on the default branch
  contributing/code/tests.rst
Labels: Status: Reviewed

#16738 Update git protocol in URL
  contributing/documentation/overview.rst
Labels: Status: Reviewed

#16727 [Translation] document `LocaleSwitcher`
  translation.rst
Labels: Status: Reviewed, Translation

#16700 Fix invalid interface mention in security.rst
  security.rst
Labels: Status: Needs Review

#16723 [Console] Document console completion
  _images/components/console/completion.gif
  console.rst
  console/input.rst
  page_creation.rst
Labels: Console, Status: Reviewed

#16741 [Security] Fix tag attribute in event XML example
  security.rst
Labels: Security, Status: Needs Review

#16742 [Doctrine] Fix fetch method
  doctrine/dbal.rst
Labels: Doctrine, Status: Needs Review

#16733 [Security] Add InteractiveAuthenticatorInterface reference
  security/custom_authenticator.rst
Labels: Security, Status: Reviewed

#16746 [DependencyInjection] Add as decorator and inner service
  service_container/service_decoration.rst
Labels: DependencyInjection, Status: Reviewed

#16693 [Translation] Improve the section about loaders
  .doctor-rst.yaml
  translation.rst
Labels: Status: Needs Review, Translation

#16684 [Validator] Fix of the description of the mime type message option
  reference/constraints/File.rst
  reference/constraints/Image.rst
  reference/constraints/_parameters-mime-types-message-option.rst.inc
Labels: Validator, Status: Reviewed

#16591 [Serializer] Add context builders documentation
  components/serializer.rst
  serializer.rst
  serializer/custom_context_builders.rst
Labels: Status: Reviewed, Serializer

#16753 [Serializer] Skip calling `ContextBuilder::toArray()` when possible
  components/serializer.rst
  serializer.rst
  serializer/custom_context_builders.rst
Labels: Status: Reviewed, Serializer

#16757 [Form] [Forms] rounding default const up to down
  reference/forms/types/options/rounding_mode.rst.inc
Labels: Form, Status: Reviewed

#16752 Use JsonResponse/BinaryFileResponse instead of Response
  controller.rst
Labels: Status: Reviewed

#16726 [Routing] Add information about EnumRequirement
  controller/argument_value_resolver.rst
Labels: Routing, Status: Reviewed

#16606 Document connection_name in Messenger AMQP transport connection
  messenger.rst
Labels: Status: Needs Review
