Repository symfony/symfony-docs, pull requests merged in 2022-10, with the labels that each got.

#17312 Cleanup old versionadded directives
  .doctor-rst.yaml
  reference/configuration/framework.rst
Labels: Status: Needs Review

#17284 [Security] Add documentation for programmatic login
  security.rst
Labels: Security, Status: Needs Review

#17253 Document the `framework.router.cache_dir` setting
  reference/configuration/framework.rst
Labels: Status: Reviewed

#17295 [DependencyInjection] Document `stack` definitions
  service_container/service_decoration.rst
Labels: DependencyInjection, Status: Reviewed

#17323 [Console] Update console.rst
  console.rst
Labels: Console, Status: Reviewed

#17320 [Mailer] Mailer: remove port 99 for requestbin.com
  mailer.rst
Labels: Status: Reviewed, Mailer

#17322 [Messenger] Add new `messenger:stats` command that return a list of transports with their "to be processed" message count.
  messenger.rst
Labels: Status: Reviewed, Messenger

#17315 [Uid] Add documentation for Uuid 7 and 8
  components/uid.rst
  reference/constraints/Uuid.rst
Labels: Status: Reviewed, Uid

#17314 [Testing] Add a section to mock service dependencies
  testing.rst
Labels: Testing, Status: Reviewed

#17305 improve documentation of default_context for the serializer
  reference/configuration/framework.rst
  serializer.rst
Labels: Status: Needs Review

#17325 Fix typo
  components/string.rst
Labels: Status: Reviewed

#17092 [Form] Better explaining what `getParent` actually does
  form/create_custom_field_type.rst
Labels: Form, Status: Reviewed

#17288 [PropertyAccess] Document nullsafe operator usage
  components/property_access.rst
Labels: Status: Reviewed, PropertyAccess

#17276 Adding all rpm commands
  frontend/encore/simple-example.rst
Labels: Status: Reviewed, front-end

#16999 [HttpKernel] Document the `terminate_on_cache_hit` option
  reference/configuration/framework.rst
Labels: Status: Reviewed, HttpKernel

#17327 [Serializer] Fix XML example of ignoring an attribute redux
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#17308 [Security] Removing self-closing slash from `<input>`s
  security.rst
Labels: Security, Status: Reviewed

#17201 [DependencyInjection] Add information about debugging tagged services
  service_container/debug.rst
Labels: DependencyInjection, Status: Reviewed

#17218 Expanding on HTTP compression
  http_client.rst
Labels: Status: Reviewed, HttpClient

#17204 Usage of "Constructor Promotion" for PHP >= 8.0.2
  routing.rst
Labels: Status: Reviewed

#17067 Expanding recommendation for `finishView()`...
  form/create_custom_field_type.rst
Labels: Form, Status: Reviewed

#16720 [Messenger] Add doc for default routing for messages
  messenger.rst
Labels: Status: Reviewed, Messenger

#17330 Add missing space
  quick_tour/flex_recipes.rst
Labels: Status: Reviewed

#16750 Add caution message about reset container on each request
  testing.rst
Labels: Status: Reviewed

#16799 [Security] Correcting bugs for provider and JSON login
  security.rst
Labels: Security, Status: Needs Review

#15186 Adding full subscriber example
  security.rst
Labels: Status: Needs Review

#15428 Fix example code of customization of bootstrapping in test
  testing.rst
  testing/bootstrap.rst
Labels: Status: Needs Review, Waiting feedback

#15524 Example remote `ElasticsearchLogstashHandler`
  logging/handlers.rst
Labels: Status: Needs Review

#17336 [Form] Minor (language) improvements
  forms.rst
Labels: Form, Status: Reviewed

#17333 [IntegerType] fix rounding_mode default value
  reference/forms/types/integer.rst
Labels: Status: Reviewed

#17332 [Messenger] Removing note docblock for `MessageHandlerInterface`
  messenger.rst
Labels: Status: Reviewed, Messenger

#17331 [Messenger] Deprecate `MessageSubscriberInterface`
  messenger.rst
Labels: Status: Reviewed, Messenger

#17344 [Symfony UX] reference Vue component in VueJs page
  frontend/encore/vuejs.rst
Labels: front-end, Status: Needs Review

#17348 [Cache] Reword "max lifetime" to "default lifetime"
  components/cache/adapters/chain_adapter.rst
Labels: Status: Reviewed, Cache

#17343 [Symfony UX] reference React component in React page
  frontend/encore/reactjs.rst
Labels: front-end, Status: Needs Review

#17351 [Form] Improve `ChoiceType` CS
  reference/forms/types/choice.rst
  reference/forms/types/options/choice_attr.rst.inc
Labels: Form, Status: Reviewed

#17352 [Form] Fix `selectedchoice` test link
  reference/forms/types/choice.rst
Labels: Form, Status: Reviewed

#17350 [Messenger] drop the MessageSubscriberInterface in favor of the #AsMessageHandler attribute
  messenger.rst
Labels: Status: Reviewed, Messenger

#17328 docs: add docs for programmatic logout
  security.rst
Labels: Status: Needs Review

#17356 Remove akamai broken link
  web_link.rst
Labels: Status: Needs Review

#17347 [Serializer] Add PropertyNormalizer::NORMALIZE_VISIBILITY documentation
  components/serializer.rst
Labels: Serializer, Status: Needs Review

#17270 Fix the code example leading to an error
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed

#17341 [Console] docs(test): add array example for options with CommandTester
  console.rst
Labels: Console, Status: Reviewed

#17358 Force SimpleBus https url
  components/messenger.rst
Labels: Status: Reviewed

#17359 Change secure.php.net link to php.net
  console.rst
  reference/forms/types/options/date_input_format_description.rst.inc
  reference/forms/types/time.rst
Labels: Status: Reviewed

#17346 [Serializer] Remove note about installing the FrameworkExtraBundle for using annotations
  serializer.rst
Labels: Serializer, Status: Needs Review

#17335 [Validator] Modernize Custom constraints article (finishes #13898)
  validation/custom_constraint.rst
Labels: Validator, Status: Reviewed

#17340 [Mailer] docs: add tip about listener priority to mailer.rst
  mailer.rst
Labels: Status: Needs Review, Mailer

#17136 [RateLimiter] Adding info about clearing cache
  rate_limiter.rst
Labels: Status: Reviewed, RateLimiter

#17368 [PHPUnitBridge] Correct time type return
  components/phpunit_bridge.rst
Labels: PHPUnitBridge, Status: Needs Review

#17363 [Notifier] Fix `notifier.flash_message_importance_mapper` service definition
  notifier.rst
Labels: Status: Reviewed, Notifier

#17371 [Notifier] Update FreeMobile DSN
  notifier.rst
Labels: Status: Reviewed, Notifier

#17345 [Serializer] Allow to provide (de)normalization context in mapping
  components/serializer.rst
  serializer.rst
Labels: Status: Reviewed, Serializer

#17135 [Security] Adding info where login attempts are stored
  rate_limiter.rst
  security.rst
Labels: Security, Status: Reviewed

#17379 [Serializer] Fixup attributes import
  serializer.rst
Labels: Status: Reviewed, Serializer

#17369 [Translation] Add new cases covered by PhpAstExtractor
  translation.rst
Labels: Status: Reviewed, Translation

#17372 [Mailer] Use `addPart` instead of `embed*` or `attach*`.
  mailer.rst
Labels: Status: Reviewed, Mailer

#17383 [Messenger] Add documentation for `allow_no_senders`
  messenger/multiple_buses.rst
Labels: Status: Reviewed, Messenger

#17385 [DependencyInjection] [DependencyInjecion] Mention that service definitions replace previous ones
  service_container.rst
Labels: DependencyInjection, Status: Needs Review

#16845 [Serializer] Update serializer.rst
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#17386 [Security] Fix the SecurityBundle\Security.php helper namespace
  form/dynamic_form_modification.rst
  security.rst
  security/impersonating_user.rst
  security/voters.rst
  session/proxy_examples.rst
Labels: Security, Status: Reviewed

#15872 [Form] Document the `hash_property_path` option
  reference/forms/types/password.rst
Labels: Form, Status: Needs Review

#17360 [Validator] Email - new `allow-no-tld` mode
  reference/constraints/Email.rst
Labels: Validator, Status: Reviewed

#16701 [Notifier] Add from in SmsMessage and support it in bridge transports
  notifier/texters.rst
Labels: Status: Needs Review, Notifier

#15722 [Validator] Add the When constraint and validator docs
  reference/constraints.rst
  reference/constraints/When.rst
Labels: Validator, Status: Needs Review

#17392 [Notifier] Add section for editing telegram messages
  notifier/chatters.rst
Labels: Status: Reviewed, Notifier

#17388 Allow specifying attributes for `RequestMatcher`
  security/access_control.rst
Labels: Status: Reviewed, SecurityBundle

#17299 [Doctrine] Restore tip regarding schema filtering during migrations
  messenger.rst
Labels: Doctrine, Status: Reviewed

#17390 [Mailer] Add docs about Mailer stamps
  mailer.rst
Labels: Status: Reviewed, Mailer

#17399 [Session] Add docs to define redis session handler via php.ini directly
  session/database.rst
Labels: Status: Reviewed, Session

#17294 [Cache] Tip to not reconfigure system cache
  cache.rst
Labels: Status: Reviewed, Cache

#17212 [Routing] Adding full example for a Service in Route Condition
  routing.rst
Labels: Routing, Status: Reviewed

#17398 [DependencyInjection] Show how to get $myService
  service_container/service_subscribers_locators.rst
Labels: DependencyInjection, Status: Needs Review

#16699 [Doctrine] Adding caution box on dependecy injection
  doctrine/custom_dql_functions.rst
Labels: Doctrine, Status: Reviewed

#16639 [DependencyInjection][Framework] `kernel.locale_aware`
  reference/dic_tags.rst
Labels: DependencyInjection, Status: Reviewed

#15823 [Serializer] Documenting the new SKIP_UNINITIALIZED_VALUES option
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#17373 Document the PSR-4 route loader
  routing.rst
  routing/custom_route_loader.rst
Labels: Status: Reviewed

#17384 [Form][Form Choice] customize choice entry
  reference/forms/types/choice.rst
Labels: Form, Status: Needs Review

#16876 [Serializer] Update serializer example using type hints
  components/serializer.rst
Labels: Serializer, Status: Needs Review

#16748 [HttpKernel] Document AsController attribute
  controller/service.rst
Labels: Status: Reviewed, HttpKernel

#16849 [Form] fix EntityType with multiple=true return type
  reference/forms/types/entity.rst
Labels: Form, Status: Reviewed

#16905 [Translation] Fix example of using ICU message directly in code
  translation/message_format.rst
Labels: Status: Reviewed, Translation

#17401 Use correct code-block
  reference/forms/types/choice.rst
Labels: Status: Needs Review

#17400 [Routing] Fix syntax for loading PSR-4 routes from PHP files
  routing/custom_route_loader.rst
Labels: Routing, Status: Reviewed
