Repository symfony/symfony-docs, pull requests merged in 2023-09, with the labels that each got.

#18806 [HttpClient] Add support for pausing responses
  http_client.rst
Labels: Status: Reviewed, HttpClient

#18805 [Messenger] Add `FlattenExceptionNormalizer`
  components/messenger.rst
Labels: Status: Reviewed, Messenger

#18807 [HttpKernel] Auto-register kernel as an extension
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed, HttpKernel

#18808 [Cache] Add integration with Messenger
  cache.rst
  components/cache.rst
Labels: Cache, Status: Needs Review

#18811 [Cache] Fix config key
  cache.rst
Labels: Status: Reviewed, Cache

#18815 Update blackfire free plan explanation
  performance.rst
Labels: Status: Reviewed

#18816 Replace footnote by ref
  frontend.rst
Labels: Status: Reviewed, front-end

#18812 [Workflow] Mention that the initial marking is configured, not set in code
  workflow.rst
Labels: Status: Reviewed, Workflow

#18810 [Cache] Mutate annotation to attribute
  cache.rst
Labels: Status: Reviewed, Cache

#18817 [Mailer] Embedding images support custom cid
  mailer.rst
Labels: Status: Reviewed, Mailer

#18809 [Messenger] Add information about timeout semantics for redis option `timeout`
  messenger.rst
Labels: Status: Reviewed, Messenger

#18813 [DependencyInjection] Add a note about constructor promotion and IDEs errors about attributes
  service_container/autowiring.rst
  service_container/tags.rst
Labels: DependencyInjection, Status: Needs Review

#18803 [Messenger] Added amqproxy note
  messenger.rst
Labels: Status: Needs Review, Messenger

#15586 [Validator] Describe how to create a custom constraint with options
  validation/custom_constraint.rst
Labels: Validator, Status: Reviewed

#18824 [Form] : add a tip for `debug:form` command
  forms.rst
Labels: Form, Status: Reviewed

#18825 [Workflow] Remove `GuardEvent::getContext()` method without replacement
  workflow.rst
Labels: Status: Reviewed, Workflow

#18826 Remove mentions of AnnotationLoader
  _includes/_annotation_loader_tip.rst.inc
  components/validator/resources.rst
  reference/configuration/framework.rst
Labels: Status: Reviewed

#18830 [Frontend] Removing toc tree, which duplicated links
  frontend.rst
Labels: Status: Reviewed, front-end

#18827 [Clock] Add support for `DateMalformedStringException` and `DateInvalidTimeZoneException`
  components/clock.rst
Labels: Status: Reviewed, Clock

#18831 [Frontend] Title & link fixes
  frontend.rst
Labels: Status: Reviewed, front-end

#18833 [Doctrine][Messenger] Document middleware to log when transaction has been left open
  messenger.rst
Labels: Doctrine, Status: Reviewed, Messenger

#18834 Update overview.rst
  contributing/documentation/overview.rst
Labels: Status: Needs Review

#18832 Document session cookie in response
  session.rst
Labels: Status: Reviewed

#18836 [Best Practices] Update directory structure
  bundles/best_practices.rst
Labels: Status: Reviewed

#17931 [FrameworkBundle] update `session` configuration nodes’ documentation
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#18837 [Console] [Command] Helpers uses `stderr` by default
  components/console/helpers/processhelper.rst
  components/console/helpers/progressbar.rst
  components/console/helpers/questionhelper.rst
Labels: Console, Status: Reviewed

#18346 [DependencyInjection] Warns `instanceof` should be called before services registration
  service_container/tags.rst
Labels: DependencyInjection, Status: Reviewed

#18840 [Session] Remove old versionadded
  session.rst
Labels: Status: Reviewed, Session

#18838 Modify method on route logout in security.rst
  security.rst
Labels: Status: Needs Review

#18844 Fix the local doc build
  _build/build.php
Labels: Status: Needs Review

#18846 [Cache] Mention some details about cache.adapter.system
  cache.rst
Labels: Status: Reviewed, Cache

#18843 [Security] Add a comment about PasswordUpgraderInterface
  security.rst
Labels: Security, Status: Reviewed

#18845 [Translation] Update the contents about Doctrine entity translation
  translation.rst
Labels: Status: Needs Review, Translation

#18848 [Mailer][Messenger] Mention that emails are async when using Messenger
  mailer.rst
  messenger.rst
Labels: Status: Reviewed, Messenger, Mailer

#18851 [Messenger] Reword note about Enqueue
  messenger.rst
Labels: Status: Reviewed, Messenger

#18789 [Testing] Create a section dedicated to sending multiple requests in one functional test
  testing.rst
Labels: Testing, Status: Reviewed

#18850 [Config] [Configuration] Emphasize env vars purpose
  configuration.rst
Labels: Config, Status: Reviewed

#18857 [Security] Add RateLimiter requirement command
  security.rst
Labels: Security, Status: Reviewed

#18852 [Messenger] Mention `RedispatchMessage` and `RedispatchMessageHandler`
  messenger.rst
Labels: Status: Reviewed, Messenger

#18856 [AssetMapper] Allow passing a list of packages to importmap:update
  frontend/asset_mapper.rst
Labels: Status: Needs Review, AssetMapper

#18797 [DependencyInjection] routing[https]: fix php configuration
  routing.rst
Labels: DependencyInjection, Status: Reviewed

#18859 Fix title level
  reference/configuration/security.rst
Labels: Status: Reviewed

#18863 [Messenger] Fix import order
  messenger.rst
Labels: Status: Reviewed, Messenger

#18858 Correct dotenv:dump command reference from dump-env
  configuration.rst
Labels: Status: Reviewed

#18869 Update page_creation.rst
  page_creation.rst
Labels: Status: Reviewed

#18873 [Validator] Add a section for custom translation domain
  validation/translations.rst
Labels: Validator, Status: Reviewed

#18867 show how to start symfony server
  page_creation.rst
Labels: Status: Reviewed

#18874 Fix Doctrine's middlewares sorting
  messenger.rst
Labels: Status: Reviewed

#18887 Corrected missing property promotion.
  service_container/autowiring.rst
Labels: DependencyInjection

#18879 [Serializer] Add `#[Context]` support on classes
  serializer.rst
Labels: Serializer

#18880 [FrameworkBundle] Add token attributes in `KernelBrowser::loginUser()`
  testing.rst
Labels: Testing

#18877 [Routing] Improve the explanation of the exclude parameter
  routing.rst
Labels: Routing

#18875 [Webpack Encore] Document addAliases() and addExternals() methods
  frontend/encore/advanced-config.rst
Labels: front-end

#18889 Fix initialization of configurable options for the attribute
  validation/custom_constraint.rst
Labels: Validator

#18755 [Frontend] Create a UX bundle: add requirements for Asset Mapper
  frontend/create_ux_bundle.rst
Labels: Status: Reviewed, front-end

#18872 [Translation] Fix `default-path` XML config
  translation.rst
Labels: Status: Reviewed, Translation

#18890 Prioritize the dump-env Composer command
  configuration.rst
Labels: Config

#18896 Clarify differences between attributes.
  service_container/autowiring.rst
Labels: DependencyInjection

#18899 [Messenger] Remove an unneeded tip about Doctrine migrations and schema_filter
  messenger.rst
Labels: Messenger

#18907 [Translation] Add --as-tree option to translation:pull command
  translation.rst
Labels: Translation

#18897 [ExpressionLanguage] Reword the explanation about external injections
  components/expression_language.rst
Labels: ExpressionLanguage

#18892 [DependencyInjection] Reword the explanation about index_by and default_index_method
  service_container/service_subscribers_locators.rst
  service_container/tags.rst
Labels: DependencyInjection

#18915 Update invalid return custom processor
  logging/processors.rst
Labels: Logger

#18916 [Console] Mention `Terminal`
  console.rst
Labels: Console

#18917 [Console] Mention `Terminal` color mode support
  console.rst
Labels: Console

#18881 [Messenger] Mention the transport factory autoconfiguration
  messenger/custom-transport.rst
Labels: Messenger

#18920 [Messenger] Add support for multiple Redis Sentinel hosts
  messenger.rst
Labels: Messenger

#18922 Fix wrong attribute name
  reference/attributes.rst
Labels: Status: Reviewed

#18927 Fix: external links to PHP docs are broken
  rate_limiter.rst
  security.rst
Labels: Status: Needs Review

#18928 [Security] [Authenticator] Improve the first example
  security/custom_authenticator.rst
Labels: Security, Status: Reviewed

#18932 [Clock] Add `DatePoint`
  components/clock.rst
Labels: Status: Reviewed, Clock
