Repository symfony/symfony-docs, pull requests merged in 2023-07, with the labels that each got.

#18479 Remove deprecated directive
  reference/forms/types/options/model_timezone.rst.inc
Labels: Status: Reviewed

#18474 [Console] Deprecate `$defaultName` and `$defaultDescription`
  console.rst
Labels: Console, Status: Reviewed

#18473 [Console] Remove occurrences of `$defaultName` and `$defaultDescription`
  console.rst
Labels: Console, Status: Reviewed

#18477 [HttpKernel] Remove `ContainerAwareInterface` occurrence
  components/http_kernel.rst
Labels: Status: Reviewed, HttpKernel

#18481 [HttpClient] Add a note about requirement to use URI templates
  http_client.rst
Labels: Status: Reviewed, HttpClient

#18485 Improve return types
  doctrine/associations.rst
  messenger/handler_results.rst
  security/user_providers.rst
  service_container/injection_types.rst
Labels: Status: Reviewed

#18486 [ExpressionLanguage] `in` and `not in` operators are using strict comparison
  reference/formats/expression_language.rst
Labels: Status: Reviewed, ExpressionLanguage, Waiting Code Merge

#18494 [Security] Remove `{username}` occurrence
  security/ldap.rst
Labels: Security, Status: Needs Review

#18493 [Validator] Remove deprecated `ExpressionLanguageSyntax` constraint
  reference/constraints/ExpressionLanguageSyntax.rst
  reference/constraints/ExpressionSyntax.rst
Labels: Validator, Status: Reviewed

#18484 [Routing] Remove annotations from Creating Pages article
  page_creation.rst
  setup.rst
Labels: Routing, Status: Needs Review

#18470 [Profiler] [DataCollector] document `cloneVar` & `profiler_dump`
  profiler.rst
Labels: Profiler, Status: Needs Review

#18253 [Notifier] Add Ntfy bridge
  notifier.rst
Labels: Status: Reviewed, Notifier

#18501 [Encore] Webpack Dev Server & Symfony CLI HTTPS: add note for Node 17+
  frontend/encore/dev-server.rst
Labels: Status: Needs Review, Encore

#18508 [Validator] Update Unique.rst
  reference/constraints/Unique.rst
Labels: Validator, Status: Reviewed

#18496 [FrameworkBundle] Deprecate `terminate_on_cache_hit` option
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#18509 [Form] Remove the deprecated renderForm() shortcut
  forms.rst
Labels: Form, Status: Reviewed

#18498 [HttpKernel] Deprecate all occurrences of ArgumentValueResolverInterface
  components/http_kernel.rst
  reference/dic_tags.rst
Labels: Status: Needs Review, HttpKernel

#18510 [FrameworkBundle] Remove `terminate_on_cache_hit` option
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#18520 [Messenger] Remove remaining deprecations
  messenger.rst
  messenger/multiple_buses.rst
Labels: Status: Reviewed, Messenger

#18519 [Form] Update entity.rst
  reference/forms/types/entity.rst
Labels: Form, Status: Reviewed

#18524 [Lock] Mention `gcProbability` option and deprecation
  components/lock.rst
Labels: Status: Reviewed, Lock

#18503 Fix a diff example in Page Creation article
  page_creation.rst
Labels: Status: Needs Review

#18495 [Frontend] Fix the syntax of the intro table
  frontend.rst
Labels: front-end, Status: Needs Review

#18526 [Lock] Remove deprecated option
  components/lock.rst
Labels: Status: Reviewed, Lock

#18529 Fix CI / Build (symfony-tools/docs-builder) (pull_request)
  components/lock.rst
Labels: Status: Reviewed

#18523 [Serializer] Add method and return types needed by `NormalizerInterface`
  serializer/custom_normalizer.rst
Labels: Status: Reviewed, Serializer

#18517 [Twig] Remove the deprecated autoescape option
  reference/configuration/twig.rst
Labels: Status: Needs Review, Twig

#18511 [Form]  Deprecate not setting a value for widget option of date/time types
  reference/forms/types/options/date_widget_description.rst.inc
Labels: Form, Status: Needs Review

#18515 [Translation] Deprecate the PhpExtractor
  reference/dic_tags.rst
Labels: Status: Needs Review, Translation

#18516 [Translation] Update the PHP extraction information for Symfony 7.0
  reference/dic_tags.rst
Labels: Status: Needs Review, Translation

#18512 [Form] Update the default value of widget option in date/time types
  reference/forms/types/options/date_widget_description.rst.inc
Labels: Form, Status: Needs Review

#18513 Deprecate not setting a value for http_method_override option
  reference/configuration/framework.rst
Labels: Status: Needs Review

#18514 Update the default value of the http_method_override option
  reference/configuration/framework.rst
Labels: Status: Needs Review

#18531 Fixing typo
  frontend/asset_mapper.rst
Labels: Status: Reviewed, front-end

#18532 Importmaps => import maps
  frontend/asset_mapper.rst
Labels: Status: Reviewed, front-end

#18533 Minor
  frontend/asset_mapper.rst
Labels: Status: Reviewed, front-end

#18530 [Testing] Mention the `KernelBrowser::disableReboot` method
  testing.rst
Labels: Testing, Status: Reviewed

#18534 Minor typo
  contributing/documentation/format.rst
Labels: Status: Needs Review

#18536 Minor
  frontend/asset_mapper.rst
Labels: Status: Reviewed, front-end

#18539 [Doctrine] Fix line numbers in example
  doctrine.rst
Labels: Doctrine, Status: Needs Review

#18359 [Mailer] Rename Sendinlue to Brevo
  mailer.rst
Labels: Status: Reviewed, Mailer

#18544 [Notifier] Add Brevo bridge
  notifier.rst
Labels: Status: Reviewed, Notifier

#18545 [Notifier] Remove the Sendinblue bridge
  notifier.rst
  reference/configuration/twig.rst
Labels: Status: Reviewed, Notifier

#18518 [HttpKernel] Document UriSigner
  routing.rst
Labels: Status: Needs Review, HttpKernel

#18548 Fix typos
  frontend.rst
Labels: Status: Reviewed, front-end

#18525 Revamp the kernel configuration reference
  reference/configuration/framework.rst
  reference/configuration/kernel.rst
Labels: Status: Needs Review

#18550 [Console] Minor tweaks
  console/calling_commands.rst
  console/verbosity.rst
Labels: Console, Status: Reviewed

#18269 [Mailer] Add new email testing functions
  testing.rst
Labels: Status: Reviewed, Mailer

#17650 Add YAML encoder to serializer diagram
  _images/components/serializer/serializer_workflow.svg
  _images/sources/components/serializer/serializer_workflow.dia
Labels: Status: Reviewed

#18552 docs: fix typos
  components/uid.rst
  reference/configuration/framework.rst
  routing.rst
  setup/symfony_server.rst
Labels: Status: Needs Review

#18551 Add property types
  components/asset.rst
  components/dependency_injection.rst
  components/property_access.rst
  components/property_info.rst
  components/runtime.rst
  components/serializer.rst
  components/validator/metadata.rst
  configuration/using_parameters_in_dic.rst
  contributing/code/standards.rst
  controller/upload_file.rst
  doctrine/associations.rst
  form/create_form_type_extension.rst
  form/inherit_data_option.rst
  form/unit_testing.rst
  form/use_empty_data.rst
  form/validation_group_service_resolver.rst
  quick_tour/flex_recipes.rst
  reference/constraints/Callback.rst
  reference/constraints/Expression.rst
  reference/constraints/Json.rst
  routing/custom_route_loader.rst
  service_container/autowiring.rst
  service_container/calls.rst
  service_container/configurators.rst
  service_container/injection_types.rst
  service_container/service_decoration.rst
  service_container/tags.rst
  testing/database.rst
  validation/groups.rst
  validation/sequence_provider.rst
Labels: Status: Needs Review

#18553 [Testing] Response Assertions: add examples of headers
  testing.rst
Labels: Testing, Status: Reviewed

#16416 Update configuration.rst and deployment.rst for dotenv:dump command
  configuration.rst
  deployment.rst
Labels: Status: Reviewed

#18569 Fix typo
  console/input.rst
Labels: Status: Reviewed

#18562 [OptionsResolver] Typo
  components/options_resolver.rst
Labels: Status: Reviewed, OptionsResolver

#18563 [DependencyInjection] Improve reporting named autowiring aliases
  quick_tour/the_architecture.rst
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#18570 [Validator] Add missing types and return types
  reference/constraints/Callback.rst
  reference/constraints/DisableAutoMapping.rst
  reference/constraints/EnableAutoMapping.rst
  validation/custom_constraint.rst
Labels: Validator, Status: Reviewed

#18572 [Serializer] Deprecate `CacheableSupportsMethodInterface`
  serializer/custom_normalizer.rst
Labels: Status: Reviewed, Serializer

#18573 [Serializer] Remove `CacheableSupportsMethodInterface`
  serializer/custom_normalizer.rst
Labels: Status: Reviewed, Serializer

#18576 [Messenger] Fix the introduction diagram
  _images/components/messenger/overview.svg
  _images/sources/components/messenger/overview.dia
Labels: Status: Reviewed, Messenger

#18575 [Twig] [TwigBundle] Allow omitting the autoescape_service_method
  reference/configuration/twig.rst
Labels: Status: Needs Review, Twig

#18582 [Console] Add `ProgressIndicator` page
  components/console/helpers/progressbar.rst
  components/console/helpers/progressindicator.rst
  console.rst
Labels: Console, Status: Reviewed

#18588 fix reference
  frontend/asset_mapper.rst
Labels: Status: Reviewed, front-end

#18586 [Twig] Typo
  reference/configuration/twig.rst
Labels: Status: Reviewed, Twig

#18585 [Form] Improve form type methods explanation
  form/create_custom_field_type.rst
Labels: Form, Status: Reviewed

#18587 [Form] Fix form data related events definition
  form/events.rst
Labels: Form, Status: Reviewed

#18571 add `OptionsResolverIntrospector`usage doc
  components/options_resolver.rst
Labels: Status: Needs Review

#18579 [Config] Update definition.rst
  components/config/definition.rst
Labels: Config, Status: Needs Review

#18557 [Notifier] Add options parameter to SmsMessage
  notifier.rst
Labels: Status: Reviewed, Notifier

#18591 [Best Practices] Remove annotations paragraph
  best_practices.rst
Labels: Status: Needs Review

#18592 [OptionsResolver] Fix indentation
  components/options_resolver.rst
Labels: OptionsResolver, Status: Needs Review

#18593 [Form] Improve form validation section
  forms.rst
Labels: Form, Status: Reviewed

#18590 [Documentation] Deprecate annotations
  best_practices.rst
  bundles/best_practices.rst
  components/config/resources.rst
  components/serializer.rst
  components/validator/resources.rst
  configuration/micro_kernel_trait.rst
  configuration/multiple_kernels.rst
  controller.rst
  controller/upload_file.rst
  doctrine.rst
  doctrine/associations.rst
  form/unit_testing.rst
  page_creation.rst
  quick_tour/the_big_picture.rst
  reference/attributes.rst
  reference/configuration/doctrine.rst
  reference/constraints/DisableAutoMapping.rst
  reference/constraints/EnableAutoMapping.rst
  routing.rst
  routing/custom_route_loader.rst
  security.rst
  serializer.rst
Labels: Status: Reviewed

#18598 Fix Method 'getException' not found in ExceptionEvent
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed

#18596 [Console] Corrected return type of anonymous functions
  components/console/helpers/questionhelper.rst
Labels: Console, Status: Reviewed

#18601 [Config] Improve adding support for XML format
  configuration.rst
Labels: Config, Status: Reviewed

#18602 [Serializer] Custom normalizer deprecation
  serializer/custom_normalizer.rst
Labels: Status: Reviewed, Serializer

#18604 [Security] Remove deprecated XML config
  security/custom_authenticator.rst
  security/entry_point.rst
Labels: Security, Status: Reviewed

#18606 Fix a typo making CI red
  serializer/custom_normalizer.rst
Labels: Status: Reviewed

#18607 [HttpClient] Backport HAR files feature
  http_client.rst
Labels: Status: Reviewed, HttpClient

#18600 [Translation] Add docs for pseudolocalization translator
  _images/translation/pseudolocalization-interface-original.png
  _images/translation/pseudolocalization-interface-translated.png
  _images/translation/pseudolocalization-symfony-demo-disabled.png
  _images/translation/pseudolocalization-symfony-demo-enabled.png
  translation.rst
Labels: Status: Reviewed, Translation

#18611 [Mailer] Fix typo
  mailer.rst
Labels: Status: Needs Review, Mailer

#18618 [FrameworkBundle] Fix merging typos
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#18616 [FrameworkBundle] Add note for `prefix_seed` about container compilation
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#18599 [Form] Support Translatable Enum
  reference/forms/types/enum.rst
Labels: Form, Status: Reviewed

#18613 [Form] Improve form type guessers section
  form/type_guesser.rst
Labels: Form, Status: Needs Review

#18614 [Cache] Update redis_adapter.rst
  components/cache/adapters/redis_adapter.rst
Labels: Cache, Status: Needs Review

#18621 Fix some internal references
  components/cache/cache_pools.rst
  doctrine/multiple_entity_managers.rst
  http_client.rst
  reference/configuration/framework.rst
Labels: Status: Reviewed

#18624 fix syntax
  logging/handlers.rst
Labels: Status: Needs Review

#18623 [Logger] [MonologBridge] Remove support for monolog < 3.0
  logging/handlers.rst
Labels: Logger, Status: Reviewed

#18608 [micro_kernel] Fix deleted feature AnnotationRegistry::registerLoader
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed

#18581 [Mailer] Add Scaleway bridge documentation
  mailer.rst
Labels: Status: Reviewed, Mailer

#18527 [Validator] Update `Type` constraint, add `number`, `finite-float` and `finite-number` validations
  reference/constraints/Type.rst
Labels: Validator, Status: Reviewed

#18644 [VarDumper] Display uninitialized vars info
  _images/components/var_dumper/10-uninitialized.png
  components/var_dumper.rst
Labels: Status: Reviewed, VarDumper

#18634 Remove some unused use
  components/event_dispatcher.rst
  configuration.rst
  frontend/custom_version_strategy.rst
  service_container.rst
Labels: Status: Reviewed

#18632 Webpack encore requires Sass v13 instead of v12
  frontend/encore/simple-example.rst
Labels: Status: Reviewed

#18631 [Messenger] Add `RunProcessMessage`, `RunCommandMessage` and `PingWebhookMessage`
  messenger.rst
Labels: Status: Reviewed, Messenger
