Repository symfony/symfony-docs, pull requests merged in 2024-09, with the labels that each got.

#20177 Fix typos in end_to_end.rst
  testing/end_to_end.rst
Labels: Status: Reviewed

#20181 [Mailer] Remove unnecessary type checking for the method from SentMessageEvent
  mailer.rst
Labels: Status: Reviewed, Mailer

#20183 Use the same template across all examples
  security/login_link.rst
Labels: Status: Reviewed

#20173 [FrameworkBundle][HttpClient] Adding an explanation of `ThrottlingHttpClient` integration with the framework
  http_client.rst
Labels: Status: Reviewed, FrameworkBundle, HttpClient

#20182 [Translation] fix: add nikic/php-parser requirement for translation:extract in tran…
  translation.rst
Labels: Status: Needs Review, Translation

#20185 Replace code block text with terminal where it was used incorrectly
  components/console/helpers/table.rst
  contributing/community/reviews.rst
Labels: Status: Reviewed

#20188 bundles - add reason why they are not recommended
  best_practices.rst
  bundles.rst
Labels: Status: Reviewed

#20189 [Messenger] Update reference for `framework.cache.prefix_seed` config node
  messenger.rst
Labels: Status: Reviewed, Messenger

#20194 [Scheduler] Fix indention and single quotes for the example in `A Dynamic Vision for the Messages Generated` section
  scheduler.rst
Labels: Status: Needs Review, Scheduler

#20199 Fix typo in mailer.rst
  mailer.rst
Labels: Status: Reviewed

#20200 Update link for accelerated downloads on nginx
  components/http_foundation.rst
Labels: Status: Reviewed

#20201 [Serializer] Add the yaml and xml config folders
  serializer.rst
Labels: Status: Reviewed, Serializer

#20203 [Serializer] Update serializer.rst - Use the right namespace for the Attribute
  serializer.rst
Labels: Status: Reviewed, Serializer

#20207 [AssetMapper] Add missing backticks for inline snippets
  frontend/asset_mapper.rst
Labels: Status: Reviewed, AssetMapper

#20205 [Messenger] Add missing backticks for inline snippets
  messenger.rst
Labels: Status: Reviewed, Messenger

#20204 [FrameworkBundle] Remove default value for `gc_probability` config option
  reference/configuration/framework.rst
Labels: Status: Needs Review, FrameworkBundle

#19259 [Messenger] Merge configuration blocks for AsMessageHandler attribute
  messenger.rst
Labels: Status: Reviewed, Messenger

#17971 [Runtime] Document registering your own runtime template
  components/runtime.rst
Labels: Status: Reviewed, Runtime

#20219 [Templating] use /templates instead of /Resources/views
  templates.rst
Labels: Templating, Status: Needs Review

#20129 [FrameworkBundle][HttpFoundation] Deprecate `session.sid_length` and `session.sid_bits_per_character` config options
  reference/configuration/framework.rst
  session.rst
Labels: HttpFoundation, Status: Needs Review, FrameworkBundle

#20220 [OptionsResolver] [Options Resolver] Fix file reference method
  components/options_resolver.rst
Labels: Status: Reviewed, OptionsResolver

#20225 [Uid] Add the `Uuid::FORMAT_RFC_9562` constant
  components/uid.rst
Labels: Status: Reviewed, Uid

#20226 [Testing] Typo correction testing.rst
  testing.rst
Labels: Testing, Status: Needs Review

#20217 [Mailer] add Mailtrap docs
  mailer.rst
Labels: Status: Reviewed, Mailer

#20212 [WebLink] improve web_link
  web_link.rst
Labels: Status: Reviewed, WebLink

#20216 [Emoji][String] Extract Emoji from String documentation
  components/intl.rst
  emoji.rst
  string.rst
Labels: Status: Needs Review, String, Emoji

#20239 Fix typo in value_resolver.rst
  controller/value_resolver.rst
Labels: Status: Reviewed

#20238 [HttpFoundation] Document the PRIVATE_SUBNETS string
  deployment/proxies.rst
Labels: HttpFoundation, Status: Needs Review

#20234 [Security] Allow passport attributes in `Security::login()`
  security.rst
Labels: Security, Status: Reviewed

#20231 [String] Document the Spanish inflector
  string.rst
Labels: Status: Reviewed, String

#20242 Move some core team members to the former core members section
  contributing/code/core_team.rst
Labels: Status: Reviewed

#20244 [DependencyInjection] Fix typo filename
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#20236 [FrameworkBundle] Document the `resolve-env-vars` option of `lint:container` command
  service_container.rst
Labels: Status: Reviewed, FrameworkBundle

#20232 [Translation] Mention the support of segment attributes in XLIFF
  reference/formats/xliff.rst
Labels: Status: Needs Review, Translation

#20249 [Form] Remove a broken link
  reference/forms/types/search.rst
Labels: Form, Status: Reviewed

#20240 [Security] Fix role to detect logged-in user
  security.rst
Labels: Security, Status: Reviewed

#20250 [Form] Remove legacy message
  reference/forms/types/birthday.rst
  reference/forms/types/checkbox.rst
  reference/forms/types/choice.rst
  reference/forms/types/collection.rst
  reference/forms/types/color.rst
  reference/forms/types/country.rst
  reference/forms/types/currency.rst
  reference/forms/types/date.rst
  reference/forms/types/dateinterval.rst
  reference/forms/types/datetime.rst
  reference/forms/types/email.rst
  reference/forms/types/enum.rst
  reference/forms/types/file.rst
  reference/forms/types/form.rst
  reference/forms/types/hidden.rst
  reference/forms/types/integer.rst
  reference/forms/types/language.rst
  reference/forms/types/locale.rst
  reference/forms/types/money.rst
  reference/forms/types/number.rst
  reference/forms/types/password.rst
  reference/forms/types/percent.rst
  reference/forms/types/radio.rst
  reference/forms/types/range.rst
  reference/forms/types/repeated.rst
  reference/forms/types/search.rst
  reference/forms/types/tel.rst
  reference/forms/types/time.rst
  reference/forms/types/timezone.rst
  reference/forms/types/ulid.rst
  reference/forms/types/url.rst
  reference/forms/types/uuid.rst
  reference/forms/types/week.rst
Labels: Form, Status: Reviewed

#20253 [Testing] Remove an old article
  _build/redirection_map
  testing/http_authentication.rst
Labels: Testing, Status: Reviewed

#20254 [Doctrine][Security] Remove an old article about registration forms
  _build/redirection_map
  doctrine.rst
  doctrine/registration_form.rst
  security.rst
Labels: Doctrine, Security, Status: Reviewed

#20261 [DependencyInjection] Fix code example
  service_container.rst
Labels: DependencyInjection, Status: Needs Review

#20256 [Form] Remove a legacy article
  _build/redirection_map
  form/form_dependencies.rst
  forms.rst
Labels: Form, Status: Reviewed

#20247 [Console] Document the silent verbosity level
  components/console/usage.rst
  console/input.rst
  console/verbosity.rst
Labels: Console, Status: Needs Review

#20206 Add examples for flashbag peek and peekAll methods
  session.rst
Labels: Status: Needs Review

#20262 [WebLink] Add the missing installation section
  web_link.rst
Labels: Status: Reviewed, WebLink

#20270 [Webhook] add Mailtrap webhook docs
  webhook.rst
Labels: Status: Reviewed, Webhook

#20246 [DependencyInjection] Documenting non-empty container parameters
  configuration.rst
Labels: DependencyInjection, Status: Reviewed
