Repository symfony/symfony-docs, pull requests merged in 2024-10, with the labels that each got.

#20274 [String] Add the `AbstractString::kebab()` method
  string.rst
Labels: Status: Reviewed, String

#20275 [AssetMapper] Document the filtering options of debug:asset-map
  frontend/asset_mapper.rst
Labels: Status: Needs Review, AssetMapper

#20279 [Mailer] mark Mailtrap as having Webhook support
  mailer.rst
Labels: Status: Reviewed, Mailer

#20285 [ExpressionLanguage] Add logical xor
  reference/formats/expression_language.rst
Labels: Status: Reviewed, ExpressionLanguage

#20287 [DomCrawler] Fixing code typo
  components/dom_crawler.rst
Labels: Status: Reviewed, DomCrawler

#20284 [Testing] Update testing.rst
  testing.rst
Labels: Testing, Status: Needs Review

#20288 [Messenger] Describe the options of the messenger:failed:retry command
  messenger.rst
Labels: Status: Reviewed, Messenger

#20300 [Console] Document FinishedIndicator for Progress indicator
  components/console/helpers/progressindicator.rst
Labels: Console, Status: Reviewed

#20283 [Validator] Add example for passing groups and payload to Compound
  reference/constraints/Compound.rst
Labels: Validator, Status: Reviewed

#20273 [Serializer] Deprecate ``AdvancedNameConverterInterface``
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#20286 [Mailer][Webhook] add Mandrill webhook docs
  mailer.rst
  webhook.rst
Labels: Status: Reviewed, Mailer, Webhook

#20289 Document the new `SYMFONY_*` env vars
  deployment/proxies.rst
  reference/configuration/framework.rst
Labels: Status: Needs Review

#20292 [Ldap] Add support for `sasl_bind` and `whoami` LDAP operations
  components/ldap.rst
Labels: Ldap, Status: Needs Review

#20318 Adopt Snake Case Naming for Route Paths and Names
  contributing/code/standards.rst
Labels: Status: Reviewed

#20322 [Validator] Add missing ref in constraint map to the new Yaml constraint.
  reference/constraints/map.rst.inc
Labels: Validator, Status: Reviewed

#20317 [Notifier] Add LINE Bot notifier
  notifier.rst
Labels: Status: Reviewed, Notifier

#20316 [AssetMapper] Add info about troubleshooting assets loading with Panther.
  testing/end_to_end.rst
Labels: Status: Reviewed, AssetMapper

#20319 [Form] Documenting ``choice_lazy`` option
  reference/forms/types/choice.rst
  reference/forms/types/options/choice_lazy.rst.inc
Labels: Form, Status: Reviewed

#20324 [Notifier] merge versionadded directives
  notifier.rst
Labels: Status: Reviewed, Notifier

#20094 [Messenger] Document SSL options for Redis
  messenger.rst
Labels: Status: Reviewed, Messenger

#20327 [Testing] Fix `:ref:` link
  testing/end_to_end.rst
Labels: Testing, Status: Reviewed

#20329 [Config] Fix the XML configuration example for enums
  configuration.rst
Labels: Config, Status: Reviewed

#20328 [HttpKernel] Fix class name
  controller.rst
Labels: Status: Reviewed, HttpKernel

#20325 [Messenger] Add reference to PHP docs for SSL context options
  messenger.rst
Labels: Status: Reviewed, Messenger

#20332 [HttpClient] Rename addHeader to setHeader
  http_client.rst
Labels: Status: Reviewed, HttpClient

#20333 Fix parameter name in `registerAttributeForAutoconfiguration` example
  service_container/tags.rst
Labels: Status: Reviewed

#20003 [Messenger] Document `#[AsMessage]` attribute
  messenger.rst
  reference/attributes.rst
Labels: Status: Needs Review, Messenger

#20330 [Messenger] Replace the tables by definition lists
  messenger.rst
Labels: Status: Reviewed, Messenger

#20307 Add BC promise rules for constructors
  contributing/code/bc.rst
Labels: Status: Reviewed

#20331 [Console] Update FinishedIndicator documentation for Progress indicator
  components/console/helpers/progressindicator.rst
Labels: Console, Status: Reviewed

#20066 [Security] add the `$token` argument to `checkPostAuth()`
  security/user_checkers.rst
Labels: Security, Status: Reviewed

#17273 [DependencyInjection] Document service tags being moved when decorating
  service_container/service_decoration.rst
Labels: DependencyInjection, Status: Reviewed

#20334 Fix typo preventing link to be parsed
  service_container/service_decoration.rst
Labels: Status: Needs Review

#19949 [Contributing] Add documentation for rebasing when contributing to the docs
  contributing/documentation/overview.rst
Labels: Status: Needs Review

#20338 [Notifier] Add Sweego Bridge documentation
  notifier.rst
  webhook.rst
Labels: Status: Reviewed, Notifier

#20340 [Translation] Fix param name for lint:translations
  translation.rst
Labels: Status: Reviewed, Translation

#20339 [Messenger] Update external link on doc
  messenger.rst
Labels: Status: Reviewed, Messenger

#20345 correct grammer introduction.rst
  create_framework/introduction.rst
Labels: Status: Needs Review

#20346 [Frontend] Add some comments about minifying assets
  frontend.rst
  frontend/asset_mapper.rst
Labels: front-end, Status: Needs Review

#20351 [ExpressionLanguage] fix lint method description
  components/expression_language.rst
Labels: ExpressionLanguage, Status: Needs Review

#20350 fix footnote reference
  frontend.rst
Labels: Status: Reviewed, front-end

#20352 [Translation] Add --prefix and --no-fill to translation page
  translation.rst
Labels: Status: Reviewed, Translation

#20358 [Validator] [Validation] Fix some RST syntax issue
  validation/sequence_provider.rst
Labels: Validator, Status: Reviewed

#20356 fix typo
  translation.rst
Labels: Status: Reviewed

#20360 [Translation] document the translation:extract command's --prefix option
  translation.rst
Labels: Status: Reviewed, Translation

#20364 [EventDispatcher] Fix XSS in example event dispatcher
  event_dispatcher.rst
Labels: EventDispatcher, Status: Reviewed

#20363 [EventDispatcher] Add a 'Learn More' section to event dispatcher to easily find related…
  event_dispatcher.rst
  security.rst
Labels: EventDispatcher, Status: Reviewed

#20362 [AssetMapper] Document usage of `strict-dynamic` in a CSP
  frontend/asset_mapper.rst
Labels: Status: Reviewed, AssetMapper

#20241 [Routing] Add note on nuances of the Routing exclude config option
  routing.rst
Labels: Routing, Status: Needs Review
