Repository symfony/symfony-docs, pull requests merged in 2024-06, with the labels that each got.

#19933 [Lock] Improve the documentation about serializing lock keys
  components/lock.rst
Labels: Status: Reviewed, Lock

#19939 [Form] Change Type of field to correct one
  reference/forms/types/time.rst
Labels: Form, Status: Needs Review

#19924 [String] Update the emoji transliteration docs
  string.rst
Labels: Status: Reviewed, String

#19941 [Notifier] Fixes typo
  notifier.rst
Labels: Status: Needs Review, Notifier

#19932 [Routing] Fix broken link for UriSigner::sign method
  routing.rst
Labels: Routing, Status: Reviewed

#19935 [Scheduler] Add missing dispatcher in Scheduler example
  scheduler.rst
Labels: Scheduler

#19835 [Notifier] add Primotexto bridge
  notifier.rst
Labels: Status: Reviewed, Notifier

#19938 [Validator] BicValidator add strict mode to validate bics in strict mode
  reference/constraints/Bic.rst
Labels: Validator, Status: Reviewed

#19945 [Serializer] fix markup
  components/serializer.rst
Labels: Serializer, Status: Needs Review

#19950 :art: Fix precedence table rendering
  reference/formats/expression_language.rst
Labels: Status: Reviewed

#19946 [Mailer] Fixed and clarified custom Content-ID feature documentation
  mailer.rst
Labels: Status: Reviewed, Mailer

#19922 [PropertyAccess] __isset() returns true only if values are present
  components/property_access.rst
Labels: Status: Reviewed, PropertyAccess

#19877 [Doctrine] Replace serverVersion example values with full version numbers
  doctrine.rst
  doctrine/dbal.rst
  reference/configuration/doctrine.rst
  testing.rst
Labels: Doctrine

#19952 Fix indentation in upgrade_major.rst
  setup/upgrade_major.rst
Labels: Status: Reviewed

#19953 [Messenger] Update messenger.rst
  messenger.rst
Labels: Status: Reviewed, Messenger

#19943 [Security] Update csrf.rst
  security/csrf.rst
Labels: Security, Status: Reviewed

#19895 [Scheduler] Update scheduler: Fixes the code in the Custom Triggers example
  scheduler.rst
Labels: Status: Reviewed, Scheduler

#19959 [Translation] Document `lint:translations` command
  translation.rst
Labels: Status: Reviewed, Translation

#19958 [ExpressionLanguage] Document the null-coalesce operator changes
  reference/formats/expression_language.rst
Labels: Status: Reviewed, ExpressionLanguage

#19962 Add link translation provider
  translation.rst
Labels: Status: Reviewed

#19964 Fix typo in messenger.rst
  messenger.rst
Labels: Status: Reviewed

#19956 Fix a WSL command in the Symfony Server doc
  setup/symfony_server.rst
Labels: Status: Needs Review

#19966 [Security] Add namespace for AccessTokenHandler
  security/access_token.rst
Labels: Security, Status: Needs Review

#19915 Prepare 7.2 branch
  contributing/code/pull_requests.rst
  contributing/code/tests.rst
  setup.rst
Labels: Status: Reviewed

#19961 [Security] Remove an unneeded comment
  security/custom_authenticator.rst
Labels: Security, Status: Needs Review

#19538 [Security] add CAS 2.0 AccessToken handler
  security/access_token.rst
Labels: Security, Status: Reviewed

#19968 [HttpClient] Fix how cookies are defined and sent
  http_client.rst
Labels: Status: Reviewed, HttpClient

#19971 Update access_token.rst, removed letter
  security/access_token.rst
Labels: Status: Needs Review

#19972 [Serializer] Replace deprecated ISO8601 with Atom
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#19957 [Cache] Mention that user/password are not supported for Redis DSN
  components/cache/adapters/redis_adapter.rst
Labels: Status: Reviewed, Cache

#19970 [FrameworkBundle] Mention that you need a config/ dir for MicroKernelTrait
  configuration/micro_kernel_trait.rst
Labels: Status: Needs Review, FrameworkBundle

#19969 [HttpClient] Reorganize the docs about the retry_failed option
  reference/configuration/framework.rst
Labels: Status: Needs Review, HttpClient

#19773 [Emoji][Twig] Add `emojify` filter
  reference/twig_reference.rst
  string.rst
Labels: Status: Reviewed, Twig, Emoji

#19977 [FrameworkBundle] Simplified the MicroKernelTrait setup
  configuration/micro_kernel_trait.rst
Labels: Status: Reviewed, FrameworkBundle

#19806 [FrameworkBundle] Add reference to `framework.session.storage_id` option
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#18243 [DependencyInjection] Mark service as public with #[Autoconfigure] attribute
  service_container.rst
  service_container/alias_private.rst
Labels: DependencyInjection, Status: Reviewed

#19825 [Routing] Document the effect of setting `locale` on a route with locale prefixes
  routing.rst
Labels: Routing, Status: Needs Review

#16683 [Serializer] Update serializer.rst
  components/serializer.rst
Labels: Status: Reviewed, Serializer

#19811 [Scheduler] show ``make:schedule``
  scheduler.rst
Labels: Status: Reviewed, Scheduler

#19789 [DependencyInjection] Clarify the `#[Target]` attribute
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#19814 [DependencyInjection] Clarify the `#[Target]` attribute 2
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#19965 [Validator] Add the Yaml constraint
  components/yaml.rst
  reference/constraints/Yaml.rst
Labels: Validator, Status: Needs Review

#19983 Update best_practices.rst, add /routes
  best_practices.rst
Labels: Status: Needs Review

#19960 [ExpressionLanguage] Remove misleading warning
  components/expression_language.rst
Labels: ExpressionLanguage, Status: Needs Review

#19993 [Yaml] Minor fix when using the format option in the lint command
  components/yaml.rst
Labels: Status: Reviewed, Yaml

#19994 [DependencyInjection] Add `#[WhenNot]` attribute
  reference/attributes.rst
  service_container.rst
Labels: DependencyInjection, Status: Reviewed

#19992 [ExpressionLanguage] Add support for comments
  reference/formats/expression_language.rst
Labels: Status: Reviewed, ExpressionLanguage

#19995 [Doctrine] Fix the version in which AsDoctrineListener was added
  doctrine/events.rst
Labels: Doctrine, Status: Reviewed

#19988 Allow EntityValueResolver to return a list of entities
  doctrine.rst
Labels: Status: Needs Review, DoctrineBridge

#19998 [Notifier] Fix code example for `SentMessageEvent`
  notifier.rst
Labels: Status: Needs Review, Notifier

#19979 [Serializer] Update serializer.rst
  components/serializer.rst
Labels: Serializer, Status: Needs Review

#19978 [Mailer] Add mailomat mailer
  mailer.rst
  webhook.rst
Labels: Status: Reviewed, Mailer
