Repository symfony/symfony-docs, pull requests merged in 2025-05, with the labels that each got.

#20927 Update Create Framework tutorial
  create_framework/dependency_injection.rst
  create_framework/event_dispatcher.rst
  create_framework/http_foundation.rst
  create_framework/http_kernel_controller_resolver.rst
  create_framework/http_kernel_httpkernel_class.rst
Labels: Status: Reviewed

#20928 Fix setParameter for RouteCollection in Create Framework tutorial
  create_framework/dependency_injection.rst
Labels: Status: Reviewed

#20938 remove reference to Travis CI (no longer free)
  bundles/best_practices.rst
Labels: Status: Needs Review

#20945 [Mercure] Explain the reason for `--no-tls` option
  mercure.rst
Labels: Status: Reviewed, Mercure

#20941 [Console] Update the table helper page
  components/console/helpers/table.rst
Labels: Console, Status: Reviewed

#20942 [Console] Update some contents of the Tree helper
  components/console/helpers/tree.rst
Labels: Console, Status: Reviewed

#20935 [Mailer][Mime] Refactor S/MIME encryption handling in `SMimeEncryptionListener`
  mailer.rst
Labels: Status: Reviewed, Mailer, Mime

#20929 Use phpunit 10 in Create Framework tutorial
  create_framework/unit_testing.rst
Labels: Status: Reviewed

#20701 [Mailer] Document `require_tls` option
  mailer.rst
Labels: Status: Reviewed, Mailer

#20930 Use PHPUnit 11 in "Create Framework" tutorial
  create_framework/unit_testing.rst
Labels: Status: Reviewed

#20952 [Cache] Mention Valkey is Redis
  components/cache/adapters/redis_adapter.rst
  configuration/secrets.rst
Labels: Cache, Status: Needs Review

#20951 [Twig] [TwigBundle] Describe the new behaviour of twig.cache config
  reference/configuration/twig.rst
Labels: Status: Reviewed, Twig

#20947 [AssetMapper] Update asset_mapper.rst
  frontend/asset_mapper.rst
Labels: Status: Reviewed, AssetMapper

#20953 [Security] Tell about erasing credentials when the user is stored in the session
  reference/configuration/security.rst
  security.rst
Labels: Security, Status: Needs Review

#20957 [Cache] Tell about namespace-based invalidation
  components/cache.rst
Labels: Cache, Status: Needs Review

#20958 [DependencyInjection] Tell about `#[AutowireInline]`
  service_container/autowiring.rst
Labels: DependencyInjection, Status: Reviewed

#20955 Update doc about lazy objects
  components/var_exporter.rst
  service_container/lazy_services.rst
Labels: Status: Needs Review

#20954 [Security] [Best practices] Remove mention of `anonymous`
  best_practices.rst
Labels: Security, Status: Reviewed

#20962 [Validator] avoid broken rendering of inline types in `UniqueEntity`
  reference/constraints/UniqueEntity.rst
Labels: Validator, Status: Needs Review

#20966 [Cache] Improve the docs about cache namespaces
  cache.rst
  components/cache.rst
Labels: Status: Reviewed, Cache

#20970 fix typo "a unsubstantial" -> "an unsubstantial"
  contributing/core_team.rst
Labels: Status: Reviewed

#20973 [Doctrine] Remove redundant example with attribute
  doctrine/events.rst
Labels: Doctrine, Status: Reviewed

#20972 Changed text to mention one Product object instead of many
  doctrine/associations.rst
Labels: Status: Reviewed

#20893 [Validator] Highlight `extensions` instead of `mimeTypes` for `File` constraint
  controller/upload_file.rst
Labels: Validator, Status: Reviewed

#20956 [Routing] Tell about `{foo:bar}` mapping syntax
  doctrine.rst
  routing.rst
Labels: Routing, Status: Reviewed

#20979 [Validator] remove the Slug constraint
  reference/constraints/Slug.rst
  reference/constraints/map.rst.inc
Labels: Validator, Status: Reviewed

#20688 [Routing] Clarify route aliases examples with explicit route names
  routing.rst
Labels: Routing, Status: Reviewed

#20983 Fix a list item in object_mapper.rst
  object_mapper.rst
Labels: Status: Reviewed

#20981 [Translation] Clarifying LocaleSwitcher's behavior
  translation.rst
Labels: Status: Needs Review, Translation

#20984 [Doctrine] fix: no bundle involved
  doctrine.rst
Labels: Doctrine, Status: Reviewed

#20964 [Security] Tell about stateless CSRF protection
  http_cache/varnish.rst
  reference/configuration/framework.rst
  security/csrf.rst
  session.rst
Labels: Security, Status: Reviewed

#20975 [Security] Add usage example for `#[IsCsrfTokenValid` attribute on controller classes
  security/csrf.rst
Labels: Security, Status: Needs Review

#20690 [Security] Add ability for voters to explain their vote
  security.rst
  security/voters.rst
Labels: Security, Status: Reviewed

#20967 [Workflow] Document custom workflow definition validator
  workflow.rst
Labels: Status: Reviewed, Workflow

#20990 [Security] Fix type in `upgradePassword`
  security/passwords.rst
Labels: Security, Status: Reviewed

#20993 [DependencyInjection] Update AsTaggedItem parameters name in the file value_resolver.rst
  controller/value_resolver.rst
Labels: DependencyInjection, Status: Reviewed

#20992 [Form] Remove link to abandoned collection package
  form/form_collections.rst
Labels: Form, Status: Reviewed

#20987 Mention that backward compatibility promise doesn't cover translations
  contributing/code/bc.rst
Labels: Status: Reviewed

#20997 [Uid] Update uid.rst
  components/uid.rst
Labels: Status: Needs Review, Uid

#21007 [Uid] Update uid.rst
  components/uid.rst
Labels: Status: Needs Review, Uid

#20637 [Security] Add support for encrypted access tokens (JWE) in OIDC
  security/access_token.rst
Labels: Security, Status: Reviewed

#20638 [Routing] Add Attribute code examples for alias in `#[Route]` attribute
  routing.rst
Labels: Routing, Status: Reviewed

#20846 [Messenger] [Amqp] Add default exchange support
  messenger.rst
Labels: Status: Reviewed, Messenger

#20636 [Security] Update custom authenticator docs to include identifier normalization
  security/custom_authenticator.rst
Labels: Security, Status: Needs Review

#20936 [FrameworkBundle] fix default value for the `collect_serializer_data` option
  reference/configuration/framework.rst
Labels: Status: Reviewed, FrameworkBundle

#21008 [Security] Document the new `expose_security_errors` option
  reference/configuration/security.rst
Labels: Security, Status: Reviewed

#21009 [Cache][Lock] Add support for `Relay\Cluster` in docs
  components/cache/adapters/redis_adapter.rst
  components/lock.rst
Labels: Cache, Status: Needs Review, Lock

#20982 [Scheduler] Add runtime schedule modification feature to docs
  scheduler.rst
Labels: Status: Reviewed, Scheduler

#21016 Replace `get_class()` calls by `::class`
  components/options_resolver.rst
  components/property_info.rst
  components/yaml.rst
  console/verbosity.rst
  doctrine/associations.rst
  security/user_providers.rst
  service_container/service_subscribers_locators.rst
Labels: Status: Needs Review

#21017 fix directive
  reference/configuration/security.rst
Labels: Status: Needs Review

#19809 [Security] `make:security:custom`
  security/custom_authenticator.rst
Labels: Security, Status: Reviewed

#20091 [DependencyInjection] Update import.rst
  service_container/import.rst
Labels: DependencyInjection, Status: Needs Review
