Repository symfony/symfony-docs, pull requests merged in 2025-02, with the labels that each got.

#20387 [Form] Update enum.rst: Adding `choice_label`
  reference/forms/types/enum.rst
Labels: Form, Status: Reviewed

#20186 [Mailer] Mention the `SentMessageEvent` and `FailedMessageEvent`
  mailer.rst
Labels: Status: Reviewed, Mailer

#19699 [Messenger] Messenger: custom consumer name with systemd
  messenger.rst
Labels: Status: Needs Review, Messenger

#20615 Replace left over "annotation" by "attribute"
  components/validator/resources.rst
Labels: Status: Reviewed

#20620 [Encore] [Frontend] Correct "Removes comments from CSS" comparison
  frontend.rst
Labels: Status: Reviewed, Encore

#20621 [Mailer] Minor reformating
  mailer.rst
Labels: Status: Reviewed, Mailer

#20627 [Validator] Add support for the `otherwise` option in the `When` constraint
  reference/constraints/When.rst
Labels: Validator, Status: Reviewed

#20639 [Doctrine] Fix 2 small grammar errors
  doctrine/events.rst
Labels: Doctrine, Status: Reviewed

#20643 Add a few words about core team member responsibilities
  contributing/code/core_team.rst
Labels: Status: Reviewed

#20649 [Cache] Fix "Marshalling (Serializing) Data" code rendering issue
  components/cache.rst
Labels: Status: Reviewed, Cache

#20646 [FrameworkBundle] Allow to pass signals to `StopWorkerOnSignalsListener` in XML config and as plain strings
  messenger.rst
Labels: Status: Reviewed, FrameworkBundle

#20651 [Security] Add `role_fetcher` option to LDAP security configuration
  security/ldap.rst
Labels: Security, Status: Reviewed

#20548 [Notifier] Add Matrix bridge
  notifier.rst
Labels: Status: Reviewed, Notifier

#20660 [VarExporter] Remove per-property support, dropped in Symfony 7.0
  components/var_exporter.rst
Labels: Status: Reviewed, VarExporter

#20661 [VarExporter] Add deprecation notice for propertyName and propertyScope in initiali…
  components/var_exporter.rst
Labels: Status: Reviewed, VarExporter

#20667 [Notifier] Reformat the tables that list the service integrations
  notifier.rst
Labels: Status: Needs Review, Notifier

#20666 Make tag aware config examples consistent
  cache.rst
Labels: Status: Reviewed

#20665 [DependencyInjection] Compiler pass bundle example does not implement `CompilerPassInterface`
  service_container/compiler_passes.rst
Labels: DependencyInjection, Status: Reviewed

#20668 [Notifier] Mention the extra info returned in Bluesky SentMessage
  notifier.rst
Labels: Status: Needs Review, Notifier

#20672 [Scheduler] Add missing spaces in scheduler
  scheduler.rst
Labels: Status: Reviewed, Scheduler

#20670 [Testing] Reorganize the introduction of some articles
  testing.rst
  testing/end_to_end.rst
Labels: Testing, Status: Needs Review

#20683 [Console] Remove invalid ProcessHelper specified usage
  components/console/helpers/processhelper.rst
Labels: Console, Status: Reviewed

#20686 Add new core team members
  contributing/core_team.rst
Labels: Status: Reviewed

#20677 [Console] Fix argument position for addOption
  console/input.rst
Labels: Console, Status: Reviewed

#20695 [Mailer] [Amazon] Remove outdated warning
  mailer.rst
Labels: Status: Reviewed, Mailer

#20696 [Messenger][Beanstalkd] Add Priority support
  messenger.rst
Labels: Status: Reviewed, Messenger

#20698 fix typos
  components/var_dumper.rst
  reference/constraints/CssColor.rst
  reference/forms/types/options/choice_value.rst.inc
Labels: Status: Reviewed

#20697 fix typo
  components/config/definition.rst
Labels: Status: Reviewed

#20590 [Notifier] Add Smsbox Notifier doc
  notifier.rst
  webhook.rst
Labels: Status: Needs Review, Notifier
