Repository symfony/symfony-docs, pull requests merged in 2025-08, with the labels that each got.

#21267 [Testing] fix typo
  testing.rst
Labels: Testing, Status: Reviewed

#21268 [Testing] PHPUnit Version update
  testing.rst
Labels: Testing, Status: Reviewed

#21279 [Routing] correct environment-specific routing configuration examples
  routing.rst
Labels: Routing, Status: Reviewed

#21277 [Mailer] Add Microsoft Graph Mailer bridge
  mailer.rst
Labels: Status: Reviewed, Mailer

#21275 [JsonStreamer] Mention how to get the current object in value transformers
  serializer/streaming_json.rst
Labels: Status: Reviewed, JsonStreamer

#21281 [Mailer] Add missing formats & fix format order in Bridge table
  mailer.rst
Labels: Status: Needs Review, Mailer

#21287 [Cache] fix small typo in RedisAdapter docs
  components/cache/adapters/redis_adapter.rst
Labels: Status: Reviewed, Cache

#21288 Clarify renaming arguments isn't generally covered by the BC promise
  contributing/code/bc.rst
Labels: Status: Needs Review

#21331 Add documentation for extending `IsGranted` attribute
  security.rst
Labels: Status: Reviewed
